Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

.codecov.yml:

coverage:
  status:
    project:
      default: off
      automake:
        flags: automake
      cmake:
        flags: cmake
      python:
        target: 90%
        flags: python


flags:
  python:
    paths:
      - pylibxc/
  cmake:
    paths:
      - src/
  automake:
    paths:
      - src/

Revert "I had changed dimensions to be size_t (which is logical), so python interface has to be changed."
  pylibxc/structs.py
Due: python

Rename the min() and max() macros to m_min() and m_max()
  src/expint_e1.c
  src/integrate.c
  src/util.c
  src/util.h
  src/work_gga.c
  src/work_lda.c
  src/work_mgga.c
Due: cmake, automake

Silence compiler warnings
  src/genwiki.c
  src/xc-threshold.c
Due: cmake, automake

Apply 1 suggestion(s) to 1 file(s)
  CMakeLists.txt
Due: none

Fortran library produced by CMake should be soversioned.
  CMakeLists.txt
Due: none

Add hyb_gga_xc_b3p86_nwchem
  libxc.bib
  src/hyb_gga_xc_b3lyp.c
  src/references.c
  src/references.h
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.H.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.H.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.Li.unpol.1.bz2
Due: cmake, automake

Add functions for getting the up-to-date reference of libxc
  pylibxc/util.py
  src/libxc_master.F90
  src/version.c
  src/xc-info.c
  src/xc.h
Due: python, cmake, automake

Fortran pkgconfig via cmake (master)
  CMakeLists.txt
  cmake/libxcf03.pc.in
Due: none

Add Grimme's hyb_mgga_xc_tpss0
  libxc.bib
  src/hyb_mgga_xc_tpssh.c
  src/references.c
  src/references.h
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_tpss0.BrOH+.pol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_tpss0.BrOH+.pol.1.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_tpss0.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_tpss0.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_tpss0.BrOH.pol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_tpss0.BrOH.pol.1.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_tpss0.BrOH.unpol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_tpss0.BrOH.unpol.1.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_tpss0.Li.pol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_tpss0.Li.pol.1.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_tpss0.Li.unpol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_tpss0.Li.unpol.1.bz2
Due: cmake, automake

Add hyb_gga_xc_hflyp
  src/gga_c_lyp.c
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_hflyp.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_hflyp.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_hflyp.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_hflyp.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_hflyp.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_hflyp.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_hflyp.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_hflyp.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_hflyp.H.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_hflyp.H.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_hflyp.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_hflyp.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_hflyp.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_hflyp.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_hflyp.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_hflyp.Li.unpol.1.bz2
Due: cmake, automake

Update the f90 library, too
  src/libxc_master_f90.F90
Due: cmake, automake

FT97 and xc_reference
  ChangeLog.md
Due: none

fortran pkgconfig via cmake (hotfix)
  CMakeLists.txt
  cmake/libxcf03.pc.in
  cmake/libxcf90.pc.in
Due: none

Add another variant of gga_x_pw91 that matches NWChem.
  src/gga_x_pw91.c
  testsuite/regression/gga_x/gga_x_pw91_mod.BrOH+.pol.0.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.BrOH+.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.BrOH+.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.BrOH.pol.0.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.BrOH.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.BrOH.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.BrOH.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.H.pol.0.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.H.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.H.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.H.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.Li.pol.0.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.Li.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.Li.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.Li.unpol.1.bz2
Due: cmake, automake

Tag hflyp and tpss0 as hybrids
  src/gga_c_lyp.c
  src/hyb_mgga_xc_tpssh.c
Due: cmake, automake

Change id of gga_x_pw91_mod due to conflict
  src/gga_x_pw91.c
  testsuite/regression/gga_x/gga_x_pw91_mod.BrOH+.pol.0.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.BrOH+.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.BrOH+.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.BrOH.pol.0.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.BrOH.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.BrOH.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.BrOH.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.H.pol.0.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.H.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.H.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.H.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.Li.pol.0.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.Li.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.Li.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_pw91_mod.Li.unpol.1.bz2
Due: cmake, automake

External parameters for O3LYP and X3LYP
  src/hyb_gga_xc_o3lyp.c
Due: cmake, automake

Forgot to adapt APIs in CAM-O3LYP commit
  src/hyb_gga_xc_cam_o3lyp.c
  src/maple2c/gga_exc/gga_x_ityh_optx.c
Due: cmake, automake

Forgot to adapt APIs in O3LYP and X3LYP commit
  src/hyb_gga_xc_o3lyp.c
Due: cmake, automake

One more adaptation
  src/gga_x_ityh_optx.c
Due: cmake, automake

separate F and C exported targets and allow request as find_package(... COMPONENTS)
  CMakeLists.txt
  cmake/LibxcConfig.cmake.in
Due: none

(master) separate F and C exported targets and allow request as find_package(... COMPONENTS)
  CMakeLists.txt
  cmake/LibxcConfig.cmake.in
Due: none

lxc Fortran interfaces should be public
  src/libxc_master.F90
Due: cmake, automake

Update f90 wrapper, too
  src/libxc_master_f90.F90
Due: cmake, automake

Implement gga_x_ityh_pbe and hyb_gga_xc_lc_pbeop.
  CMakeLists.txt
  maple/gga_exc/Makefile.am
  maple/gga_exc/gga_x_ityh_pbe.mpl
  src/Makefile.am
  src/gga_x_ityh_pbe.c
  src/hyb_gga_xc_lc_blyp.c
  src/maple2c/gga_exc/Makefile.am
  src/maple2c/gga_exc/gga_x_ityh_pbe.c
  testsuite/regression/gga_x/gga_x_ityh_pbe.BrOH+.pol.0.bz2
  testsuite/regression/gga_x/gga_x_ityh_pbe.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_ityh_pbe.BrOH+.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_ityh_pbe.BrOH+.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_ityh_pbe.BrOH.pol.0.bz2
  testsuite/regression/gga_x/gga_x_ityh_pbe.BrOH.pol.1.bz2
  testsuite/regression/gga_x/gga_x_ityh_pbe.BrOH.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_ityh_pbe.BrOH.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_ityh_pbe.H.pol.0.bz2
  testsuite/regression/gga_x/gga_x_ityh_pbe.H.pol.1.bz2
  testsuite/regression/gga_x/gga_x_ityh_pbe.H.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_ityh_pbe.H.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_ityh_pbe.Li.pol.0.bz2
  testsuite/regression/gga_x/gga_x_ityh_pbe.Li.pol.1.bz2
  testsuite/regression/gga_x/gga_x_ityh_pbe.Li.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_ityh_pbe.Li.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.H.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.H.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.Li.unpol.1.bz2
Due: cmake, automake

Implemented mgga_c_kcisk, a variation of mgga_c_kcis.
  CMakeLists.txt
  maple/mgga_exc/Makefile.am
  maple/mgga_exc/mgga_c_kcisk.mpl
  src/Makefile.am
  src/maple2c/mgga_exc/Makefile.am
  src/maple2c/mgga_exc/mgga_c_kcisk.c
  src/mgga_c_kcisk.c
  testsuite/regression/mgga_c/mgga_c_kcisk.BrOH+.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_kcisk.BrOH+.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_kcisk.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_kcisk.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_kcisk.BrOH.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_kcisk.BrOH.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_kcisk.BrOH.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_kcisk.BrOH.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_kcisk.H.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_kcisk.H.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_kcisk.H.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_kcisk.H.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_kcisk.Li.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_kcisk.Li.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_kcisk.Li.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_kcisk.Li.unpol.1.bz2
Due: cmake, automake

Add missing Fortran wrapper for set_ext_params_name
  src/libxc_master.F90
Due: cmake, automake
