Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

Some functionals only have the sr part
  src/xc-info.c
Due: cmake, automake

A few JCP bib entries didn't have the page number set up correctly.
  libxc.bib
  src/references.c
Due: cmake, automake

Add set_ext_params_cpy_cam_sr
  src/util.c
  src/util.h
Due: cmake, automake

Implement the M06-SX functional.
  libxc.bib
  src/mgga_c_m06l.c
  src/mgga_x_m06l.c
  src/references.c
  src/references.h
  testsuite/regression/hyb_mgga_x/hyb_mgga_x_m06_sx.BrOH+.pol.0.bz2
  testsuite/regression/hyb_mgga_x/hyb_mgga_x_m06_sx.BrOH+.pol.1.bz2
  testsuite/regression/hyb_mgga_x/hyb_mgga_x_m06_sx.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_mgga_x/hyb_mgga_x_m06_sx.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_mgga_x/hyb_mgga_x_m06_sx.BrOH.pol.0.bz2
  testsuite/regression/hyb_mgga_x/hyb_mgga_x_m06_sx.BrOH.pol.1.bz2
  testsuite/regression/hyb_mgga_x/hyb_mgga_x_m06_sx.BrOH.unpol.0.bz2
  testsuite/regression/hyb_mgga_x/hyb_mgga_x_m06_sx.BrOH.unpol.1.bz2
  testsuite/regression/hyb_mgga_x/hyb_mgga_x_m06_sx.H.pol.0.bz2
  testsuite/regression/hyb_mgga_x/hyb_mgga_x_m06_sx.H.pol.1.bz2
  testsuite/regression/hyb_mgga_x/hyb_mgga_x_m06_sx.H.unpol.0.bz2
  testsuite/regression/hyb_mgga_x/hyb_mgga_x_m06_sx.H.unpol.1.bz2
  testsuite/regression/hyb_mgga_x/hyb_mgga_x_m06_sx.Li.pol.0.bz2
  testsuite/regression/hyb_mgga_x/hyb_mgga_x_m06_sx.Li.pol.1.bz2
  testsuite/regression/hyb_mgga_x/hyb_mgga_x_m06_sx.Li.unpol.0.bz2
  testsuite/regression/hyb_mgga_x/hyb_mgga_x_m06_sx.Li.unpol.1.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_m06_sx.H.pol.0.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_m06_sx.H.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_m06_sx.BrOH+.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_m06_sx.BrOH+.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_m06_sx.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_m06_sx.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_m06_sx.BrOH.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_m06_sx.BrOH.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_m06_sx.BrOH.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_m06_sx.BrOH.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_m06_sx.H.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_m06_sx.H.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_m06_sx.Li.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_m06_sx.Li.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_m06_sx.Li.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_m06_sx.Li.unpol.1.bz2
Due: cmake, automake

Implemented wB97X-D3 functional.
  libxc.bib
  src/hyb_gga_xc_wb97.c
  src/references.c
  src/references.h
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb97x_d3.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb97x_d3.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb97x_d3.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb97x_d3.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb97x_d3.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb97x_d3.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb97x_d3.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb97x_d3.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb97x_d3.H.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb97x_d3.H.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb97x_d3.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb97x_d3.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb97x_d3.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb97x_d3.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb97x_d3.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb97x_d3.Li.unpol.1.bz2
Due: cmake, automake

install targets xc-info and xc-threshold only if built
  CMakeLists.txt
Due: none

Implemented XC_HYB_GGA_X_CAM_S12G and XC_HYB_GGA_X_CAM_S12H
  src/gga_x_s12.c
Due: cmake, automake

Fix: Make an explicit cast of an enum, so the libxc can be compiled with a c++ compiler.
  src/xc-threshold.c
Due: cmake, automake

Better lambert error message
  src/special_functions.c
Due: cmake, automake

Type checks and documentation fixes to pylibxc.
  pylibxc/functional.py
  pylibxc/util.py
Due: python

Make thresholds adjustable.
  src/functionals.c
  src/work_gga.c
  src/work_mgga.c
  src/xc-info.c
  src/xc.h
Due: cmake, automake

Print libxc citation in xc-info
  src/xc-info.c
Due: cmake, automake

Sort available_functional_numbers
  src/functionals.c
Due: cmake, automake

Sort available_functional_names in Python (C side seems hard)
  pylibxc/util.py
Due: python

Adjust density threshold for gga_c_op_pw91 (issue #231).
  src/gga_c_op_pw91.c
Due: cmake, automake

Cap minimum density in xc-threshold
  src/xc-threshold.c
Due: cmake, automake

Sort return of xc_available_functional_names C side.
  pylibxc/util.py
  src/functionals.c
Due: python, cmake, automake

Drop unused duplicate file
  testsuite/regression/gga_x/disabled/gga_x_ityh.Li.pol.1.bz2
Due: none

Correct implementation of mgga_x_mbr
  maple/mgga_exc/mgga_x_mbr.mpl
  src/maple2c/mgga_exc/mgga_x_mbr.c
  src/mgga_x_mbr.c
  testsuite/regression/mgga_x/mgga_x_mbr.BrOH+.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mbr.BrOH+.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mbr.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mbr.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mbr.BrOH.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mbr.BrOH.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mbr.BrOH.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mbr.BrOH.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mbr.H.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mbr.H.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mbr.H.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mbr.H.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mbr.Li.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mbr.Li.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mbr.Li.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mbr.Li.unpol.1.bz2
Due: cmake, automake

Add zeta, sigma, and tau threshold setters to Python interface
  pylibxc/functional.py
Due: python

Implemented the CAMh-B3LYP functional.
  libxc.bib
  src/hyb_gga_xc_cam_b3lyp.c
  src/references.c
  src/references.h
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_camh_b3lyp.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_camh_b3lyp.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_camh_b3lyp.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_camh_b3lyp.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_camh_b3lyp.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_camh_b3lyp.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_camh_b3lyp.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_camh_b3lyp.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_camh_b3lyp.H.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_camh_b3lyp.H.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_camh_b3lyp.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_camh_b3lyp.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_camh_b3lyp.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_camh_b3lyp.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_camh_b3lyp.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_camh_b3lyp.Li.unpol.1.bz2
Due: cmake, automake

Parameters for cam-b3 functionals.
  libxc.bib
  src/hyb_gga_xc_cam_b3lyp.c
  src/references.c
Due: cmake, automake

Fix name of gga_x_sfat omega parameter
  src/gga_x_sfat.c
Due: cmake, automake

Assert that set_ext_params_name found the parameter
  src/functionals.c
Due: cmake, automake

Fix name of ITYH omega parameter
  src/gga_x_ityh.c
Due: cmake, automake

Fix name of lda_x_erf omega parameter
  src/lda_x_erf.c
Due: cmake, automake

Fix name of gga_x_sfat_pbe omega parameter
  src/gga_x_sfat_pbe.c
Due: cmake, automake

Fix name of lda_c_pmgb06 omega parameter
  src/lda_c_pmgb06.c
Due: cmake, automake

hyb_gga_xc_src{1,2}_blyp tests started to fail since the ityh parameters weren't set properly before.
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src1_blyp.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src1_blyp.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src1_blyp.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src1_blyp.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src1_blyp.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src1_blyp.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src1_blyp.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src1_blyp.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src1_blyp.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src1_blyp.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src1_blyp.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src1_blyp.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src1_blyp.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src1_blyp.Li.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src2_blyp.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src2_blyp.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src2_blyp.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src2_blyp.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src2_blyp.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src2_blyp.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src2_blyp.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src2_blyp.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src2_blyp.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src2_blyp.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src2_blyp.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src2_blyp.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src2_blyp.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_src2_blyp.Li.unpol.1.bz2
Due: none

Implement hyb_gga_xc_whpbe0 and add parameters to many other lrc pbe functionals.
  src/hyb_gga_xc_hse.c
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_whpbe0.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_whpbe0.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_whpbe0.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_whpbe0.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_whpbe0.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_whpbe0.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_whpbe0.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_whpbe0.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_whpbe0.H.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_whpbe0.H.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_whpbe0.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_whpbe0.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_whpbe0.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_whpbe0.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_whpbe0.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_whpbe0.Li.unpol.1.bz2
Due: cmake, automake

Make C++ compilers happy
  src/functionals.c
  src/xc-threshold.c
Due: cmake, automake

Restore external weights in xc-info output
  src/xc-info.c
Due: cmake, automake

Make order of arguments for hybrid initialization same as for parameter setters. Also adds parameters to a bunch more functionals.
  CMakeLists.txt
  src/Makefile.am
  src/gga_x_n12.c
  src/gga_x_sogga11.c
  src/gga_xc_vv10.c
  src/hyb_gga_xc_b1wc.c
  src/hyb_gga_xc_cam_b3lyp.c
  src/hyb_gga_xc_cam_qtp.c
  src/hyb_gga_xc_camy_b3lyp.c
  src/hyb_gga_xc_camy_blyp.c
  src/hyb_gga_xc_hse.c
  src/hyb_gga_xc_lc_blyp.c
  src/hyb_gga_xc_lcy_blyp.c
  src/hyb_gga_xc_lcy_pbe.c
  src/hyb_lda_xc_cam_lda0.c
  src/hyb_mgga_x_js18.c
  src/hyb_mgga_x_pjs18.c
  src/hyb_mgga_xc_wb97mv.c
  src/hybrids.c
  src/util.h
Due: cmake, automake

Add gga_k_pbe2.
  src/gga_k_mpbe.c
  testsuite/regression/gga_k/gga_k_pbe2.BrOH+.pol.0.bz2
  testsuite/regression/gga_k/gga_k_pbe2.BrOH+.pol.1.bz2
  testsuite/regression/gga_k/gga_k_pbe2.BrOH+.unpol.0.bz2
  testsuite/regression/gga_k/gga_k_pbe2.BrOH+.unpol.1.bz2
  testsuite/regression/gga_k/gga_k_pbe2.BrOH.pol.0.bz2
  testsuite/regression/gga_k/gga_k_pbe2.BrOH.pol.1.bz2
  testsuite/regression/gga_k/gga_k_pbe2.BrOH.unpol.0.bz2
  testsuite/regression/gga_k/gga_k_pbe2.BrOH.unpol.1.bz2
  testsuite/regression/gga_k/gga_k_pbe2.H.pol.0.bz2
  testsuite/regression/gga_k/gga_k_pbe2.H.pol.1.bz2
  testsuite/regression/gga_k/gga_k_pbe2.H.unpol.0.bz2
  testsuite/regression/gga_k/gga_k_pbe2.H.unpol.1.bz2
  testsuite/regression/gga_k/gga_k_pbe2.Li.pol.0.bz2
  testsuite/regression/gga_k/gga_k_pbe2.Li.pol.1.bz2
  testsuite/regression/gga_k/gga_k_pbe2.Li.unpol.0.bz2
  testsuite/regression/gga_k/gga_k_pbe2.Li.unpol.1.bz2
Due: cmake, automake

Better error messages in pylibxc
  pylibxc/functional.py
Due: python

Sort available functionals as LDA, hyb LDA, GGA, hyb GGA, mGGA, hyb mGGA. Adds function to get same ordering in pylibxc. Documents more functions in xc.h
  pylibxc/util.py
  src/functionals.c
  src/xc.h
Due: python, cmake, automake

Implement gga_k_lgap.
  CMakeLists.txt
  libxc.bib
  maple/gga_exc/Makefile.am
  maple/gga_exc/gga_k_lgap.mpl
  src/Makefile.am
  src/gga_k_lgap.c
  src/maple2c/gga_exc/Makefile.am
  src/maple2c/gga_exc/gga_k_lgap.c
  src/references.c
  src/references.h
Due: cmake, automake

Path conditions:
  python: any of: pylibxc/
  cmake: any of: src/
  automake: any of: src/
