Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

.codecov.yml:

coverage:
  status:
    project:
      default: off
      automake:
        flags: automake
      cmake:
        flags: cmake
      python:
        target: 90%
        flags: python


flags:
  python:
    paths:
      - pylibxc/
  cmake:
    paths:
      - src/
  automake:
    paths:
      - src/

Sync f90 wrapper from f03 wrapper
  src/libxc_master_f90.F90
Due: cmake, automake

Update Changelog for 5.1.0 release
  ChangeLog.md
Due: none

Functionals added
  ChangeLog.md
Due: none

FT97 and xc_reference
  ChangeLog.md
Due: none

Fix issues in z_thr2 and opz_pow_n
  maple/util.mpl
Due: none

Update functional.py: fix typos
  pylibxc/functional.py
Due: python

Fix character in Glubshev's commit 8b99ccfbad05e6e9888e32ccb2949c8bfcfdc284
  pylibxc/functional.py
Due: python

Fix memory leak in Fortran interface (#287).
  src/libxc_master.F90
  src/util.c
  src/util.h
Due: cmake, automake

Wrap memcpy for Cuda
  src/gga_c_chachiyo.c
  src/gga_k_lc94.c
  src/hyb_mgga_x_m05.c
  src/lda_c_chachiyo.c
  src/lda_c_chachiyo_mod.c
  src/lda_c_lp96.c
  src/lda_c_pz.c
  src/lda_xc_ksdt.c
  src/util.h
Due: cmake, automake

Parameters for gga_c_chachiyo
  src/gga_c_chachiyo.c
Due: cmake, automake

Parameters for lda_c_pz
  src/lda_c_pz.c
Due: cmake, automake

Parameters for lda_c_lp96
  src/lda_c_lp96.c
Due: cmake, automake

Parameters for lda_c_chachiyo
  src/lda_c_chachiyo.c
Due: cmake, automake

Parameters for gga_k_lc94
  src/gga_k_lc94.c
Due: cmake, automake

Parameters for lda_c_chachiyo_mod
  src/lda_c_chachiyo_mod.c
Due: cmake, automake

Parameters for hyb_mgga_x_m05
  src/hyb_mgga_x_m05.c
Due: cmake, automake

Minor cleanup to gga_x_ak13
  src/gga_x_ak13.c
Due: cmake, automake

Hold a copy of the external parameter array in each functional instance. Closes #285 and #286
  src/functionals.c
  src/gga_x_kt.c
  src/util.c
  src/xc.h
Due: cmake, automake

Remove spurious eprints
  libxc.bib
  src/references.c
Due: cmake, automake

Forgot this file.
  src/gga_xc_vdw_df.c
Due: cmake, automake

Add set_ext_params_cpy_lc for setting range-separation parameter in LC functionals
  src/util.c
  src/util.h
Due: cmake, automake

Parameters for hyb_mgga_x_{,p}js18 and implementation of hyb_mgga_xc_lc_tmlyp
  libxc.bib
  src/hyb_mgga_x_js18.c
  src/hyb_mgga_x_pjs18.c
  src/references.c
  src/references.h
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_lc_tmlyp.BrOH+.pol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_lc_tmlyp.BrOH+.pol.1.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_lc_tmlyp.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_lc_tmlyp.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_lc_tmlyp.BrOH.pol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_lc_tmlyp.BrOH.pol.1.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_lc_tmlyp.BrOH.unpol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_lc_tmlyp.BrOH.unpol.1.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_lc_tmlyp.H.pol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_lc_tmlyp.H.pol.1.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_lc_tmlyp.H.unpol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_lc_tmlyp.H.unpol.1.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_lc_tmlyp.Li.pol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_lc_tmlyp.Li.pol.1.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_lc_tmlyp.Li.unpol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_lc_tmlyp.Li.unpol.1.bz2
Due: cmake, automake

Simplify hyb_gga_xc_b2plyp code
  src/hyb_gga_xc_b2plyp.c
Due: cmake, automake
