Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

.codecov.yml:

coverage:
  status:
    project:
      default: off
      automake:
        flags: automake
      cmake:
        flags: cmake
      python:
        target: 90%
        flags: python


flags:
  python:
    paths:
      - pylibxc/
  cmake:
    paths:
      - src/
  automake:
    paths:
      - src/

Bump version number to 4.3.2
  CMakeLists.txt
  ChangeLog
  NEWS
  PACKAGING
  configure.ac
  pylibxc/version.py
Due: python

Change value of mu to MU_GE as suggested by hyllios.
  src/gga_x_b86.c
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH+.pol.0.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH+.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH+.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH+.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH.pol.0.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH.pol.1.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH.pol.2.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.H.pol.0.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.H.pol.1.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.H.pol.2.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.H.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.H.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.H.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.Li.pol.0.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.Li.pol.1.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.Li.pol.2.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.Li.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.Li.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.Li.unpol.2.bz2
Due: cmake, automake

Implement Tao-Mo correlation.
  src/mgga_c_tpss.c
  src/mgga_x_tm.c
  testsuite/regression/mgga_c/mgga_c_tm.BrOH+.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_tm.BrOH+.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_tm.BrOH+.pol.2.bz2
  testsuite/regression/mgga_c/mgga_c_tm.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_tm.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_tm.BrOH+.unpol.2.bz2
  testsuite/regression/mgga_c/mgga_c_tm.BrOH.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_tm.BrOH.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_tm.BrOH.pol.2.bz2
  testsuite/regression/mgga_c/mgga_c_tm.BrOH.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_tm.BrOH.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_tm.BrOH.unpol.2.bz2
  testsuite/regression/mgga_c/mgga_c_tm.H.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_tm.H.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_tm.H.pol.2.bz2
  testsuite/regression/mgga_c/mgga_c_tm.H.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_tm.H.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_tm.H.unpol.2.bz2
  testsuite/regression/mgga_c/mgga_c_tm.Li.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_tm.Li.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_tm.Li.pol.2.bz2
  testsuite/regression/mgga_c/mgga_c_tm.Li.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_tm.Li.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_tm.Li.unpol.2.bz2
Due: cmake, automake

Fixed NaN issues in mgga_x_tm.
  maple/mgga_x_tm.mpl
  src/maple2c/mgga_x_tm.c
  testsuite/regression/mgga_x/mgga_x_tm.BrOH+.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH+.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH+.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH+.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tm.H.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tm.H.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tm.H.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tm.H.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tm.H.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tm.H.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tm.Li.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tm.Li.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tm.Li.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tm.Li.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tm.Li.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tm.Li.unpol.2.bz2
Due: cmake, automake

Update CMakeLists.txt
  CMakeLists.txt
Due: none

Enforce condition z = tW/t <= 1 in the tpss correlation routine.
  maple/tpss.mpl
  src/maple2c/mgga_c_tpss.c
Due: cmake, automake

Update ChangeLog.
  ChangeLog
Due: none

misc. CMake fixes
  CMakeLists.txt
Due: none

Disable failing fully spin-polarized tests on H atom
  testsuite/regression/hyb_mgga_xc/disabled/hyb_mgga_xc_revtpssh.H.pol.0.bz2
  testsuite/regression/hyb_mgga_xc/disabled/hyb_mgga_xc_revtpssh.H.pol.2.bz2
  testsuite/regression/hyb_mgga_xc/disabled/hyb_mgga_xc_tpssh.H.pol.0.bz2
  testsuite/regression/hyb_mgga_xc/disabled/hyb_mgga_xc_tpssh.H.pol.2.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_revtpss.H.pol.0.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_revtpss.H.pol.2.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_tm.H.pol.0.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_tm.H.pol.1.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_tm.H.pol.2.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_tpss.H.pol.0.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_tpss.H.pol.2.bz2
  testsuite/regression/mgga_xc/disabled/mgga_xc_hle17.H.pol.0.bz2
  testsuite/regression/mgga_xc/disabled/mgga_xc_hle17.H.pol.2.bz2
  testsuite/regression/mgga_xc/disabled/mgga_xc_otpss_d.H.pol.0.bz2
  testsuite/regression/mgga_xc/disabled/mgga_xc_otpss_d.H.pol.2.bz2
Due: none

Disable failing unpolarized tests too
  testsuite/regression/hyb_mgga_xc/disabled/hyb_mgga_xc_revtpssh.H.unpol.0.bz2
  testsuite/regression/hyb_mgga_xc/disabled/hyb_mgga_xc_revtpssh.H.unpol.1.bz2
  testsuite/regression/hyb_mgga_xc/disabled/hyb_mgga_xc_revtpssh.H.unpol.2.bz2
  testsuite/regression/hyb_mgga_xc/disabled/hyb_mgga_xc_tpssh.H.unpol.0.bz2
  testsuite/regression/hyb_mgga_xc/disabled/hyb_mgga_xc_tpssh.H.unpol.1.bz2
  testsuite/regression/hyb_mgga_xc/disabled/hyb_mgga_xc_tpssh.H.unpol.2.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_revtpss.H.unpol.0.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_revtpss.H.unpol.1.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_revtpss.H.unpol.2.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_tm.H.unpol.0.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_tm.H.unpol.1.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_tm.H.unpol.2.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_tpss.H.unpol.0.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_tpss.H.unpol.1.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_tpss.H.unpol.2.bz2
  testsuite/regression/mgga_xc/disabled/mgga_xc_hle17.H.unpol.0.bz2
  testsuite/regression/mgga_xc/disabled/mgga_xc_hle17.H.unpol.1.bz2
  testsuite/regression/mgga_xc/disabled/mgga_xc_hle17.H.unpol.2.bz2
  testsuite/regression/mgga_xc/disabled/mgga_xc_otpss_d.H.unpol.0.bz2
  testsuite/regression/mgga_xc/disabled/mgga_xc_otpss_d.H.unpol.1.bz2
  testsuite/regression/mgga_xc/disabled/mgga_xc_otpss_d.H.unpol.2.bz2
Due: none

Fix typo in ChangeLog.
  ChangeLog
Due: none

Update release date.
  ChangeLog
  NEWS
  PACKAGING
Due: none

tW/t was still wrong in TM, thanks to Fabien Tran.
  maple/mgga_x_tm.mpl
  src/maple2c/mgga_x_tm.c
Due: cmake, automake

Update tests
  testsuite/regression/mgga_x/mgga_x_tm.BrOH+.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH+.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH+.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH+.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tm.H.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tm.H.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tm.H.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tm.H.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tm.H.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tm.H.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tm.Li.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tm.Li.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tm.Li.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tm.Li.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tm.Li.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tm.Li.unpol.2.bz2
Due: none

TM correlation parameters weren't being set
  src/mgga_c_tpss.c
Due: cmake, automake

Update TM correlation references
  testsuite/regression/mgga_c/mgga_c_tm.BrOH+.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_tm.BrOH+.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_tm.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_tm.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_tm.BrOH.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_tm.BrOH.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_tm.BrOH.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_tm.BrOH.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_tm.Li.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_tm.Li.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_tm.Li.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_tm.Li.unpol.1.bz2
Due: none

Add version.py file to dist files.
  pylibxc/Makefile.am
Due: python

Replace call to execfile with call to exec + open.read() so that it works with python3.
  setup.py
Due: none

Bumb version number to 4.3.3.
  CMakeLists.txt
  NEWS
  PACKAGING
  configure.ac
  pylibxc/version.py
Due: python

Fix a bug in CAM-QTP-01: should have 20% not 21% VWN5 correlation.
  src/hyb_gga_xc_cam_b3lyp.c
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_cam_qtp_01.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_cam_qtp_01.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_cam_qtp_01.BrOH+.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_cam_qtp_01.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_cam_qtp_01.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_cam_qtp_01.BrOH+.unpol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.H.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.H.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.Li.unpol.1.bz2
Due: cmake, automake

Implement acGGA+.
  CMakeLists.txt
  maple/Makefile.am
  maple/gga_c_acggap.mpl
  src/Makefile.am
  src/gga_c_acggap.c
  src/maple2c/gga_exc/Makefile.am
  src/maple2c/gga_exc/gga_c_acggap.c
  src/references.c
  testsuite/regression/gga_c/gga_c_acggap.BrOH+.pol.0.bz2
  testsuite/regression/gga_c/gga_c_acggap.BrOH+.pol.1.bz2
  testsuite/regression/gga_c/gga_c_acggap.BrOH+.pol.2.bz2
  testsuite/regression/gga_c/gga_c_acggap.BrOH+.unpol.0.bz2
  testsuite/regression/gga_c/gga_c_acggap.BrOH+.unpol.1.bz2
  testsuite/regression/gga_c/gga_c_acggap.BrOH+.unpol.2.bz2
  testsuite/regression/gga_c/gga_c_acggap.BrOH.pol.0.bz2
  testsuite/regression/gga_c/gga_c_acggap.BrOH.pol.1.bz2
  testsuite/regression/gga_c/gga_c_acggap.BrOH.pol.2.bz2
  testsuite/regression/gga_c/gga_c_acggap.BrOH.unpol.0.bz2
  testsuite/regression/gga_c/gga_c_acggap.BrOH.unpol.1.bz2
  testsuite/regression/gga_c/gga_c_acggap.BrOH.unpol.2.bz2
  testsuite/regression/gga_c/gga_c_acggap.H.pol.0.bz2
  testsuite/regression/gga_c/gga_c_acggap.H.pol.1.bz2
  testsuite/regression/gga_c/gga_c_acggap.H.pol.2.bz2
  testsuite/regression/gga_c/gga_c_acggap.H.unpol.0.bz2
  testsuite/regression/gga_c/gga_c_acggap.H.unpol.1.bz2
  testsuite/regression/gga_c/gga_c_acggap.H.unpol.2.bz2
  testsuite/regression/gga_c/gga_c_acggap.Li.pol.0.bz2
  testsuite/regression/gga_c/gga_c_acggap.Li.pol.1.bz2
  testsuite/regression/gga_c/gga_c_acggap.Li.pol.2.bz2
  testsuite/regression/gga_c/gga_c_acggap.Li.unpol.0.bz2
  testsuite/regression/gga_c/gga_c_acggap.Li.unpol.1.bz2
  testsuite/regression/gga_c/gga_c_acggap.Li.unpol.2.bz2
Due: cmake, automake

Update AUTHORS
  AUTHORS
Due: none

Tobias Burnus has been gone for a decade.
  AUTHORS
Due: none
