Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

.codecov.yml:

coverage:
  status:
    project:
      default: off
      automake:
        flags: automake
      cmake:
        flags: cmake
      python:
        target: 90%
        flags: python


flags:
  python:
    paths:
      - pylibxc/
  cmake:
    paths:
      - src/
  automake:
    paths:
      - src/

CASE21 journal reference
  libxc.bib
  src/hyb_gga_xc_case21.c
  src/references.c
  src/references.h
Due: cmake, automake

These two tests are failing with the c++ compiler of the buildbot
  testsuite/regression/gga_x/gga_x_pbepow.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pbepow.BrOH+.unpol.1.bz2
Due: none

File missing in list
  CMakeLists.txt
Due: none

Fix limit of TASK (#404)
  maple/mgga_exc/mgga_x_task.mpl
Due: none

Make possible to change range-separated parameters of CAMY-B3LYP
  src/hyb_gga_xc_camy_b3lyp.c
Due: cmake, automake

Implement a version of PBE exchange with fewer decimals for beta.
  src/funcs_gga.c
  src/funcs_key.c
  src/gga_x_pbe.c
  src/libxc_inc.f90
  src/xc_funcs.h
  testsuite/regression/gga_x/gga_x_pbe_mod.BrOH+.pol.0.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.BrOH+.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.BrOH+.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.BrOH.pol.0.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.BrOH.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.BrOH.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.BrOH.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.H.pol.0.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.H.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.H.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.H.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.Li.pol.0.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.Li.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.Li.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.Li.unpol.1.bz2
Due: cmake, automake

Better handling of sinc(x) in gga_c_revtca.
  maple/gga_exc/gga_c_revtca.mpl
  src/maple2c/gga_exc/gga_c_revtca.c
Due: cmake, automake

Tidy up an entry in the bibliography.
  libxc.bib
  src/references.c
Due: cmake, automake

The literature reference of O3LYP was missing in the source
  libxc.bib
  src/hyb_gga_xc_o3lyp.c
  src/references.c
  src/references.h
Due: cmake, automake

Fix an incorrect year in a reference
  libxc.bib
  src/gga_x_herman.c
  src/references.c
  src/references.h
Due: cmake, automake

Add note in code about HCTH/147 c5 parameter value
  src/gga_xc_b97.c
Due: cmake, automake

Clean up bibliography and update VCML with published reference
  libxc.bib
  src/mgga_x_vcml.c
  src/references.c
  src/references.h
Due: cmake, automake

Add functions to access libxc BibTeX reference keys from functionals.
  pylibxc/functional.py
  pylibxc/structs.py
  pylibxc/util.py
  scripts/get_references.py
  src/func_reference.c
  src/libxc_master.F90
  src/references.c
  src/version.c
  src/xc-info.c
  src/xc.h
Due: python, cmake, automake

Drop language tags from bibtex file
  libxc.bib
  src/references.c
Due: cmake, automake

Make sure functional comments compile in LaTeX
  src/gga_k_rational_p.c
  src/gga_k_tflw.c
  src/mgga_x_r4scan.c
Due: cmake, automake

Rename erratum references to same convention as everything else. Cleanup BibTeX entries so that capitalizations in output are correct.
  libxc.bib
  src/gga_c_pbe.c
  src/gga_c_pbe_vwn.c
  src/gga_c_pw91.c
  src/gga_x_ityh_pbe.c
  src/gga_x_pbe.c
  src/gga_x_pw91.c
  src/gga_x_wpbeh.c
  src/hyb_gga_xc_hse.c
  src/lda_c_pw.c
  src/lda_c_pz.c
  src/mgga_c_revtpss.c
  src/mgga_x_tpss.c
  src/references.c
  src/references.h
Due: cmake, automake

Implement gga_xc_b97_3c.
  libxc.bib
  src/funcs_gga.c
  src/funcs_key.c
  src/gga_xc_b97.c
  src/libxc_inc.f90
  src/references.c
  src/references.h
  src/xc_funcs.h
Due: cmake, automake

Some additional cleanups for gga_xc_b97_3c like inclusion of tests.
  libxc.bib
  src/references.c
  testsuite/regression/gga_xc/gga_xc_b97_3c.BrOH+.pol.0.bz2
  testsuite/regression/gga_xc/gga_xc_b97_3c.BrOH+.pol.1.bz2
  testsuite/regression/gga_xc/gga_xc_b97_3c.BrOH+.unpol.0.bz2
  testsuite/regression/gga_xc/gga_xc_b97_3c.BrOH+.unpol.1.bz2
  testsuite/regression/gga_xc/gga_xc_b97_3c.BrOH.pol.0.bz2
  testsuite/regression/gga_xc/gga_xc_b97_3c.BrOH.pol.1.bz2
  testsuite/regression/gga_xc/gga_xc_b97_3c.BrOH.unpol.0.bz2
  testsuite/regression/gga_xc/gga_xc_b97_3c.BrOH.unpol.1.bz2
  testsuite/regression/gga_xc/gga_xc_b97_3c.H.pol.0.bz2
  testsuite/regression/gga_xc/gga_xc_b97_3c.H.unpol.0.bz2
  testsuite/regression/gga_xc/gga_xc_b97_3c.H.unpol.1.bz2
  testsuite/regression/gga_xc/gga_xc_b97_3c.Li.pol.0.bz2
  testsuite/regression/gga_xc/gga_xc_b97_3c.Li.pol.1.bz2
  testsuite/regression/gga_xc/gga_xc_b97_3c.Li.unpol.0.bz2
  testsuite/regression/gga_xc/gga_xc_b97_3c.Li.unpol.1.bz2
Due: cmake, automake

XC_FLAGS_NEEDS_TAU does not exist in this branch
  src/maple2c/mgga_exc/mgga_c_cc.c
  src/maple2c/mgga_exc/mgga_c_ccalda.c
  src/mgga_c_cc.c
  src/mgga_c_ccalda.c
  src/mgga_c_tpss.c
Due: cmake, automake

Adapt Python scripts to older release
  scripts/get_functional_info.py
  src/funcs_gga.c
  src/funcs_hyb_gga.c
Due: cmake, automake

Adapt code to older branch
  src/hyb_gga_xc_camy_b3lyp.c
Due: cmake, automake

Fix typo in comment
  src/io_variables.c
Due: cmake, automake

Fix Fortran compiler detection in automake
  m4/fcflags.m4
Due: none

Changelog for 6.0.0
  ChangeLog.md
Due: none

Version number for 6.0.0
  configure.ac
  pylibxc/version.py
Due: python

xc-threshold should not be installed
  src/Makefile.am
Due: cmake, automake

Implement gga_x_ncapr with precise values of parameters from upstream reference implementation. Also use more precise values in gga_x_ncap.
  libxc.bib
  src/funcs_gga.c
  src/funcs_key.c
  src/gga_x_ncap.c
  src/libxc_inc.f90
  src/references.c
  src/references.h
  src/xc_funcs.h
  testsuite/regression/gga_x/gga_x_ncap.BrOH+.pol.0.bz2
  testsuite/regression/gga_x/gga_x_ncap.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_ncap.BrOH+.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_ncap.BrOH+.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_ncap.BrOH.pol.0.bz2
  testsuite/regression/gga_x/gga_x_ncap.BrOH.pol.1.bz2
  testsuite/regression/gga_x/gga_x_ncap.BrOH.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_ncap.BrOH.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_ncap.H.pol.0.bz2
  testsuite/regression/gga_x/gga_x_ncap.H.pol.1.bz2
  testsuite/regression/gga_x/gga_x_ncap.H.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_ncap.H.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_ncap.Li.pol.0.bz2
  testsuite/regression/gga_x/gga_x_ncap.Li.pol.1.bz2
  testsuite/regression/gga_x/gga_x_ncap.Li.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_ncap.Li.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_ncapr.BrOH+.pol.0.bz2
  testsuite/regression/gga_x/gga_x_ncapr.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_ncapr.BrOH+.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_ncapr.BrOH+.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_ncapr.BrOH.pol.0.bz2
  testsuite/regression/gga_x/gga_x_ncapr.BrOH.pol.1.bz2
  testsuite/regression/gga_x/gga_x_ncapr.BrOH.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_ncapr.BrOH.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_ncapr.H.pol.0.bz2
  testsuite/regression/gga_x/gga_x_ncapr.H.pol.1.bz2
  testsuite/regression/gga_x/gga_x_ncapr.H.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_ncapr.H.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_ncapr.Li.pol.0.bz2
  testsuite/regression/gga_x/gga_x_ncapr.Li.pol.1.bz2
  testsuite/regression/gga_x/gga_x_ncapr.Li.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_ncapr.Li.unpol.1.bz2
Due: cmake, automake

Add GGA_X_NCAPR to changelog
  ChangeLog.md
Due: none

hyb_gga_xc_b3p86_nwchem and hyb_mgga_xc_br3p86 are hybrid functionals
  src/hyb_gga_xc_b3lyp.c
  src/hyb_mgga_xc_br3p86.c
Due: cmake, automake

Update changelog date
  ChangeLog.md
Due: none

5.2.3 was missing in changelog and configure.ac comment history
  ChangeLog.md
  configure.ac
Due: none

Fix FindStandardMathLibraryC.cmake reusing variable names
  cmake/FindStandardMathLibraryC.cmake
Due: none

Port changelog from 6.0.0 and bump version of master branch
  ChangeLog.md
  configure.ac
  pylibxc/version.py
Due: python

Work towards GAS22
  maple/mgga_exc/Makefile.am
  maple/mgga_exc/hyb_mgga_xc_gas22.mpl
  src/Makefile.am
  src/hyb_mgga_xc_gas22.c
  src/maple2c/mgga_exc/Makefile.am
Due: cmake, automake
