Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

.codecov.yml:

coverage:
  status:
    project:
      default: off
      automake:
        flags: automake
      cmake:
        flags: cmake
      python:
        target: 90%
        flags: python


flags:
  python:
    paths:
      - pylibxc/
  cmake:
    paths:
      - src/
  automake:
    paths:
      - src/

Another test that was failing.
  TODO
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_cam_b3lyp.BrOH.pol.2.bz2
Due: none

Eliminate duplicate hardcoded numerical constants in RCAM-B3LYP.
  src/hyb_gga_xc_cam_b3lyp.c
Due: cmake, automake

Hybrid LDA functionals
  TODO
  libxc.bib
  pylibxc/flags.py
  pylibxc/functional.py
  scripts/get_funcs.pl
  src/functionals.c
  src/genwiki.c
  src/lda.c
  src/lda_x.c
  src/libxc_master.F03
  src/libxc_master.F90
  src/mix_func.c
  src/references.c
  src/references.h
  src/util.c
  src/xc-info.c
  src/xc-sanity.c
  src/xc-threshold.c
  src/xc.h
  testsuite/xc-consistency.c
  testsuite/xc-get_data.c
  testsuite/xc-regression.c
Due: python, cmake, automake

Turn off third derivative compile in CMake by default.
  CMakeLists.txt
Due: none

Turn on third derivatives in setup.py
  setup.py
Due: none

Implemented CAM-LDA0.
  CMakeLists.txt
  libxc.bib
  src/Makefile.am
  src/hyb_lda_xc_cam_lda0.c
  src/references.c
  src/references.h
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH+.pol.0.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH+.pol.1.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH+.pol.2.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH+.unpol.2.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH.pol.0.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH.pol.1.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH.pol.2.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH.unpol.0.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH.unpol.1.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH.unpol.2.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.H.pol.0.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.H.pol.1.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.H.pol.2.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.H.unpol.0.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.H.unpol.1.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.H.unpol.2.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.Li.pol.0.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.Li.pol.1.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.Li.pol.2.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.Li.unpol.0.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.Li.unpol.1.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.Li.unpol.2.bz2
Due: cmake, automake

Looks like one more change is needed.
  pylibxc/functional.py
Due: python

Use lda_c_pw_mod not lda_c_pz_mod in hyb_lda_xc_cam_lda0.
  src/hyb_lda_xc_cam_lda0.c
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH+.pol.0.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH+.pol.1.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH+.pol.2.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH+.unpol.2.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH.pol.0.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH.pol.1.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH.pol.2.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH.unpol.0.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH.unpol.1.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.BrOH.unpol.2.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.H.pol.0.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.H.pol.1.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.H.pol.2.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.H.unpol.0.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.H.unpol.1.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.H.unpol.2.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.Li.pol.0.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.Li.pol.1.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.Li.pol.2.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.Li.unpol.0.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.Li.unpol.1.bz2
  testsuite/regression/hyb_lda_xc/hyb_lda_xc_cam_lda0.Li.unpol.2.bz2
Due: cmake, automake

As Susi mentioned, the description line was wrong.
  TODO
  src/hyb_gga_xc_b3lyp.c
Due: cmake, automake

Disable usual fxc tests
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_wc04.BrOH+.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_wc04.BrOH.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_wc04.Li.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_wp04.BrOH+.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_wp04.BrOH.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_wp04.Li.pol.2.bz2
Due: none

Add func_reference.c to CMakeLists.txt
  CMakeLists.txt
Due: none

Bug fix in gga_x_2d_b88: the value of beta was wrong. Thanks to Stefano Pittalis and his student for finding it. I also added the correct reference.
  libxc.bib
  maple/gga_exc/gga_x_2d_b88.mpl
  src/maple2c/gga_exc/gga_x_2d_b88.c
  src/references.c
  testsuite/regression/gga_x/gga_x_2d_b88.BrOH+.pol.0.bz2
  testsuite/regression/gga_x/gga_x_2d_b88.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_2d_b88.BrOH+.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_2d_b88.BrOH+.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_2d_b88.BrOH+.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_2d_b88.BrOH.pol.0.bz2
  testsuite/regression/gga_x/gga_x_2d_b88.BrOH.pol.1.bz2
  testsuite/regression/gga_x/gga_x_2d_b88.BrOH.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_2d_b88.BrOH.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_2d_b88.BrOH.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_2d_b88.H.pol.0.bz2
  testsuite/regression/gga_x/gga_x_2d_b88.H.pol.1.bz2
  testsuite/regression/gga_x/gga_x_2d_b88.H.pol.2.bz2
  testsuite/regression/gga_x/gga_x_2d_b88.H.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_2d_b88.H.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_2d_b88.H.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_2d_b88.Li.pol.0.bz2
  testsuite/regression/gga_x/gga_x_2d_b88.Li.pol.1.bz2
  testsuite/regression/gga_x/gga_x_2d_b88.Li.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_2d_b88.Li.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_2d_b88.Li.unpol.2.bz2
Due: cmake, automake

return error messages for fortran
  src/libxc_master.F03
Due: cmake, automake

Update Changelog.
  ChangeLog
Due: none

Fix incorrect XC_FAMILY_HYB_LDA value in Fortran 2003 interface.
  src/libxc_master.F03
Due: cmake, automake

Changes to GG99 Maple implementation. Still not working.
  maple/gga_exc/gga_x_gg99.mpl
Due: none

Dropped X_FACTOR_C by mistake.
  maple/gga_exc/gga_x_gg99.mpl
Due: none

Now the expressions should match the paper exactly, but the energy is still wrong.
  maple/gga_exc/gga_x_gg99.mpl
  src/maple2c/gga_exc/gga_x_gg99.c
Due: cmake, automake

Test was failing
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_cam_pbeh.Li.pol.2.bz2
Due: none

corrected spin-polarised cases for rSCAN exchange and correlation
  maple/mgga_exc/mgga_c_rscan.mpl
  maple/mgga_exc/mgga_x_rscan.mpl
Due: none

Of course the tests also have to be changed
  testsuite/regression/gga_x/gga_x_gg99.BrOH+.pol.0.bz2
  testsuite/regression/gga_x/gga_x_gg99.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_gg99.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/gga_x_gg99.BrOH+.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_gg99.BrOH+.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_gg99.BrOH+.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_gg99.BrOH.pol.0.bz2
  testsuite/regression/gga_x/gga_x_gg99.BrOH.pol.1.bz2
  testsuite/regression/gga_x/gga_x_gg99.BrOH.pol.2.bz2
  testsuite/regression/gga_x/gga_x_gg99.BrOH.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_gg99.BrOH.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_gg99.BrOH.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_gg99.H.pol.0.bz2
  testsuite/regression/gga_x/gga_x_gg99.H.pol.1.bz2
  testsuite/regression/gga_x/gga_x_gg99.H.pol.2.bz2
  testsuite/regression/gga_x/gga_x_gg99.H.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_gg99.H.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_gg99.H.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_gg99.Li.pol.0.bz2
  testsuite/regression/gga_x/gga_x_gg99.Li.pol.1.bz2
  testsuite/regression/gga_x/gga_x_gg99.Li.pol.2.bz2
  testsuite/regression/gga_x/gga_x_gg99.Li.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_gg99.Li.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_gg99.Li.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_kgg99.BrOH+.pol.0.bz2
  testsuite/regression/gga_x/gga_x_kgg99.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_kgg99.BrOH+.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_kgg99.BrOH+.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_kgg99.BrOH.pol.0.bz2
  testsuite/regression/gga_x/gga_x_kgg99.BrOH.pol.1.bz2
  testsuite/regression/gga_x/gga_x_kgg99.BrOH.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_kgg99.BrOH.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_kgg99.H.pol.0.bz2
  testsuite/regression/gga_x/gga_x_kgg99.H.pol.1.bz2
  testsuite/regression/gga_x/gga_x_kgg99.H.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_kgg99.H.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_kgg99.Li.pol.0.bz2
  testsuite/regression/gga_x/gga_x_kgg99.Li.pol.1.bz2
  testsuite/regression/gga_x/gga_x_kgg99.Li.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_kgg99.Li.unpol.1.bz2
Due: none

This should fix the bug.
  src/util.c
Due: cmake, automake

Factor 2^(-1/5) missing in MGGA_X_LTA.
  maple/mgga_exc/mgga_x_lta.mpl
  src/maple2c/mgga_exc/mgga_x_lta.c
  testsuite/regression/mgga_x/disabled/mgga_x_lta.Li.pol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_lta.Li.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH+.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH+.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH+.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH+.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_lta.H.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_lta.H.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_lta.H.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_lta.H.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_lta.H.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_lta.H.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_lta.Li.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_lta.Li.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_lta.Li.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_lta.Li.unpol.1.bz2
Due: cmake, automake

This should fix failing tests in master
  testsuite/regression/mgga_x/disabled/mgga_x_rscan.BrOH+.pol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_rscan.BrOH.pol.2.bz2
Due: none

I went through the math of the LTA, and I think the original version was correct. I am pretty sure there is not the 2^(1/5)... I rewrote the expression in a nicer physical way.
  maple/mgga_exc/mgga_x_lta.mpl
  src/maple2c/mgga_exc/mgga_x_lta.c
  testsuite/regression/mgga_x/mgga_x_lta.BrOH+.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH+.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH+.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH+.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_lta.BrOH.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_lta.H.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_lta.H.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_lta.H.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_lta.H.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_lta.H.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_lta.H.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_lta.Li.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_lta.Li.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_lta.Li.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_lta.Li.unpol.1.bz2
Due: cmake, automake

Misspell corrected and comment added
  src/lda_c_pw.c
Due: cmake, automake

Sort the bibtex database in alphabetical order.
  libxc.bib
Due: none

Fix Gombas reference.
  libxc.bib
  maple/lda_exc/lda_c_gombas.mpl
  src/lda_c_gombas.c
  src/references.c
  src/references.h
Due: cmake, automake

Added mgga_x_tlda
  CMakeLists.txt
  libxc.bib
  maple/mgga_exc/mgga_x_tlda.mpl
  src/Makefile.am
  src/maple2c/mgga_exc/mgga_x_tlda.c
  src/mgga_x_tlda.c
  src/references.c
  src/references.h
  testsuite/regression/mgga_x/mgga_x_tlda.BrOH+.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.BrOH+.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.BrOH+.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.BrOH+.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.BrOH.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.BrOH.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.BrOH.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.BrOH.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.BrOH.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.BrOH.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.H.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.H.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.H.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.H.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.H.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.H.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.Li.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.Li.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.Li.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.Li.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.Li.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tlda.Li.unpol.2.bz2
Due: cmake, automake

Forgot to reference files in Makefiles
  maple/mgga_exc/Makefile.am
  src/maple2c/mgga_exc/Makefile.am
Due: cmake, automake

Improve description of mgga_x_tlda.
  src/mgga_x_tlda.c
Due: cmake, automake
