Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

Add script to check attenuation series
  maple/check_attenuation.mpl
Due: none

Reimplement gga_c_lm, since we're not sure the previous implementation was correct.
  maple/gga_exc/gga_c_lm.mpl
  maple/lda_exc/lda_c_hl.mpl
  src/gga_c_lm.c
  src/lda_c_hl.c
  src/maple2c/gga_exc/gga_c_lm.c
  src/maple2c/lda_exc/lda_c_hl.c
  testsuite/regression/gga_c/gga_c_lm.BrOH+.pol.0.bz2
  testsuite/regression/gga_c/gga_c_lm.BrOH+.pol.1.bz2
  testsuite/regression/gga_c/gga_c_lm.BrOH+.unpol.0.bz2
  testsuite/regression/gga_c/gga_c_lm.BrOH+.unpol.1.bz2
  testsuite/regression/gga_c/gga_c_lm.BrOH.pol.0.bz2
  testsuite/regression/gga_c/gga_c_lm.BrOH.pol.1.bz2
  testsuite/regression/gga_c/gga_c_lm.BrOH.unpol.0.bz2
  testsuite/regression/gga_c/gga_c_lm.BrOH.unpol.1.bz2
  testsuite/regression/gga_c/gga_c_lm.H.pol.0.bz2
  testsuite/regression/gga_c/gga_c_lm.H.pol.1.bz2
  testsuite/regression/gga_c/gga_c_lm.H.unpol.0.bz2
  testsuite/regression/gga_c/gga_c_lm.H.unpol.1.bz2
  testsuite/regression/gga_c/gga_c_lm.Li.pol.0.bz2
  testsuite/regression/gga_c/gga_c_lm.Li.pol.1.bz2
  testsuite/regression/gga_c/gga_c_lm.Li.unpol.0.bz2
  testsuite/regression/gga_c/gga_c_lm.Li.unpol.1.bz2
Due: cmake, automake

Let us see if this stabilizes the tests for H
  maple/lda_exc/lda_c_ml1.mpl
  src/maple2c/lda_exc/lda_c_ml1.c
  testsuite/regression/lda_c/lda_c_ml1.H.pol.1.bz2
  testsuite/regression/lda_c/lda_c_ml2.H.pol.1.bz2
Due: cmake, automake

There was still a division by zero due to the k term.
  maple/lda_exc/lda_c_ml1.mpl
  src/maple2c/lda_exc/lda_c_ml1.c
Due: cmake, automake

I think we have to disable these two tests. The vxc actually diverges for H. The authors call it (indirectly) a "feature".
  testsuite/regression/lda_c/lda_c_ml1.H.pol.1.bz2
  testsuite/regression/lda_c/lda_c_ml2.H.pol.1.bz2
Due: none

This test is failing by 1e-8... Let us remove it.
  testsuite/regression/lda_c/lda_c_ml1.H.pol.0.bz2
Due: none

Fix deorbitalized functionals (#226). The issue was simple: uninitialized memory. Kudos to dmejiar.
  src/mgga.c
  testsuite/regression/mgga_c/mgga_c_scanl.H.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_scanl.Li.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_scanl.Li.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_revscanl.H.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_revscanl.H.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_revscanl.Li.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_revscanl.Li.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_scanl.H.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_scanl.H.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_scanl.Li.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_scanl.Li.unpol.1.bz2
Due: cmake, automake

Now it should be possible to create vxc functionals with order=1
  scripts/maple2c.pl
Due: none

Corrected stupid bug in maple script.
  scripts/maple2c.pl
Due: none

Don't alter values related to tau for kinetic functionals.
  src/work_mgga.c
Due: cmake, automake

Implement gga_x_revssb_d based on existing gga_x_ssb_d implementation. I am not sure whether the implementation is correct, since there is a small discrepancy on gga_x_ssb_d compared to NWChem.
  libxc.bib
  src/gga_x_ssb_sw.c
  src/references.c
  src/references.h
  testsuite/regression/gga_x/gga_x_revssb_d.BrOH+.pol.0.bz2
  testsuite/regression/gga_x/gga_x_revssb_d.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_revssb_d.BrOH+.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_revssb_d.BrOH+.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_revssb_d.BrOH.pol.0.bz2
  testsuite/regression/gga_x/gga_x_revssb_d.BrOH.pol.1.bz2
  testsuite/regression/gga_x/gga_x_revssb_d.BrOH.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_revssb_d.BrOH.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_revssb_d.H.pol.0.bz2
  testsuite/regression/gga_x/gga_x_revssb_d.H.pol.1.bz2
  testsuite/regression/gga_x/gga_x_revssb_d.H.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_revssb_d.H.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_revssb_d.Li.pol.0.bz2
  testsuite/regression/gga_x/gga_x_revssb_d.Li.pol.1.bz2
  testsuite/regression/gga_x/gga_x_revssb_d.Li.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_revssb_d.Li.unpol.1.bz2
Due: cmake, automake

mgga_c_hltapw was missing its reference
  src/mgga_c_ltapw.c
Due: cmake, automake

There was still an overflow arising from the SCAN cutoff function.
  maple/mgga_exc/mgga_x_scan.mpl
  src/maple2c/mgga_exc/mgga_c_r2scan.c
  src/maple2c/mgga_exc/mgga_c_revscan.c
  src/maple2c/mgga_exc/mgga_c_rscan.c
  src/maple2c/mgga_exc/mgga_c_scan.c
  src/maple2c/mgga_exc/mgga_x_r2scan.c
  src/maple2c/mgga_exc/mgga_x_rscan.c
  src/maple2c/mgga_exc/mgga_x_scan.c
Due: cmake, automake

This should make mgga_k_csk better guarded against overflow
  maple/mgga_exc/mgga_k_csk.mpl
  src/maple2c/mgga_exc/mgga_k_csk.c
  src/maple2c/mgga_exc/mgga_k_csk_loc.c
Due: cmake, automake

These were more or less obvious problems wih mgga_c_b88, mgga_x_br89_explicit, gga_c_op_b88, gga_c_op_g96, gga_c_op_pbe, gga_c_op_pw91, gga_c_op_xalpha.
  maple/lda_exc/lda_c_ml1.mpl
  maple/mgga_exc/mgga_c_b88.mpl
  maple/mgga_exc/mgga_x_br89_explicit.mpl
  maple/op.mpl
  maple/util.mpl
  src/maple2c/gga_exc/gga_c_op_b88.c
  src/maple2c/gga_exc/gga_c_op_g96.c
  src/maple2c/gga_exc/gga_c_op_pbe.c
  src/maple2c/gga_exc/gga_c_op_pw91.c
  src/maple2c/gga_exc/gga_c_op_xalpha.c
  src/maple2c/mgga_exc/mgga_c_b88.c
  src/maple2c/mgga_exc/mgga_x_br89_explicit.c
Due: cmake, automake

Also the b94 functional had an obvious problem. Tests changed a bit for the op, as the cutoff condition is slightly different now.
  maple/mgga_exc/mgga_c_b94.mpl
  src/maple2c/mgga_exc/mgga_c_b94.c
  testsuite/regression/gga_c/gga_c_op_b88.H.pol.0.bz2
  testsuite/regression/gga_c/gga_c_op_g96.H.pol.0.bz2
  testsuite/regression/gga_c/gga_c_op_pw91.Li.pol.0.bz2
  testsuite/regression/gga_c/gga_c_op_pw91.Li.pol.1.bz2
Due: cmake, automake

Fix underflow in br89 and consequently in mgga_c_b94. Took me 3 hours to find it.
  src/mgga_x_br89.c
  testsuite/xc-run_testsuite
Due: cmake, automake

Fix underflow in x_br89 and in c_b94. Now xc-run_testsuite can be run for a specific functional.
  src/mgga_x_br89.c
  testsuite/xc-run_testsuite
Due: cmake, automake

Update changelog
  ChangeLog.md
Due: none

Update flags in pylibxc
  CMakeLists.txt
  pylibxc/flags.py
  src/Makefile.am
  src/libxc_master_f90.F90
Due: python, cmake, automake

renamed folder packaging to pckconfig
  Makefile.am
  configure.ac
  pkgconfig/Makefile.am
  pkgconfig/libxc.pc.in
  pkgconfig/libxcf03.pc.in
  pkgconfig/libxcf90.pc.in
Due: none

This expansion solves the problem of mgga_x_edmgga. Also decreased slightly the precision of lambert_w to avoid the annoying warnings in mgga_x_2d_prhg07.
  maple/mgga_exc/mgga_x_edmgga.mpl
  src/maple2c/mgga_exc/mgga_x_edmgga.c
  src/special_functions.c
  src/work_mgga.c
Due: cmake, automake

Implemented the optimized kinetic energy GGA of Issue #271
  libxc.bib
  src/gga_k_tflw.c
  src/references.c
  src/references.h
  testsuite/regression/gga_k/gga_k_lgopt.BrOH+.pol.0.bz2
  testsuite/regression/gga_k/gga_k_lgopt.BrOH+.pol.1.bz2
  testsuite/regression/gga_k/gga_k_lgopt.BrOH+.unpol.0.bz2
  testsuite/regression/gga_k/gga_k_lgopt.BrOH+.unpol.1.bz2
  testsuite/regression/gga_k/gga_k_lgopt.BrOH.pol.0.bz2
  testsuite/regression/gga_k/gga_k_lgopt.BrOH.pol.1.bz2
  testsuite/regression/gga_k/gga_k_lgopt.BrOH.unpol.0.bz2
  testsuite/regression/gga_k/gga_k_lgopt.BrOH.unpol.1.bz2
  testsuite/regression/gga_k/gga_k_lgopt.H.pol.0.bz2
  testsuite/regression/gga_k/gga_k_lgopt.H.pol.1.bz2
  testsuite/regression/gga_k/gga_k_lgopt.H.unpol.0.bz2
  testsuite/regression/gga_k/gga_k_lgopt.H.unpol.1.bz2
  testsuite/regression/gga_k/gga_k_lgopt.Li.pol.0.bz2
  testsuite/regression/gga_k/gga_k_lgopt.Li.pol.1.bz2
  testsuite/regression/gga_k/gga_k_lgopt.Li.unpol.0.bz2
  testsuite/regression/gga_k/gga_k_lgopt.Li.unpol.1.bz2
Due: cmake, automake

Simplify mbeef fix by using the same code as for attenuated functionals
  maple/attenuation.mpl
  maple/mbeef.mpl
  maple/util.mpl
  src/maple2c/mgga_exc/mgga_x_mbeef.c
Due: cmake, automake

Implement gga_c_ccdf.
  CMakeLists.txt
  libxc.bib
  maple/gga_exc/Makefile.am
  maple/gga_exc/gga_c_ccdf.mpl
  src/Makefile.am
  src/gga_c_ccdf.c
  src/maple2c/gga_exc/Makefile.am
  src/maple2c/gga_exc/gga_c_ccdf.c
  src/references.c
  src/references.h
  testsuite/regression/gga_c/gga_c_ccdf.BrOH+.pol.0.bz2
  testsuite/regression/gga_c/gga_c_ccdf.BrOH+.pol.1.bz2
  testsuite/regression/gga_c/gga_c_ccdf.BrOH+.unpol.0.bz2
  testsuite/regression/gga_c/gga_c_ccdf.BrOH+.unpol.1.bz2
  testsuite/regression/gga_c/gga_c_ccdf.BrOH.pol.0.bz2
  testsuite/regression/gga_c/gga_c_ccdf.BrOH.pol.1.bz2
  testsuite/regression/gga_c/gga_c_ccdf.BrOH.unpol.0.bz2
  testsuite/regression/gga_c/gga_c_ccdf.BrOH.unpol.1.bz2
  testsuite/regression/gga_c/gga_c_ccdf.H.pol.0.bz2
  testsuite/regression/gga_c/gga_c_ccdf.H.pol.1.bz2
  testsuite/regression/gga_c/gga_c_ccdf.H.unpol.0.bz2
  testsuite/regression/gga_c/gga_c_ccdf.H.unpol.1.bz2
  testsuite/regression/gga_c/gga_c_ccdf.Li.pol.0.bz2
  testsuite/regression/gga_c/gga_c_ccdf.Li.pol.1.bz2
  testsuite/regression/gga_c/gga_c_ccdf.Li.unpol.0.bz2
  testsuite/regression/gga_c/gga_c_ccdf.Li.unpol.1.bz2
Due: cmake, automake

Renamed functional to tfvw_opt and removed non-ascii characters from libxc.bib.
  libxc.bib
  src/gga_k_tflw.c
  src/references.c
  testsuite/regression/gga_k/gga_k_tfvw_opt.BrOH+.pol.0.bz2
  testsuite/regression/gga_k/gga_k_tfvw_opt.BrOH+.pol.1.bz2
  testsuite/regression/gga_k/gga_k_tfvw_opt.BrOH+.unpol.0.bz2
  testsuite/regression/gga_k/gga_k_tfvw_opt.BrOH+.unpol.1.bz2
  testsuite/regression/gga_k/gga_k_tfvw_opt.BrOH.pol.0.bz2
  testsuite/regression/gga_k/gga_k_tfvw_opt.BrOH.pol.1.bz2
  testsuite/regression/gga_k/gga_k_tfvw_opt.BrOH.unpol.0.bz2
  testsuite/regression/gga_k/gga_k_tfvw_opt.BrOH.unpol.1.bz2
  testsuite/regression/gga_k/gga_k_tfvw_opt.H.pol.0.bz2
  testsuite/regression/gga_k/gga_k_tfvw_opt.H.pol.1.bz2
  testsuite/regression/gga_k/gga_k_tfvw_opt.H.unpol.0.bz2
  testsuite/regression/gga_k/gga_k_tfvw_opt.H.unpol.1.bz2
  testsuite/regression/gga_k/gga_k_tfvw_opt.Li.pol.0.bz2
  testsuite/regression/gga_k/gga_k_tfvw_opt.Li.pol.1.bz2
  testsuite/regression/gga_k/gga_k_tfvw_opt.Li.unpol.0.bz2
  testsuite/regression/gga_k/gga_k_tfvw_opt.Li.unpol.1.bz2
Due: cmake, automake

Implemented the rational-p and Pauli-Gauss kinetic energy GGAs.
  CMakeLists.txt
  libxc.bib
  maple/gga_exc/gga_k_pg.mpl
  maple/gga_exc/gga_k_rational_p.mpl
  src/Makefile.am
  src/gga_k_pg.c
  src/gga_k_rational_p.c
  src/maple2c/gga_exc/Makefile.am
  src/maple2c/gga_exc/gga_k_pg.c
  src/maple2c/gga_exc/gga_k_rational_p.c
  src/references.c
  src/references.h
  testsuite/regression/gga_k/gga_k_rational_p.BrOH+.pol.0.bz2
  testsuite/regression/gga_k/gga_k_rational_p.BrOH+.pol.1.bz2
  testsuite/regression/gga_k/gga_k_rational_p.BrOH+.unpol.0.bz2
  testsuite/regression/gga_k/gga_k_rational_p.BrOH+.unpol.1.bz2
  testsuite/regression/gga_k/gga_k_rational_p.BrOH.pol.0.bz2
  testsuite/regression/gga_k/gga_k_rational_p.BrOH.pol.1.bz2
  testsuite/regression/gga_k/gga_k_rational_p.BrOH.unpol.0.bz2
  testsuite/regression/gga_k/gga_k_rational_p.BrOH.unpol.1.bz2
  testsuite/regression/gga_k/gga_k_rational_p.H.pol.0.bz2
  testsuite/regression/gga_k/gga_k_rational_p.H.pol.1.bz2
  testsuite/regression/gga_k/gga_k_rational_p.H.unpol.0.bz2
  testsuite/regression/gga_k/gga_k_rational_p.H.unpol.1.bz2
  testsuite/regression/gga_k/gga_k_rational_p.Li.pol.0.bz2
  testsuite/regression/gga_k/gga_k_rational_p.Li.pol.1.bz2
  testsuite/regression/gga_k/gga_k_rational_p.Li.unpol.0.bz2
  testsuite/regression/gga_k/gga_k_rational_p.Li.unpol.1.bz2
Due: cmake, automake

Remove trailing whitespace from Perl scripts
  scripts/get_funcs.pl
  scripts/get_references.pl
  scripts/maple2c.pl
  scripts/maple2c_derivatives.pm
  scripts/maple2c_work.pm
  scripts/math_deorbitalize.pl
Due: none

Regenerated mgga_x_edmgga with Maple 2020.
  src/maple2c/mgga_exc/mgga_x_edmgga.c
Due: cmake, automake

Fix the problem with the Fortran part of the makefile
  src/Makefile.am
Due: cmake, automake

Path conditions:
  python: any of: pylibxc/
  cmake: any of: src/
  automake: any of: src/
