Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

.codecov.yml:

coverage:
  status:
    project:
      default: off
      automake:
        flags: automake
      cmake:
        flags: cmake
      python:
        target: 90%
        flags: python


flags:
  python:
    paths:
      - pylibxc/
  cmake:
    paths:
      - src/
  automake:
    paths:
      - src/

initializer element is not constant for ppc compiler.
  src/gga_x_b88.c
Due: cmake, automake

Added Fortran interfaces of new routines.
  src/libxc_master.F90
Due: cmake, automake

This should fix the Python tests
  CMakeLists.txt
Due: none

Parameters for lda_c_pw
  src/lda_c_pw.c
Due: cmake, automake

Still things missing from Fortran interface. Also fixed some confusion with xc_get_ext_param functions (that were duplicated).
  examples/basic.f03
  examples/basic.f90
  examples/xcinfo.f90
  src/Makefile.am
  src/func_info.c
  src/functionals.c
  src/libxc_master.F90
  src/xc-info.c
  src/xc.h
  src/xc_f.c
Due: cmake, automake

I had changed the name of these functions
  pylibxc/functional.py
Due: python

Add clang-format configuration
  .clang-format
Due: none

Misspel
  pylibxc/functional.py
Due: python

Parameters for gga_c_bmk
  src/gga_c_bmk.c
Due: cmake, automake

Add parameters to several more functionals
  src/gga_c_sogga11.c
  src/gga_c_wi.c
  src/gga_x_dk87.c
  src/gga_x_pw86.c
  src/lda_c_hl.c
  src/mgga_c_vsxc.c
Due: cmake, automake

Updated ChangeLog.
  ChangeLog
Due: none

Something got mixed up with all these commits ;)
  src/func_info.c
Due: cmake, automake

Susi, please do not change the indentations, or you'll break a series of scripts.
  src/gga_c_bmk.c
  src/gga_c_sogga11.c
  src/gga_c_wi.c
  src/gga_x_dk87.c
  src/gga_x_pw86.c
  src/lda_c_hl.c
Due: cmake, automake

Update ChangeLog
  ChangeLog
Due: none

A bunch of more changes
  maple/gga_exc/gga_x_hjs_b88_v2.mpl
  src/gga_x_hjs.c
  src/gga_x_hjs_b88_v2.c
  src/gga_x_ityh.c
  src/gga_x_sfat.c
  src/gga_x_sfat_pbe.c
  src/gga_x_wpbeh.c
  src/lda_c_pmgb06.c
  src/lda_x_erf.c
  src/mgga_c_m08.c
  src/util.c
  src/util.h
  src/xc-info.c
Due: cmake, automake

Regenerated Maple source
  src/maple2c/gga_exc/gga_x_hjs_b88_v2.c
Due: cmake, automake

hybrid setter in b97
  src/gga_xc_b97.c
Due: cmake, automake

Fix build error
  src/gga_x_hjs.c
  src/gga_x_hjs_b88_v2.c
  src/xc-info.c
Due: cmake, automake

Almost all functionals now have external parameters
  src/gga_c_wi.c
  src/mgga_x_br89.c
  src/mgga_x_br89_explicit.c
  src/mgga_x_m11_l.c
  src/mgga_x_rscan.c
  src/mgga_x_scan.c
  src/mgga_x_scanl.c
Due: cmake, automake

More changes
  src/gga_c_bmk.c
  src/gga_c_sogga11.c
  src/gga_c_wi.c
  src/gga_x_dk87.c
  src/gga_x_fd_lb94.c
  src/gga_x_hjs.c
  src/gga_x_hjs_b88_v2.c
  src/gga_x_pw86.c
  src/lda_c_hl.c
  src/lda_c_pw.c
  src/lda_x_sloc.c
  src/mgga_c_m08.c
  src/mgga_c_vsxc.c
  src/mgga_x_br89.c
  src/mgga_x_m08.c
  src/mgga_x_m11.c
  src/mgga_x_m11_l.c
  src/mgga_x_mn12.c
  src/mgga_x_rscan.c
  src/mgga_x_scan.c
  src/mgga_x_scanl.c
  src/mix_func.c
Due: cmake, automake

Only check that parameters have been allocated if any remain
  src/util.c
Due: cmake, automake

Reduce duplicated code
  src/util.c
Due: cmake, automake

Off-by-one
  src/util.c
Due: cmake, automake

Missed omega in m11l
  src/mgga_x_m11_l.c
Due: cmake, automake

libxc_malloc instead of malloc
  src/functionals.c
  src/gga_x_s12.c
Due: cmake, automake

This should fix the failures in gga_xc_b97
  src/gga_xc_b97.c
Due: cmake, automake

Added a function to set just specific ext_param by name. COrrected a few bugs.
  src/functionals.c
  src/gga_xc_b97.c
  src/hyb_gga_xc_cam_b3lyp.c
  src/hyb_gga_xc_hse.c
  src/mgga_x_m11_l.c
  src/xc.h
Due: cmake, automake

Off-by-one
  src/gga_xc_b97.c
Due: cmake, automake

This should fix the other errors of the testsuite
  src/gga_x_wpbeh.c
  src/gga_xc_vv10.c
Due: cmake, automake

Solved some inconsistencies with the parameters
  src/gga_k_tflw.c
  src/gga_x_ft97.c
  src/gga_x_lcgau.c
  src/mgga_x_tb09.c
Due: cmake, automake

Make components of func_reference_type private.
  src/func_reference.c
  src/references.c
  src/references.h
  src/xc.h
Due: cmake, automake

B5050LYP should have VWN not VWN_RPA correlation
  src/hyb_gga_xc_b3lyp.c
Due: cmake, automake

Update tests, too; weird that these have changed?!
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_b5050lyp.BrOH+.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_b5050lyp.BrOH.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_b5050lyp.H.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_b5050lyp.Li.pol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b5050lyp.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b5050lyp.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b5050lyp.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b5050lyp.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b5050lyp.BrOH+.unpol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b5050lyp.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b5050lyp.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b5050lyp.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b5050lyp.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b5050lyp.BrOH.unpol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b5050lyp.H.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b5050lyp.H.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b5050lyp.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b5050lyp.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b5050lyp.H.unpol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b5050lyp.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b5050lyp.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b5050lyp.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b5050lyp.Li.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b5050lyp.Li.unpol.2.bz2
Due: none

These tests failed with the intel compiler with xcore-avx2
  testsuite/regression/gga_k/disabled/gga_k_fr_pw86.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_lcgau_core.H.pol.1.bz2
  testsuite/regression/gga_x/disabled/gga_x_q2d.BrOH.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_camy_blyp.H.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_lc_blyp.BrOH.pol.1.bz2
Due: none

Release 5.0.0
  ChangeLog
  NEWS
  PACKAGING
  configure.ac
  pylibxc/version.py
Due: python

lda_c_ml1 params
  src/lda_c_ml1.c
Due: cmake, automake

Release 5.0.0 (with correct soversion)
  configure.ac
Due: none

Parameters for gga_x_pw91
  src/gga_x_pw91.c
Due: cmake, automake
