Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

Better to use the scaled version
  src/lda_x_1d_exponential.c
Due: cmake, automake

Solved a few float exceptions that lingered around.
  maple/gga_exc/gga_c_w94.mpl
  maple/gga_exc/gga_c_zvpbeint.mpl
  maple/gga_exc/gga_x_gg99.mpl
  src/maple2c/gga_exc/gga_c_w94.c
  src/maple2c/gga_exc/gga_c_zvpbeint.c
  src/maple2c/gga_exc/gga_x_gg99.c
Due: cmake, automake

Sorted out the functionals removed in C and in Fortran interface
  src/libxc_master.F90
  src/xc_funcs_removed.h
Due: cmake, automake

Added removed identifier
  src/libxc_master.F90
  src/xc_funcs_removed.h
Due: cmake, automake

This sanitizes the DOIs in the web page.
  src/genwiki.c
  src/gga_x_lsrpbe.c
Due: cmake, automake

Cleaned references
  libxc.bib
  scripts/get_references.pl
  src/references.c
Due: cmake, automake

Added HAVE_ALL to Fortran and python interfaces
  pylibxc/flags.py
  src/libxc_master.F90
Due: python, cmake, automake

The order of the indices was wrong.
  pylibxc/functional.py
Due: python

Remade all lda functionals with maple. Also resolved some inconsistencies with the flags.
  src/gga_k_gds08.c
  src/gga_x_cap.c
  src/gga_x_kt.c
  src/gga_xc_edf1.c
  src/hyb_lda_xc_cam_lda0.c
  src/lda_c_pk09.c
  src/maple2c/lda_exc/lda_c_1d_csc.c
  src/maple2c/lda_exc/lda_c_1d_loos.c
  src/maple2c/lda_exc/lda_c_2d_amgb.c
  src/maple2c/lda_exc/lda_c_2d_prm.c
  src/maple2c/lda_exc/lda_c_chachiyo_mod.c
  src/maple2c/lda_exc/lda_c_ml1.c
  src/maple2c/lda_exc/lda_c_pmgb06.c
  src/maple2c/lda_exc/lda_c_pw.c
  src/maple2c/lda_exc/lda_c_rc04.c
  src/maple2c/lda_exc/lda_c_vwn.c
  src/maple2c/lda_exc/lda_c_vwn_1.c
  src/maple2c/lda_exc/lda_c_vwn_2.c
  src/maple2c/lda_exc/lda_c_vwn_3.c
  src/maple2c/lda_exc/lda_c_vwn_4.c
  src/maple2c/lda_exc/lda_c_vwn_rpa.c
  src/maple2c/lda_exc/lda_x_1d_soft.c
  src/maple2c/lda_exc/lda_x_erf.c
  src/maple2c/lda_exc/lda_x_rel.c
  src/maple2c/lda_exc/lda_xc_bn05.c
  src/maple2c/lda_exc/lda_xc_ksdt.c
  src/maple2c/lda_exc/lda_xc_teter93.c
  src/maple2c/lda_vxc/lda_xc_tih.c
Due: cmake, automake

Changed value of HAVE_ALL to the obvious meaning.
  pylibxc/flags.py
  src/gga_k_gds08.c
  src/gga_x_cap.c
  src/gga_x_kt.c
  src/gga_xc_1w.c
  src/gga_xc_edf1.c
  src/gga_xc_oblyp_d.c
  src/gga_xc_vv10.c
  src/hyb_gga_xc_b1wc.c
  src/hyb_gga_xc_b3lyp.c
  src/hyb_gga_xc_cam_b3lyp.c
  src/hyb_gga_xc_cam_qtp.c
  src/hyb_gga_xc_camy_b3lyp.c
  src/hyb_gga_xc_camy_blyp.c
  src/hyb_gga_xc_edf2.c
  src/hyb_gga_xc_hse.c
  src/hyb_gga_xc_lc_blyp.c
  src/hyb_gga_xc_lcy_blyp.c
  src/hyb_gga_xc_lcy_pbe.c
  src/hyb_gga_xc_o3lyp.c
  src/hyb_gga_xc_pbeh.c
  src/hyb_lda_xc_cam_lda0.c
  src/hyb_mgga_x_mvsh.c
  src/hyb_mgga_xc_b88b95.c
  src/hyb_mgga_xc_kcis.c
  src/hyb_mgga_xc_tpssh.c
  src/libxc_master.F90
  src/mgga.c
  src/mgga_x_edmgga.c
  src/mgga_xc_hle17.c
  src/mgga_xc_otpss_d.c
  src/util.h
  src/xc.h
Due: python, cmake, automake

Stupid tests... I am serious considering removing all fxc tests. In any case fxc is generated analytically by maple, so what is there to check?
  testsuite/regression/mgga_c/disabled/mgga_c_m08_hx.Li.pol.2.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_m08_so.Li.pol.2.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_m11.Li.pol.2.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_m11_l.Li.pol.2.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_mn12_l.Li.pol.2.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_mn12_sx.Li.pol.2.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_mn15.Li.pol.2.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_mn15_l.Li.pol.2.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_revm11.Li.pol.2.bz2
Due: none

Implemented the lcgau exchange functional.
  CMakeLists.txt
  libxc.bib
  maple/attenuation.mpl
  src/Makefile.am
  src/maple2c/gga_exc/Makefile.am
  src/references.c
  src/references.h
  testsuite/regression/gga_x/gga_x_lcgau.BrOH+.pol.0.bz2
  testsuite/regression/gga_x/gga_x_lcgau.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_lcgau.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/gga_x_lcgau.BrOH+.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_lcgau.BrOH+.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_lcgau.BrOH+.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_lcgau.BrOH.pol.0.bz2
  testsuite/regression/gga_x/gga_x_lcgau.BrOH.pol.1.bz2
  testsuite/regression/gga_x/gga_x_lcgau.BrOH.pol.2.bz2
  testsuite/regression/gga_x/gga_x_lcgau.BrOH.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_lcgau.BrOH.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_lcgau.BrOH.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_lcgau.H.pol.0.bz2
  testsuite/regression/gga_x/gga_x_lcgau.H.pol.1.bz2
  testsuite/regression/gga_x/gga_x_lcgau.H.pol.2.bz2
  testsuite/regression/gga_x/gga_x_lcgau.H.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_lcgau.H.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_lcgau.H.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_lcgau.Li.pol.0.bz2
  testsuite/regression/gga_x/gga_x_lcgau.Li.pol.1.bz2
  testsuite/regression/gga_x/gga_x_lcgau.Li.pol.2.bz2
  testsuite/regression/gga_x/gga_x_lcgau.Li.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_lcgau.Li.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_lcgau.Li.unpol.2.bz2
Due: cmake, automake

Disabling some tests
  testsuite/regression/gga_x/disabled/gga_x_lc2gau.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/disabled/gga_x_lc2gau.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_lc2gau.BrOH+.unpol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_lc2gau.BrOH.pol.1.bz2
  testsuite/regression/gga_x/disabled/gga_x_lc2gau.BrOH.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_lc2gau.BrOH.unpol.1.bz2
  testsuite/regression/gga_x/disabled/gga_x_lc2gau.BrOH.unpol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_lc2gau.Li.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_lcgau.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_lcgau_core.BrOH+.unpol.1.bz2
  testsuite/regression/gga_x/disabled/gga_x_lcgau_core.BrOH+.unpol.2.bz2
Due: none

Fixed problem with pk09. The main issue was that there was a density missing. This should fix #17
  maple/lda_exc/lda_c_pk09.mpl
  scripts/maple2c.pl
  src/maple2c/lda_exc/lda_c_pk09.c
  testsuite/regression/lda_c/lda_c_pk09.BrOH+.pol.0.bz2
  testsuite/regression/lda_c/lda_c_pk09.BrOH+.pol.1.bz2
  testsuite/regression/lda_c/lda_c_pk09.BrOH+.unpol.0.bz2
  testsuite/regression/lda_c/lda_c_pk09.BrOH+.unpol.1.bz2
  testsuite/regression/lda_c/lda_c_pk09.BrOH.pol.0.bz2
  testsuite/regression/lda_c/lda_c_pk09.BrOH.pol.1.bz2
  testsuite/regression/lda_c/lda_c_pk09.BrOH.unpol.0.bz2
  testsuite/regression/lda_c/lda_c_pk09.BrOH.unpol.1.bz2
  testsuite/regression/lda_c/lda_c_pk09.H.unpol.0.bz2
  testsuite/regression/lda_c/lda_c_pk09.H.unpol.1.bz2
  testsuite/regression/lda_c/lda_c_pk09.Li.pol.0.bz2
  testsuite/regression/lda_c/lda_c_pk09.Li.pol.1.bz2
  testsuite/regression/lda_c/lda_c_pk09.Li.unpol.0.bz2
  testsuite/regression/lda_c/lda_c_pk09.Li.unpol.1.bz2
Due: cmake, automake

In this way libxc will handle in a much robust manner negative densities. In particular, it should solve the Issue #152.
  src/work_gga.c
  src/work_lda.c
  src/work_mgga.c
Due: cmake, automake

Sort out a couple of developemt flags.
  src/gga_x_lcgau.c
  src/lda_c_pk09.c
Due: cmake, automake

Sanity (paranoid) checking of the input densities.
  src/work_gga.c
  src/work_mgga.c
  testsuite/regression/hyb_mgga_x/hyb_mgga_x_js18.Li.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_revtm.H.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_revtm.H.pol.2.bz2
  testsuite/regression/mgga_c/mgga_c_revtm.H.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_revtm.H.unpol.2.bz2
  testsuite/regression/mgga_c/mgga_c_tpssloc.H.pol.2.bz2
  testsuite/regression/mgga_c/mgga_c_tpssloc.H.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_tpssloc.H.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_mbeef.Li.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mbeefvdw.Li.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_revtm.Li.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_tm.Li.pol.1.bz2
Due: cmake, automake

Added mgga_x_mggac
  CMakeLists.txt
  libxc.bib
  maple/mgga_exc/Makefile.am
  maple/mgga_exc/mgga_x_mggac.mpl
  src/Makefile.am
  src/maple2c/mgga_exc/Makefile.am
  src/maple2c/mgga_exc/mgga_x_mggac.c
  src/mgga_x_mggac.c
  src/references.c
  src/references.h
Due: cmake, automake

Added a c_pbe variant to be used with mgga_x_mggac
  src/gga_c_pbe.c
Due: cmake, automake

Wrappers for easier interfacing to energy and low-order derivatives
  src/gga.c
  src/lda.c
  src/mgga.c
  src/xc.h
Due: cmake, automake

Add also energy-free wrappers.
  src/gga.c
  src/lda.c
  src/mgga.c
  src/xc.h
Due: cmake, automake

Missed a symbol
  src/lda.c
Due: cmake, automake

The bracketing was not done correctly. Also the handling of the critical point of the equation should be more robust.
  src/math_brent.c
  src/mgga_x_br89.c
  src/mgga_x_mbrxc_bg.c
  src/test.c
Due: cmake, automake

My intel 2016 compiler complained about these...
  src/gga_x_hjs.c
  src/gga_x_n12.c
  src/gga_xc_th1.c
  src/gga_xc_th3.c
  src/lda_c_1d_csc.c
  src/mgga_x_m06l.c
  src/mgga_x_tau_hcth.c
  src/mix_func.c
Due: cmake, automake

Remove debug printf
  src/work_mgga.c
Due: cmake, automake

Disabling fxc failing tests
  testsuite/regression/mgga_x/disabled/mgga_x_bj06.BrOH.pol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_bj06.BrOH.unpol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_br89.BrOH.unpol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_mggac.BrOH+.pol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_mggac.BrOH+.unpol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_mggac.BrOH.pol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_mggac.BrOH.unpol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_mggac.Li.pol.1.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_mggac.Li.pol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_mggac.Li.unpol.1.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_mggac.Li.unpol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_tb09.BrOH.pol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_tb09.BrOH.unpol.2.bz2
Due: none

don't hard code version for CMake fixes #79
  CMakeLists.txt
Due: none

More files converted
  src/gga_c_am05.c
  src/gga_c_lyp.c
  src/gga_c_pbe.c
  src/gga_x_am05.c
  src/gga_x_b86.c
  src/gga_x_b88.c
  src/gga_x_ft97.c
  src/gga_x_kt.c
  src/gga_x_optx.c
  src/gga_x_pbe.c
  src/gga_x_pw91.c
  src/gga_x_rpbe.c
Due: cmake, automake

More files added.
  src/gga_c_optc.c
  src/gga_xc_b97.c
  src/util.c
Due: cmake, automake

It's a slow grind to change the external parameters.
  src/gga_x_ak13.c
  src/gga_x_ev93.c
  src/gga_x_ft97.c
  src/gga_x_hjs.c
  src/gga_x_ityh.c
  src/gga_x_lspbe.c
  src/gga_x_lsrpbe.c
  src/gga_x_sfat.c
  src/gga_x_sfat_pbe.c
  src/gga_x_ssb_sw.c
  src/gga_x_wpbeh.c
Due: cmake, automake

Finished converting the files. There are still a couple of bugs, though.
  src/gga_c_am05.c
  src/gga_c_optc.c
  src/gga_c_pbe_vwn.c
  src/gga_k_tflw.c
  src/gga_x_cap.c
  src/gga_x_ev93.c
  src/gga_x_hjs_b88_v2.c
  src/gga_x_lcgau.c
  src/gga_x_ncap.c
  src/gga_x_ol2.c
  src/gga_x_pbeint.c
  src/gga_x_s12.c
  src/gga_x_ssb_sw.c
  src/hyb_gga_xc_b3lyp.c
  src/hyb_gga_xc_cam_b3lyp.c
  src/hyb_gga_xc_camy_b3lyp.c
  src/hyb_gga_xc_hse.c
  src/hyb_gga_xc_pbeh.c
  src/lda_k_gds08_worker.c
  src/mgga_c_bc95.c
  src/mgga_c_m05.c
  src/mgga_c_m06l.c
  src/mgga_c_revtpss.c
  src/mgga_c_tpss.c
  src/mgga_x_br89_explicit.c
  src/mgga_x_gdme.c
  src/mgga_x_gx.c
  src/mgga_x_lta.c
  src/mgga_x_ms.c
  src/mgga_x_mvs.c
  src/mgga_x_mvsb.c
  src/mgga_x_rlda.c
  src/mgga_x_rtpss.c
  src/mgga_x_tb09.c
  src/mgga_x_tpss.c
  src/util.c
Due: cmake, automake

Path conditions:
  python: any of: pylibxc/
  cmake: any of: src/
  automake: any of: src/
