Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

.codecov.yml:

coverage:
  status:
    project:
      default: off
      automake:
        flags: automake
      cmake:
        flags: cmake
      python:
        target: 90%
        flags: python


flags:
  python:
    paths:
      - pylibxc/
  cmake:
    paths:
      - src/
  automake:
    paths:
      - src/

Some initial work towards lda_c_w20
  maple/lda_exc/lda_c_w20.mpl
Due: none

Revert "Some initial work towards lda_c_w20"
  maple/lda_exc/lda_c_w20.mpl
Due: none

Implement lda_c_w20.
  CMakeLists.txt
  libxc.bib
  maple/lda_exc/Makefile.am
  maple/lda_exc/lda_c_w20.mpl
  src/Makefile.am
  src/lda_c_w20.c
  src/maple2c/lda_exc/Makefile.am
  src/maple2c/lda_exc/lda_c_w20.c
  src/references.c
  src/references.h
  testsuite/regression/lda_c/lda_c_w20.BrOH+.pol.0.bz2
  testsuite/regression/lda_c/lda_c_w20.BrOH+.pol.1.bz2
  testsuite/regression/lda_c/lda_c_w20.BrOH+.unpol.0.bz2
  testsuite/regression/lda_c/lda_c_w20.BrOH+.unpol.1.bz2
  testsuite/regression/lda_c/lda_c_w20.BrOH.pol.0.bz2
  testsuite/regression/lda_c/lda_c_w20.BrOH.pol.1.bz2
  testsuite/regression/lda_c/lda_c_w20.BrOH.unpol.0.bz2
  testsuite/regression/lda_c/lda_c_w20.BrOH.unpol.1.bz2
  testsuite/regression/lda_c/lda_c_w20.H.pol.0.bz2
  testsuite/regression/lda_c/lda_c_w20.H.pol.1.bz2
  testsuite/regression/lda_c/lda_c_w20.H.unpol.0.bz2
  testsuite/regression/lda_c/lda_c_w20.H.unpol.1.bz2
  testsuite/regression/lda_c/lda_c_w20.Li.pol.0.bz2
  testsuite/regression/lda_c/lda_c_w20.Li.pol.1.bz2
  testsuite/regression/lda_c/lda_c_w20.Li.unpol.0.bz2
  testsuite/regression/lda_c/lda_c_w20.Li.unpol.1.bz2
Due: cmake, automake

Looks like I should have reset the hyb_gga_xc_lc_pbeop tests in 4f819b4a88683d23fe288b0fa021558b7ed7c651, although I have no idea why they suddenly started failing
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.H.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.H.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_pbeop.Li.unpol.1.bz2
Due: none

Implement mgga_x_regtm.
  CMakeLists.txt
  libxc.bib
  maple/mgga_exc/Makefile.am
  maple/mgga_exc/mgga_x_regtm.mpl
  src/Makefile.am
  src/maple2c/mgga_exc/Makefile.am
  src/maple2c/mgga_exc/mgga_x_regtm.c
  src/mgga_x_regtm.c
  src/references.c
  src/references.h
  testsuite/regression/mgga_x/mgga_x_regtm.BrOH+.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_regtm.BrOH+.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_regtm.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_regtm.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_regtm.BrOH.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_regtm.BrOH.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_regtm.BrOH.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_regtm.BrOH.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_regtm.H.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_regtm.H.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_regtm.H.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_regtm.H.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_regtm.Li.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_regtm.Li.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_regtm.Li.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_regtm.Li.unpol.1.bz2
Due: cmake, automake

Fix mgga_x_regtpss: the weight function had a square root instead of a power of 3/2.
  maple/mgga_exc/mgga_x_regtpss.mpl
  src/maple2c/mgga_exc/mgga_x_regtpss.c
  testsuite/regression/mgga_x/mgga_x_regtpss.BrOH+.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_regtpss.BrOH+.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_regtpss.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_regtpss.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_regtpss.BrOH.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_regtpss.BrOH.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_regtpss.BrOH.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_regtpss.BrOH.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_regtpss.H.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_regtpss.H.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_regtpss.Li.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_regtpss.Li.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_regtpss.Li.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_regtpss.Li.unpol.1.bz2
Due: cmake, automake

mix_func no longer allocates any memory. Also moved some stuff to mix_init where it makes much more sense.
  src/mix_func.c
  src/util.h
Due: cmake, automake

Meta-LDA functionals have page number
  libxc.bib
  src/mgga_c_ltapw.c
  src/mgga_x_lta.c
  src/references.c
  src/references.h
Due: cmake, automake

Changelog for version 5.1.1
  ChangeLog.md
Due: none

Fix pylibxc array example in README
  README.md
Due: none

Version is 5.1.1.
  configure.ac
  pylibxc/version.py
Due: python

Port libxc version history to master branch
  configure.ac
Due: none

Looks like I forgot to sync the F90 source
  src/libxc_master_f90.F90
Due: cmake, automake

Increment version
  configure.ac
  pylibxc/version.py
Due: python

cmake pkgconfig file needs to be included in distribution tarball
  cmake/Makefile.am
Due: none

Version should be 6.0.0
  cmake/LibxcConfig.cmake.in
Due: none

One more 5.1.1 to 5.1.2
  configure.ac
Due: none

Changelog for 5.1.2
  ChangeLog.md
Due: none

Update version history in configure.ac; update XC_CURRENT accordingly
  configure.ac
Due: none

Missing const in function argument.
  src/util.h
Due: cmake, automake

Suppress some unused variable warnings.
  src/work_gga.c
Due: cmake, automake

Missing GPU_FUNCTION declaration.
  src/faddeeva.c
Due: cmake, automake

Trying to see what happens if you add a .gitlab-ci.yml file.
  .gitlab-ci.yml
Due: none

Complete the gcc build
  .gitlab-ci.yml
Due: none

libtool and bzip2 are needed.
  .gitlab-ci.yml
Due: none

Missing command.
  .gitlab-ci.yml
Due: none

Install the fortran compiler.
  .gitlab-ci.yml
Due: none

Add a C++ build.
  .gitlab-ci.yml
Due: none

* Added a clang++ build. * Added -Wall to the other builds.
  .gitlab-ci.yml
Due: none

Suppress a clang++ warning.
  .gitlab-ci.yml
Due: none
