Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

Rearrange handling of minimal Fermi curvature
  src/work_mgga.c
Due: cmake, automake

Add autogenerated C files to makefile
  src/Makefile.am
Due: cmake, automake

One more file to include in tarball
  src/Makefile.am
Due: cmake, automake

Make processor specific optimization flag checks compiler dependent
  CMakeLists.txt
Due: none

Header file shouldn't depend on availability of derivatives in the compiled version
  src/xc.h
Due: cmake, automake

mTASK paper has been published already in June
  libxc.bib
  src/mgga_x_task.c
  src/references.c
  src/references.h
Due: cmake, automake

Remove non-ASCII characters in bibliography
  libxc.bib
  src/references.c
Due: cmake, automake

Implemented mgga_x_ft98: Filatov-Thiel 1998 exchange functional.
  CMakeLists.txt
  libxc.bib
  maple/mgga_exc/Makefile.am
  maple/mgga_exc/mgga_x_ft98.mpl
  src/Makefile.am
  src/maple2c/mgga_exc/Makefile.am
  src/maple2c/mgga_exc/mgga_x_ft98.c
  src/mgga_x_ft98.c
  src/references.c
  src/references.h
  testsuite/regression/mgga_x/mgga_x_ft98.BrOH+.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_ft98.BrOH+.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_ft98.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_ft98.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_ft98.BrOH.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_ft98.BrOH.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_ft98.BrOH.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_ft98.BrOH.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_ft98.H.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_ft98.H.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_ft98.H.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_ft98.H.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_ft98.Li.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_ft98.Li.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_ft98.Li.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_ft98.Li.unpol.1.bz2
Due: cmake, automake

Handle null pointer reference in F90 wrapper, suggestion by Igor S. Gerasimov.
  src/libxc_master.F90
Due: cmake, automake

Avoid long lines in f90 include file
  scripts/get_funcs.pl
Due: none

Clarify comments in attenuation.mpl
  maple/attenuation.mpl
Due: none

Clarify lda_x_erf description
  src/lda_x_erf.c
Due: cmake, automake

Clarify lda_x_yukawa description
  src/lda_x_yukawa.c
Due: cmake, automake

Fix flipped parameter descriptions in wb97 style functionals (#363)
  src/hyb_gga_xc_wb97.c
Due: cmake, automake

Add autogenerated files to repo
  .gitignore
  src/funcs_gga.c
  src/funcs_key.c
  src/funcs_lda.c
  src/funcs_mgga.c
  src/libxc_docs.txt
  src/libxc_inc.f90
  src/libxcf03.f90
  src/xc_funcs.h
  src/xc_funcs_worker.h
Due: cmake, automake

Don't generate xc_funcs.h in CMake
  CMakeLists.txt
Due: none

Don't generate xc_funcs.h in automake
  src/Makefile.am
Due: cmake, automake

libxcf03 should also be distributed
  src/Makefile.am
Due: cmake, automake

Add xc_funcs.h and xc_funcs_worker.h to include_HEADERS
  src/Makefile.am
Due: cmake, automake

Version tagging
  configure.ac
  pylibxc/version.py
Due: python

Add missing factor (1-z^2) in lda_c_pmgb06 (#360)
  maple/lda_exc/lda_c_pmgb06.mpl
  src/maple2c/lda_exc/lda_c_pmgb06.c
  testsuite/regression/lda_c/lda_c_pmgb06.BrOH+.pol.0.bz2
  testsuite/regression/lda_c/lda_c_pmgb06.BrOH+.pol.1.bz2
  testsuite/regression/lda_c/lda_c_pmgb06.H.pol.0.bz2
  testsuite/regression/lda_c/lda_c_pmgb06.H.pol.1.bz2
  testsuite/regression/lda_c/lda_c_pmgb06.Li.pol.0.bz2
  testsuite/regression/lda_c/lda_c_pmgb06.Li.pol.1.bz2
Due: cmake, automake

The enforcement of the Fermi hole curvature can now be switched off at configure time.
  CMakeLists.txt
  configure.ac
  src/work_mgga.c
Due: cmake, automake

Update list of functionals
  src/Makefile.am
  src/funcs_gga.c
  src/funcs_hyb_gga.c
  src/funcs_hyb_lda.c
  src/funcs_hyb_mgga.c
  src/funcs_key.c
  src/funcs_lda.c
  src/funcs_mgga.c
  src/libxc_docs.txt
  src/libxc_inc.f90
  src/xc_funcs.h
Due: cmake, automake

5.x.x backport of lda_c_pmgb06 changes
  maple/lda_exc/lda_c_pmgb06.mpl
  src/maple2c/lda_exc/lda_c_pmgb06.c
Due: cmake, automake

Update references
  src/libxcf03.f90
Due: cmake, automake

First stab at auxiliary function accessors
  src/libxc_master.F90
  src/libxcf03.f90
  src/mix_func.c
  src/xc.h
Due: cmake, automake

Fix new Fortran interfaces for mixed functionals.
  src/libxc_master.F90
  src/libxcf03.f90
Due: cmake, automake

Python frontend to auxiliary function getters.
  pylibxc/functional.py
Due: python

Changelog for 5.2.0
  ChangeLog.md
Due: none

one more change
  ChangeLog.md
Due: none

First stab at auxiliary function accessors
  src/libxc_master.F90
  src/libxcf90.f90
  src/mix_func.c
  src/xc.h
Due: cmake, automake

libxcf03.f90 is a preprocessed version of libxc_master.F90 and shouldn't be in the repo
  src/libxcf03.f90
Due: cmake, automake

Sync the f90 library to the f03 library; delete preprocessed file
  src/libxc_master_f90.F90
  src/libxcf03.f90
Due: cmake, automake

Delete another preprocessed file
  src/libxcf90.f90
Due: cmake, automake

hyb_mgga_xc_lc_tmlyp is an xc not an x functional
  src/hyb_mgga_x_pjs18.c
Due: cmake, automake

Path conditions:
  python: any of: pylibxc/
  cmake: any of: src/
  automake: any of: src/
