Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

Implemented revM11 functional.
  libxc.bib
  src/mgga_c_m08.c
  src/mgga_x_m11.c
  src/references.c
  src/references.h
Due: cmake, automake

Fix a bug in CAM-QTP-01: should have 20% not 21% VWN5 correlation.
  src/hyb_gga_xc_cam_b3lyp.c
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_cam_qtp_01.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_cam_qtp_01.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_cam_qtp_01.BrOH+.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_cam_qtp_01.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_cam_qtp_01.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_cam_qtp_01.BrOH+.unpol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.H.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.H.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.Li.unpol.1.bz2
Due: cmake, automake

Update tests.
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.H.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_cam_qtp_01.Li.pol.1.bz2
Due: none

Update AUTHORS
  AUTHORS
Due: none

Tobias Burnus has been gone for a decade.
  AUTHORS
Due: none

Update changelog.
  ChangeLog
Due: none

Bump version to 4.3.4.
  CMakeLists.txt
  configure.ac
  pylibxc/version.py
Due: python

Update ChangeLog to include changes from merge requests !127, !133, and !140.
  ChangeLog
Due: none

BUG FIX: in both lda_xc_ksdt and lda_xc_gdsmfb. Some terms were missing.
  maple/lda_xc_ksdt.mpl
  src/lda_xc_ksdt.c
  src/maple2c/lda_exc/lda_xc_ksdt.c
  testsuite/regression/lda_xc/lda_xc_ksdt.Li.pol.0.bz2
  testsuite/regression/lda_xc/lda_xc_ksdt.Li.pol.2.bz2
Due: cmake, automake

Work towards fixing KCIS correlation
  maple/gga_c_gapc.mpl
  maple/mgga_c_kcis.mpl
  src/maple2c/mgga_c_kcis.c
Due: cmake, automake

Fix typo in comment
  maple/gga_c_gaploc.mpl
Due: none

More c orrections to kcis
  maple/gga_c_gapc.mpl
  maple/mgga_c_kcis.mpl
  src/maple2c/mgga_c_kcis.c
Due: cmake, automake

The KCIS functional is defined in Kurth1999_889. There were some things that were wrong. Let's hope it is fixed now.
  libxc.bib
  maple/gga_c_gapc.mpl
  maple/mgga_c_kcis.mpl
  src/maple2c/gga_exc/gga_c_gapc.c
  src/maple2c/mgga_c_kcis.c
  src/mgga_c_kcis.c
  src/references.c
  src/references.h
Due: cmake, automake

While trying to find the KCIS bug, I changed by mistake the value of a constant. I hope that now KCIS is correct.
  maple/gga_c_gapc.mpl
  src/maple2c/gga_exc/gga_c_gapc.c
  src/maple2c/mgga_c_kcis.c
Due: cmake, automake

Updated KCIS and B0KCIS tests.
  testsuite/regression/hyb_mgga_xc/disabled/hyb_mgga_xc_b0kcis.H.pol.1.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_b0kcis.BrOH+.pol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_b0kcis.BrOH+.pol.1.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_b0kcis.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_b0kcis.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_b0kcis.BrOH.pol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_b0kcis.BrOH.pol.1.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_b0kcis.BrOH.unpol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_b0kcis.BrOH.unpol.1.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_b0kcis.H.pol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_b0kcis.H.unpol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_b0kcis.H.unpol.1.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_b0kcis.Li.pol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_b0kcis.Li.pol.1.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_b0kcis.Li.unpol.0.bz2
  testsuite/regression/hyb_mgga_xc/hyb_mgga_xc_b0kcis.Li.unpol.1.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_kcis.H.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_kcis.BrOH+.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_kcis.BrOH+.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_kcis.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_kcis.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_kcis.BrOH.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_kcis.BrOH.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_kcis.BrOH.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_kcis.BrOH.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_kcis.H.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_kcis.H.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_kcis.H.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_kcis.Li.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_kcis.Li.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_kcis.Li.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_kcis.Li.unpol.1.bz2
Due: none

Another bug corrected: is it the last one? The functional as it is has probably problems for fully polarized densities. Will correct this later.
  maple/mgga_c_kcis.mpl
  src/maple2c/mgga_c_kcis.c
Due: cmake, automake

Update gapc tests.
  testsuite/regression/gga_c/gga_c_gapc.BrOH+.pol.0.bz2
  testsuite/regression/gga_c/gga_c_gapc.BrOH+.pol.1.bz2
  testsuite/regression/gga_c/gga_c_gapc.BrOH+.pol.2.bz2
  testsuite/regression/gga_c/gga_c_gapc.BrOH+.unpol.0.bz2
  testsuite/regression/gga_c/gga_c_gapc.BrOH+.unpol.1.bz2
  testsuite/regression/gga_c/gga_c_gapc.BrOH+.unpol.2.bz2
  testsuite/regression/gga_c/gga_c_gapc.BrOH.pol.0.bz2
  testsuite/regression/gga_c/gga_c_gapc.BrOH.pol.1.bz2
  testsuite/regression/gga_c/gga_c_gapc.BrOH.pol.2.bz2
  testsuite/regression/gga_c/gga_c_gapc.BrOH.unpol.0.bz2
  testsuite/regression/gga_c/gga_c_gapc.BrOH.unpol.1.bz2
  testsuite/regression/gga_c/gga_c_gapc.BrOH.unpol.2.bz2
  testsuite/regression/gga_c/gga_c_gapc.H.pol.0.bz2
  testsuite/regression/gga_c/gga_c_gapc.H.pol.1.bz2
  testsuite/regression/gga_c/gga_c_gapc.H.pol.2.bz2
  testsuite/regression/gga_c/gga_c_gapc.H.unpol.0.bz2
  testsuite/regression/gga_c/gga_c_gapc.H.unpol.1.bz2
  testsuite/regression/gga_c/gga_c_gapc.H.unpol.2.bz2
  testsuite/regression/gga_c/gga_c_gapc.Li.pol.0.bz2
  testsuite/regression/gga_c/gga_c_gapc.Li.pol.1.bz2
  testsuite/regression/gga_c/gga_c_gapc.Li.pol.2.bz2
  testsuite/regression/gga_c/gga_c_gapc.Li.unpol.0.bz2
  testsuite/regression/gga_c/gga_c_gapc.Li.unpol.1.bz2
  testsuite/regression/gga_c/gga_c_gapc.Li.unpol.2.bz2
Due: none

A couple of small differences in tests
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.Li.pol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_apf.Li.pol.2.bz2
Due: none

A couple more of failing tests
  testsuite/regression/gga_x/disabled/gga_x_2d_b86.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_2d_b86.Li.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_2d_b88.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_2d_b88.BrOH.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_2d_b88.Li.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_b88m.Li.pol.2.bz2
Due: none

Another test is still failing
  testsuite/regression/gga_k/disabled/gga_k_fr_b88.BrOH+.pol.2.bz2
Due: none

A few more GGA functionals
  maple/gga_k_mpbe.mpl
  maple/gga_k_pw86.mpl
  maple/gga_x_pw86.mpl
  src/Makefile.am
  src/gga_k_mpbe.c
  src/gga_k_pw86.c
  src/gga_x_mpbe.c
  src/gga_x_pw86.c
  src/maple2c/Makefile.am
  src/maple2c/gga_exc/Makefile.am
  src/maple2c/gga_exc/gga_k_mpbe.c
  src/maple2c/gga_exc/gga_k_pw86.c
  src/maple2c/gga_exc/gga_x_mpbe.c
  src/maple2c/gga_exc/gga_x_pw86.c
  src/maple2c/gga_x_mpbe.c
  src/maple2c/gga_x_pw86.c
  testsuite/regression/gga_k/gga_k_fr_pw86.Li.pol.2.bz2
  testsuite/regression/gga_x/gga_x_pw86.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/gga_x_pw86.BrOH.pol.2.bz2
  testsuite/regression/gga_x/gga_x_pw86.Li.pol.2.bz2
  testsuite/regression/gga_x/gga_x_rpw86.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/gga_x_rpw86.BrOH.pol.2.bz2
  testsuite/regression/gga_x/gga_x_rpw86.Li.pol.2.bz2
Due: cmake, automake

A few tests disabled
  testsuite/regression/gga_x/disabled/gga_x_bpccac.Li.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_cap.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_cap.BrOH.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_cap.Li.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_chachiyo.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_chachiyo.BrOH.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_chachiyo.Li.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_dk87_r1.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_dk87_r1.BrOH.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_dk87_r1.Li.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_dk87_r2.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_dk87_r2.BrOH.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_dk87_r2.Li.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_ev93.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_ev93.BrOH.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_ev93.Li.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_hcth_a.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_hcth_a.BrOH.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_hcth_a.Li.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_lg93.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_lg93.BrOH.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_lg93.Li.pol.2.bz2
Due: none

Makes libxc great again!
  src/maple2c/gga_exc/Makefile.am
  testsuite/regression/gga_k/disabled/gga_k_fr_pw86.Li.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_pw86.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_pw86.BrOH.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_pw86.Li.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_rpw86.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_rpw86.Li.pol.2.bz2
Due: cmake, automake

Small bug in the xc-mv-fail script
  testsuite/regression/gga_x/disabled/gga_x_htbs.BrOH+.unpol.1.bz2
  testsuite/regression/gga_x/disabled/gga_x_rpw86.BrOH.pol.2.bz2
  testsuite/xc-mv-fail
Due: none

Trying to make libxc pass all tests
  src/maple2c/gga_exc/Makefile.am
  testsuite/regression/gga_x/disabled/gga_x_lv_rpw86.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_lv_rpw86.BrOH.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_lv_rpw86.Li.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_mpw91.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_mpw91.Li.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_pbea.Li.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_pw91.Li.pol.2.bz2
  testsuite/regression/gga_xc/disabled/gga_xc_mpwlyp1w.BrOH+.pol.2.bz2
  testsuite/regression/gga_xc/disabled/gga_xc_mpwlyp1w.Li.pol.2.bz2
  testsuite/regression/gga_xc/disabled/gga_xc_opwlyp_d.BrOH+.pol.2.bz2
  testsuite/regression/gga_xc/disabled/gga_xc_opwlyp_d.BrOH.pol.2.bz2
  testsuite/regression/gga_xc/disabled/gga_xc_opwlyp_d.Li.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_mpw1lyp.BrOH+.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_mpw1lyp.Li.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_mpw3lyp.BrOH+.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_mpw3lyp.Li.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_mpwlyp1m.BrOH+.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_mpwlyp1m.Li.pol.2.bz2
Due: cmake, automake

One can now use mggs in the new implementation. This means that lta and vt84 now also have Kxc.
  configure.ac
  maple/mgga_x_lta.mpl
  maple/mgga_x_vt84.mpl
  maple/tpss_x.mpl
  maple/util.mpl
  scripts/maple2c_new.pl
  src/maple2c/Makefile.am
  src/maple2c/mgga_exc/Makefile.am
  src/maple2c/mgga_exc/mgga_x_lta.c
  src/maple2c/mgga_exc/mgga_x_vt84.c
  src/maple2c/mgga_x_lta.c
  src/maple2c/mgga_x_vt84.c
  src/mgga.c
  src/mgga_x_lta.c
  src/mgga_x_vt84.c
  src/util.c
  src/util.h
  src/work_mgga_new.c
  testsuite/regression/mgga_x/mgga_x_vt84.BrOH.pol.2.bz2
Due: cmake, automake

Also x_tm and x_tpss updated to new framework.
  maple/mgga_x_tm.mpl
  maple/mgga_x_tpss.mpl
  src/Makefile.am
  src/maple2c/Makefile.am
  src/maple2c/mgga_exc/Makefile.am
  src/maple2c/mgga_exc/mgga_x_tm.c
  src/maple2c/mgga_exc/mgga_x_tpss.c
  src/maple2c/mgga_x_tm.c
  src/maple2c/mgga_x_tpss.c
  src/mgga_x_tm.c
  src/mgga_x_tpss.c
  testsuite/regression/mgga_x/disabled/mgga_x_vt84.BrOH+.pol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_vt84.BrOH.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH+.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tm.BrOH.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_tm.Li.pol.2.bz2
Due: cmake, automake

Forgot a \
  src/maple2c/mgga_exc/Makefile.am
Due: cmake, automake

Seems I also forgot this file ;)
  src/maple2c/mgga_exc/mgga_x_tau_hcth.c
Due: cmake, automake

Forgot to add this file
  src/mgga_x_pbe_gx.c
Due: cmake, automake

Path conditions:
  python: any of: pylibxc/
  cmake: any of: src/
  automake: any of: src/
