Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

.codecov.yml:

coverage:
  status:
    project:
      default: off
      automake:
        flags: automake
      cmake:
        flags: cmake
      python:
        target: 90%
        flags: python


flags:
  python:
    paths:
      - pylibxc/
  cmake:
    paths:
      - src/
  automake:
    paths:
      - src/

Copyright notices.
  configure.ac
  src/functionals.c
  src/mix_func.c
Due: cmake, automake

Some memset calls need to be libxc_memset.
  src/mgga.c
Due: cmake, automake

More calls to libxc_memset.
  src/gga.c
Due: cmake, automake

Removed gga_lb_modified function from Fortran interfaces.
  src/libxc_master.F03
  src/libxc_master.F90
Due: cmake, automake

np is now size_t.
  src/gga.c
  src/lda.c
  src/libxc_master.F03
  src/mgga.c
  src/mix_func.c
  src/util.h
  src/work_gga.c
  src/work_lda.c
  src/work_mgga.c
  src/xc.h
Due: cmake, automake

Changes np also to size_t in python interface
  pylibxc/functional.py
Due: python

Removed deprecated F90 interface. Renamed the F03 interface as F90.
  configure.ac
  scripts/get_funcs.pl
  src/Makefile.am
  src/libxc_master.F03
  src/libxc_master.F90
Due: cmake, automake

Resolve a couple of compiler warnings.
  src/gga.c
  src/lda.c
  src/mgga.c
Due: cmake, automake

Actually use size_t in the functionals.
  src/mix_func.c
  src/work_gga.c
  src/work_lda.c
  src/work_mgga.c
Due: cmake, automake

Converted the cuda code to use size_t.
  src/mix_func.c
  src/work_gga.c
  src/work_lda.c
  src/work_mgga.c
Due: cmake, automake

Adapt CMakeLists to changed Fortran interface and add missing 4th derivative option.
  CMakeLists.txt
Due: none

mgga_x_task page numbers and author; no laplacian necessary.
  libxc.bib
  src/mgga_x_scan.c
  src/mgga_x_task.c
  src/references.c
  src/references.h
Due: cmake, automake

mgga_x_task was authored by Miguel
  maple/mgga_exc/mgga_x_task.mpl
Due: none

Fix "make dist"
  src/maple2c/Makefile.am
Due: cmake, automake

Some more details in the Makefiles to make distcheck happy.
  Makefile.am
  src/Makefile.am
  src/maple2c/gga_exc/Makefile.am
  src/maple2c/lda_exc/Makefile.am
  src/maple2c/mgga_exc/Makefile.am
  testsuite/regression/mgga_x/disabled/mgga_x_scanl.BrOH.pol.2.bz2
Due: cmake, automake

Some garbage was still lying around...
  pylibxc/functional.py
Due: python

External parameters for pbeh functionals
  src/hyb_gga_xc_pbeh.c
Due: cmake, automake

Solves several NaN problems with some functionals. The crucial case was pbepow that required me to rewrite completely the functional.
  maple/gga_exc/gga_c_ft97.mpl
  maple/gga_exc/gga_x_pbepow.mpl
  src/gga_c_bmk.c
  src/gga_x_lv_rpw86.c
  src/gga_x_pbepow.c
  src/maple2c/gga_exc/gga_c_ft97.c
  src/maple2c/gga_exc/gga_x_pbepow.c
  src/mgga_c_m05.c
  testsuite/regression/gga_x/gga_x_pbepow.BrOH+.pol.0.bz2
  testsuite/regression/gga_x/gga_x_pbepow.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pbepow.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/gga_x_pbepow.BrOH+.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_pbepow.BrOH+.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_pbepow.BrOH+.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_pbepow.BrOH.pol.0.bz2
  testsuite/regression/gga_x/gga_x_pbepow.BrOH.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pbepow.BrOH.pol.2.bz2
  testsuite/regression/gga_x/gga_x_pbepow.BrOH.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_pbepow.BrOH.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_pbepow.BrOH.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_pbepow.H.pol.0.bz2
  testsuite/regression/gga_x/gga_x_pbepow.H.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pbepow.H.pol.2.bz2
  testsuite/regression/gga_x/gga_x_pbepow.H.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_pbepow.H.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_pbepow.H.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_pbepow.Li.pol.0.bz2
  testsuite/regression/gga_x/gga_x_pbepow.Li.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pbepow.Li.pol.2.bz2
  testsuite/regression/gga_x/gga_x_pbepow.Li.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_pbepow.Li.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_pbepow.Li.unpol.2.bz2
Due: cmake, automake

These were the last functionals that gave NaN. Either the density threshold was too small, or the functional had some problems with some limits.
  maple/gga_exc/gga_c_ft97.mpl
  maple/gga_exc/gga_x_hjs.mpl
  maple/lda_exc/lda_x_1d_exponential.mpl
  maple/mgga_exc/mgga_x_2d_prhg07.mpl
  maple/util.mpl
  src/gga_x_lg93.c
  src/gga_x_sg4.c
  src/lda_c_pk09.c
  src/lda_x_1d_exponential.c
  src/maple2c/gga_exc/gga_c_ft97.c
  src/maple2c/gga_exc/gga_x_hjs.c
  src/maple2c/lda_exc/lda_x_1d_exponential.c
  src/maple2c/mgga_exc/mgga_x_2d_prhg07.c
  src/mgga_c_kcis.c
  src/mgga_c_m06l.c
  src/mgga_c_rscan.c
  src/mgga_x_mn12.c
  src/mgga_x_tau_hcth.c
  src/special_functions.c
  testsuite/regression/gga_x/gga_x_hjs_b88.BrOH+.pol.0.bz2
  testsuite/regression/gga_x/gga_x_hjs_b88.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_hjs_b88.Li.pol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_hjs_b88.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_hjs_b88.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_hjs_b88.BrOH+.pol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_hjs_b88.Li.pol.1.bz2
Due: cmake, automake

Add code to output NaN (this must be activated by -DXC_DEBUG)
  src/work_gga.c
  src/work_lda.c
  src/work_mgga.c
Due: cmake, automake

These tests were failing
  testsuite/regression/gga_x/disabled/gga_x_pbepow.Li.pol.1.bz2
  testsuite/regression/gga_x/disabled/gga_x_pbepow.Li.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_pbepow.Li.unpol.1.bz2
  testsuite/regression/gga_x/disabled/gga_x_pbepow.Li.unpol.2.bz2
Due: none

For the hydrogen atom 10^-15 was still slightly too large for this messy fucntional.
  src/lda_c_pk09.c
Due: cmake, automake

Solved divisions by zero from wpbeh (or at least I think I did)
  maple/gga_exc/gga_x_wpbeh.mpl
  maple/scaling.mpl
  maple/util.mpl
  src/maple2c/gga_exc/gga_x_wpbeh.c
  src/util.h
  src/work_gga.c
  testsuite/regression/gga_x/gga_x_wpbeh.BrOH+.pol.0.bz2
  testsuite/regression/gga_x/gga_x_wpbeh.BrOH+.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_wpbeh.BrOH.pol.0.bz2
  testsuite/regression/gga_x/gga_x_wpbeh.BrOH.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_wpbeh.H.pol.0.bz2
  testsuite/regression/gga_x/gga_x_wpbeh.H.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_wpbeh.Li.pol.0.bz2
  testsuite/regression/gga_x/gga_x_wpbeh.Li.unpol.0.bz2
  testsuite/xc-run_testsuite
Due: cmake, automake

Fix gga_x_s12.c for build with cuda
  src/gga_x_s12.c
Due: cmake, automake

Consistent assertion in mix_func.c
  src/mix_func.c
Due: cmake, automake

Added an erfcx=exp(x^2)*erfc(x) function, in order to resolve numerical issues with the evaluation of the exponentials. Also handle better some functions with branches.
  CMakeLists.txt
  maple/gga_exc/gga_x_wpbeh.mpl
  maple/scaling.mpl
  maple/util.mpl
  src/Makefile.am
  src/faddeeva.c
  src/maple2c/gga_exc/gga_x_wpbeh.c
  src/util.h
Due: cmake, automake

Stupid error in the derivative
  maple/util.mpl
  src/maple2c/gga_exc/gga_x_wpbeh.c
  src/util.h
Due: cmake, automake

Implement BLYP35 functional. Drop e-print entries for the final publication from bibliography, since they make the reference strings unnecessarily long (doi is enough).
  libxc.bib
  scripts/get_references.pl
  src/hyb_gga_xc_b1wc.c
  src/references.c
  src/references.h
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.BrOH+.pol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.BrOH+.unpol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.BrOH.pol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.BrOH.unpol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.H.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.H.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.H.pol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.H.unpol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.Li.pol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.Li.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_blyp35.Li.unpol.2.bz2
Due: cmake, automake

gga_c_ft97 should not be giving NaN any more
  maple/gga_exc/gga_c_ft97.mpl
  src/expint_e1.c
  src/maple2c/gga_exc/gga_c_ft97.c
  testsuite/regression/gga_c/gga_c_ft97.BrOH+.pol.0.bz2
  testsuite/regression/gga_c/gga_c_ft97.BrOH+.pol.1.bz2
  testsuite/regression/gga_c/gga_c_ft97.BrOH+.pol.2.bz2
  testsuite/regression/gga_c/gga_c_ft97.BrOH+.unpol.0.bz2
  testsuite/regression/gga_c/gga_c_ft97.BrOH+.unpol.1.bz2
  testsuite/regression/gga_c/gga_c_ft97.BrOH+.unpol.2.bz2
  testsuite/regression/gga_c/gga_c_ft97.BrOH.pol.0.bz2
  testsuite/regression/gga_c/gga_c_ft97.BrOH.pol.1.bz2
  testsuite/regression/gga_c/gga_c_ft97.BrOH.pol.2.bz2
  testsuite/regression/gga_c/gga_c_ft97.BrOH.unpol.0.bz2
  testsuite/regression/gga_c/gga_c_ft97.BrOH.unpol.1.bz2
  testsuite/regression/gga_c/gga_c_ft97.BrOH.unpol.2.bz2
  testsuite/regression/gga_c/gga_c_ft97.Li.pol.1.bz2
Due: cmake, automake

Parametrize b97 functionals
  src/gga_xc_b97.c
Due: cmake, automake

Need one more digit for hle16
  src/gga_xc_b97.c
Due: cmake, automake

Disable some blyp35 tests
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_blyp35.BrOH+.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_blyp35.BrOH+.unpol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_blyp35.BrOH.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_blyp35.BrOH.unpol.2.bz2
Due: none

Disable some more blyp35 tests
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_blyp35.Li.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_blyp35.Li.unpol.2.bz2
Due: none

Final my_Ei_scaled removed from code.
  maple/lda_exc/lda_x_1d_exponential.mpl
  src/maple2c/lda_exc/lda_x_1d_exponential.c
Due: cmake, automake

I think the signs were wrong. It makes more sense now
  maple/lda_exc/lda_x_1d_exponential.mpl
  src/maple2c/lda_exc/lda_x_1d_exponential.c
Due: cmake, automake
