Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

.codecov.yml:

coverage:
  status:
    project:
      default: off
      automake:
        flags: automake
      cmake:
        flags: cmake
      python:
        target: 90%
        flags: python


flags:
  python:
    paths:
      - pylibxc/
  cmake:
    paths:
      - src/
  automake:
    paths:
      - src/

Minor code simplification
  testsuite/xc-error.c
Due: none

Remove garbage output from xc-run_testsuite when it is run on an individual functional
  testsuite/xc-run_testsuite
Due: none

Implemented mgga_c_rregtm.
  CMakeLists.txt
  libxc.bib
  maple/mgga_exc/Makefile.am
  maple/mgga_exc/mgga_c_rregtm.mpl
  src/Makefile.am
  src/maple2c/mgga_exc/Makefile.am
  src/maple2c/mgga_exc/mgga_c_rregtm.c
  src/mgga_c_rregtm.c
  src/references.c
  src/references.h
  testsuite/regression/mgga_c/mgga_c_rregtm.BrOH+.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.BrOH+.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.BrOH.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.BrOH.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.BrOH.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.BrOH.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.H.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.H.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.H.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.H.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.Li.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.Li.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.Li.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.Li.unpol.1.bz2
Due: cmake, automake

Implement mgga_x_mcml.
  CMakeLists.txt
  libxc.bib
  maple/mgga_exc/Makefile.am
  maple/mgga_exc/mgga_x_mcml.mpl
  src/Makefile.am
  src/maple2c/mgga_exc/Makefile.am
  src/maple2c/mgga_exc/mgga_x_mcml.c
  src/mgga_x_mcml.c
  src/references.c
  src/references.h
  testsuite/regression/mgga_x/mgga_x_mcml.BrOH+.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.BrOH+.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.BrOH.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.BrOH.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.BrOH.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.BrOH.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.H.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.H.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.H.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.H.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.Li.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.Li.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.Li.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.Li.unpol.1.bz2
Due: cmake, automake

Implementation of gga_x_q1d. The enhancement factor looks exactly like Fig. 7 in the paper, so I assume libxc is correct.
  CMakeLists.txt
  libxc.bib
  maple/gga_exc/Makefile.am
  maple/gga_exc/gga_x_q1d.mpl
  src/Makefile.am
  src/gga_x_q1d.c
  src/maple2c/gga_exc/Makefile.am
  src/maple2c/gga_exc/gga_x_q1d.c
  src/references.c
  src/references.h
  testsuite/regression/gga_x/gga_x_q1d.BrOH+.pol.0.bz2
  testsuite/regression/gga_x/gga_x_q1d.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_q1d.BrOH+.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_q1d.BrOH+.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_q1d.BrOH.pol.0.bz2
  testsuite/regression/gga_x/gga_x_q1d.BrOH.pol.1.bz2
  testsuite/regression/gga_x/gga_x_q1d.BrOH.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_q1d.BrOH.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_q1d.H.pol.0.bz2
  testsuite/regression/gga_x/gga_x_q1d.H.pol.1.bz2
  testsuite/regression/gga_x/gga_x_q1d.H.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_q1d.H.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_q1d.Li.pol.0.bz2
  testsuite/regression/gga_x/gga_x_q1d.Li.pol.1.bz2
  testsuite/regression/gga_x/gga_x_q1d.Li.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_q1d.Li.unpol.1.bz2
Due: cmake, automake

Changelog for 5.1.6
  ChangeLog.md
Due: none

Adjust versioning
  configure.ac
  pylibxc/version.py
Due: python

Fix the dois for a couple references
  libxc.bib
  src/references.c
Due: cmake, automake

Added required flag to rmggac
  src/mgga_c_rmggac.c
Due: cmake, automake

Changelog for 5.1.5
  ChangeLog.md
Due: none

Library versions for 5.1.5 and 5.1.6
  configure.ac
Due: none

I don't think pc07 should have the development flag
  src/mgga_k_pc07.c
Due: cmake, automake

mgga_x_jk does not depend on tau
  src/mgga_x_jk.c
Due: cmake, automake

Change id for gga_xc_vdw_df1 to fix id clash
  src/gga_xc_vdw_df.c
Due: cmake, automake

Improve comment of gga_x_s12
  src/gga_x_s12.c
Due: cmake, automake

Implement hyb_gga_x_cam_s12g and hyb_gga_x_cam_s12h that agree with the reference implementation in NWChem.
  CMakeLists.txt
  maple/gga_exc/Makefile.am
  maple/gga_exc/hyb_gga_x_cam_s12.mpl
  src/Makefile.am
  src/hyb_gga_x_cam_s12.c
  src/maple2c/gga_exc/Makefile.am
  src/maple2c/gga_exc/hyb_gga_x_cam_s12.c
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.H.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.H.pol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.H.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.H.unpol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.Li.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.Li.pol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.Li.unpol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12h.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12h.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12h.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12h.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12h.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12h.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12h.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12h.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12h.H.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12h.H.pol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12h.H.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12h.H.unpol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12h.Li.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12h.Li.pol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12h.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12h.Li.unpol.1.bz2
Due: cmake, automake

Mark version 5.1.7
  configure.ac
  pylibxc/version.py
Due: python

Added the exchange versions of the HJS functional from Jana et al.
  libxc.bib
  src/gga_x_hjs.c
  src/references.c
  src/references.h
Due: cmake, automake

Fix copy-paste error
  src/gga_x_hjs.c
Due: cmake, automake

Numbering
  src/gga_x_hjs.c
Due: cmake, automake

Added apbe_bfit and pbeint_bfit. The idea is to replace beta by a function of nu. There is sg4_bint missing.
  CMakeLists.txt
  maple/gga_exc/Makefile.am
  maple/gga_exc/gga_c_apbe_bfit.mpl
  src/Makefile.am
  src/gga_c_apbe_bfit.c
  src/maple2c/gga_exc/Makefile.am
  src/maple2c/gga_exc/gga_c_apbe_bfit.c
Due: cmake, automake

Added the first 3 LC hybrids from the paper. Susi, care to try them out?
  src/gga_c_apbe_bfit.c
Due: cmake, automake

The Pade parameters of pbeint_bfit are not the same as apbe
  maple/gga_exc/gga_c_apbe_bfit.mpl
  src/gga_c_apbe_bfit.c
  src/maple2c/gga_exc/gga_c_apbe_bfit.c
Due: cmake, automake

Fix IDs
  src/gga_c_apbe_bfit.c
Due: cmake, automake

Remaple
  src/maple2c/gga_exc/gga_c_apbe_bfit.c
Due: cmake, automake

xc_hyb_init_cam syntax
  src/gga_c_apbe_bfit.c
Due: cmake, automake

Denote omega by w not o
  src/gga_c_apbe_bfit.c
Due: cmake, automake

mgga_x_mcml reference has page number
  libxc.bib
  src/mgga_x_mcml.c
  src/references.c
  src/references.h
Due: cmake, automake
