Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

cmake: simplify enabling fortran interface building
  CMakeLists.txt
Due: none

cmake: fixes #67 installation of .mod files
  CMakeLists.txt
Due: none

cmake: fixes #68 installation of pc file
  CMakeLists.txt
Due: none

make Fortran interfaces work with cmake
  CMakeLists.txt
  config.h.cmake.in
Due: none

Since config.h is an internal autotools file, there's no reason to #include it in xc.h
  src/xc.h
Due: cmake, automake

Include config.h in util.h, which is still internal to libxc.
  src/util.h
Due: cmake, automake

Check for cbrt() in CMake.
  CMakeLists.txt
Due: none

Checks for sqrtf() and cbrtf() no longer necessary since single precision is not used anymore
  configure.ac
Due: none

Fix CMake build in the absence of Fortran
  CMakeLists.txt
  config.h.cmake.in
Due: none

Strdup is no POSIX, so it was changed by strndup
  src/functionals.c
  src/xc_f.c
Due: cmake, automake

Remove non-standard use of strndup, with a hard-coded size(!)
  src/functionals.c
Due: cmake, automake

Update CMakeLists.txt
  CMakeLists.txt
Due: none

SOVERSION command was wrong.
  CMakeLists.txt
Due: none

Moves internal functional setters back to xc.h temporarily
  src/util.h
  src/xc.h
Due: cmake, automake

Add internal setters that were moved to xc.h to the Fortran interfaces.
  src/libxc_master.F03
  src/libxc_master.F90
  src/xc_f.c
Due: cmake, automake

Add release 4.3.0 to ChangeLog.
  ChangeLog
Due: none

Add information about release 4.2.3 and update release date.
  ChangeLog
  NEWS
  PACKAGING
Due: none

Bump version number to 4.3.0
  CMakeLists.txt
  configure.ac
  setup.py
  testsuite/pytest/test_util.py
Due: none

Add info about Fermi_D correction to ChangeLog.
  ChangeLog
Due: none

Add info about X_MS2B, X_MS2BS, X_MVSB, and X_MVSBS to ChangeLog.
  ChangeLog
Due: none

Added information about setting the internal parameters to the ChangeLog.
  ChangeLog
Due: none

Add information about changes to Maple framework.
  ChangeLog
Due: none

Added LDA_XC_TIH to Changelog.
  ChangeLog
Due: none

Add range-separated functionals from Weintraub2009 to ChangeLog.
  ChangeLog
Due: none

Add information about changes in the Fortran 2003 interfaces to the ChangeLog.
  ChangeLog
Due: none

Add addition of lsPBE and lsRPBE to ChangeLog.
  ChangeLog
Due: none

Added changes to xc-info to ChangeLog.
  ChangeLog
Due: none

Removed xc_mgga_c_pkzb_set_params function from public API.
  src/libxc_master.F03
  src/libxc_master.F90
  src/xc.h
  src/xc_f.c
Due: cmake, automake

Add release 4.3.1
  ChangeLog
  NEWS
  PACKAGING
  configure.ac
Due: none

Bump version number also for CMake.
  CMakeLists.txt
Due: none

Bump version number in python tests.
  testsuite/pytest/test_util.py
Due: none

Implemented optB86b-vdw functional.
  libxc.bib
  src/gga_x_b86.c
  src/references.c
  src/references.h
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH+.pol.0.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH+.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH+.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH+.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH.pol.0.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH.pol.1.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH.pol.2.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.BrOH.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.H.pol.0.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.H.pol.1.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.H.pol.2.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.H.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.H.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.H.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.Li.pol.0.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.Li.pol.1.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.Li.pol.2.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.Li.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.Li.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_optb86b_vdw.Li.unpol.2.bz2
Due: cmake, automake

Add file to python package with version number and use this to reduce the number of places where we have the version number written down explicitly.
  pylibxc/__init__.py
  pylibxc/version.py
  setup.py
  testsuite/pytest/test_util.py
Due: python

Path conditions:
  python: any of: pylibxc/
  cmake: any of: src/
  automake: any of: src/
