Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

.codecov.yml:

coverage:
  status:
    project:
      default: off
      automake:
        flags: automake
      cmake:
        flags: cmake
      python:
        target: 90%
        flags: python


flags:
  python:
    paths:
      - pylibxc/
  cmake:
    paths:
      - src/
  automake:
    paths:
      - src/

No need for a special set_ext_params for pw91.
  src/gga_x_pw91.c
Due: cmake, automake

Implemented mgga_x_th. The functional reproduces published energies but doesn't appear to be stable enough to be used in self-consistent calculations.
  CMakeLists.txt
  libxc.bib
  maple/mgga_exc/mgga_x_th.mpl
  src/Makefile.am
  src/maple2c/mgga_exc/Makefile.am
  src/maple2c/mgga_exc/mgga_x_th.c
  src/mgga_x_th.c
  src/references.c
  src/references.h
  testsuite/regression/mgga_x/mgga_x_th.BrOH+.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_th.BrOH+.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_th.BrOH+.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_th.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_th.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_th.BrOH+.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_th.BrOH.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_th.BrOH.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_th.BrOH.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_th.BrOH.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_th.BrOH.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_th.BrOH.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_th.H.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_th.H.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_th.H.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_th.H.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_th.H.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_th.H.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_th.Li.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_th.Li.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_th.Li.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_th.Li.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_th.Li.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_th.Li.unpol.2.bz2
Due: cmake, automake

This is our first double hybrid. Now we just have to wait for someone to implement it in some code ;)
  CMakeLists.txt
  libxc.bib
  src/Makefile.am
  src/hyb_gga_xc_b2plyp.c
  src/hybrids.c
  src/references.c
  src/references.h
  src/xc.h
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH+.pol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH+.unpol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH.pol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH.unpol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.H.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.H.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.H.pol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.H.unpol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.Li.pol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.Li.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.Li.unpol.2.bz2
Due: cmake, automake

Atrtempt at fixing the python interface
  pylibxc/flags.py
  pylibxc/functional.py
  pylibxc/structs.py
  src/xc.h
Due: python, cmake, automake

I will at some point delete these stupid fxc tests!!!
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_b2plyp.BrOH+.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_b2plyp.BrOH.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_b2plyp.Li.pol.2.bz2
Due: none

Wrong file name
  CMakeLists.txt
Due: none

Now you can not ask for the exx mixing for a CAM functional.
  testsuite/pytest/test_functional.py
Due: none

Implemented gga_k_lkt functional
  CMakeLists.txt
  libxc.bib
  maple/gga_exc/Makefile.am
  maple/gga_exc/gga_k_lkt.mpl
  maple/mgga_exc/Makefile.am
  src/Makefile.am
  src/gga_k_lkt.c
  src/gga_k_mpbe.c
  src/maple2c/gga_exc/Makefile.am
  src/maple2c/gga_exc/gga_k_lkt.c
  src/references.c
  src/references.h
  testsuite/regression/gga_k/gga_k_lkt.BrOH+.pol.0.bz2
  testsuite/regression/gga_k/gga_k_lkt.BrOH+.pol.1.bz2
  testsuite/regression/gga_k/gga_k_lkt.BrOH+.pol.2.bz2
  testsuite/regression/gga_k/gga_k_lkt.BrOH+.unpol.0.bz2
  testsuite/regression/gga_k/gga_k_lkt.BrOH+.unpol.1.bz2
  testsuite/regression/gga_k/gga_k_lkt.BrOH+.unpol.2.bz2
  testsuite/regression/gga_k/gga_k_lkt.BrOH.pol.0.bz2
  testsuite/regression/gga_k/gga_k_lkt.BrOH.pol.1.bz2
  testsuite/regression/gga_k/gga_k_lkt.BrOH.pol.2.bz2
  testsuite/regression/gga_k/gga_k_lkt.BrOH.unpol.0.bz2
  testsuite/regression/gga_k/gga_k_lkt.BrOH.unpol.1.bz2
  testsuite/regression/gga_k/gga_k_lkt.BrOH.unpol.2.bz2
  testsuite/regression/gga_k/gga_k_lkt.H.pol.0.bz2
  testsuite/regression/gga_k/gga_k_lkt.H.pol.1.bz2
  testsuite/regression/gga_k/gga_k_lkt.H.pol.2.bz2
  testsuite/regression/gga_k/gga_k_lkt.H.unpol.0.bz2
  testsuite/regression/gga_k/gga_k_lkt.H.unpol.1.bz2
  testsuite/regression/gga_k/gga_k_lkt.H.unpol.2.bz2
  testsuite/regression/gga_k/gga_k_lkt.Li.pol.0.bz2
  testsuite/regression/gga_k/gga_k_lkt.Li.pol.1.bz2
  testsuite/regression/gga_k/gga_k_lkt.Li.pol.2.bz2
  testsuite/regression/gga_k/gga_k_lkt.Li.unpol.0.bz2
  testsuite/regression/gga_k/gga_k_lkt.Li.unpol.1.bz2
  testsuite/regression/gga_k/gga_k_lkt.Li.unpol.2.bz2
Due: cmake, automake

Disable tests that fail on ppc
  testsuite/regression/gga_k/disabled/gga_k_lkt.BrOH+.pol.2.bz2
  testsuite/regression/gga_k/disabled/gga_k_lkt.BrOH+.unpol.2.bz2
  testsuite/regression/gga_k/disabled/gga_k_lkt.BrOH.pol.2.bz2
  testsuite/regression/gga_k/disabled/gga_k_lkt.BrOH.unpol.2.bz2
Due: none

The family of the tested functional is now mgga.
  testsuite/pytest/test_functional.py
Due: none

This test also changed.
  pylibxc/util.py
  testsuite/pytest/test_util.py
Due: python

Disable usual tests.
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_src1_blyp.BrOH+.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_src1_blyp.BrOH.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_src1_blyp.Li.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_src2_blyp.BrOH+.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_src2_blyp.BrOH.pol.2.bz2
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_src2_blyp.Li.pol.2.bz2
Due: none

Flags also changed...
  testsuite/pytest/test_functional.py
Due: none

Implemented mgga_x_mbr. Also put a cutoff to k_lkt as I was getting divisions by zero.
  CMakeLists.txt
  libxc.bib
  maple/gga_exc/gga_k_lkt.mpl
  maple/mgga_exc/Makefile.am
  maple/mgga_exc/mgga_x_mbr.mpl
  src/Makefile.am
  src/maple2c/gga_exc/gga_k_lkt.c
  src/maple2c/mgga_exc/Makefile.am
  src/maple2c/mgga_exc/mgga_x_mbr.c
  src/references.c
  src/references.h
Due: cmake, automake

Bump version due to API breakage.
  configure.ac
Due: none

Forgot this file
  src/mgga_x_mbr.c
Due: cmake, automake

Have also to change the version in pylibxc
  pylibxc/version.py
Due: python

Fix typo
  src/mgga_x_mbr.c
Due: cmake, automake

Added the exchange versions of the HJS functional from Jana et al.
  libxc.bib
  src/gga_x_hjs.c
  src/references.c
  src/references.h
Due: cmake, automake

Fix copy-paste error
  src/gga_x_hjs.c
Due: cmake, automake

XC_HYB_SHORT_RANGE is redundant.
  src/xc.h
Due: cmake, automake

Check that the functional type has been handled
  src/xc-info.c
Due: cmake, automake

Also one-parameter rs hybrids need to be handled
  src/hybrids.c
Due: cmake, automake

Also allow regular hybrid in xc_hyb_cam_coeff as before
  src/hybrids.c
Due: cmake, automake

Rename XC_HYB_DOUBLE to XC_HYB_DOUBLE_HYBRID. Also make the necessary changes to pylibxc.
  pylibxc/flags.py
  src/hybrids.c
  src/xc-info.c
  src/xc.h
Due: python, cmake, automake

The wiki functional list layout has broken at some point, this restores the old look
  src/genwiki.c
Due: cmake, automake

gga_xc_kt3 was implemented incorrectly. This is the correct implementation.
  src/gga_x_kt.c
  testsuite/regression/gga_xc/gga_xc_kt3.BrOH+.pol.0.bz2
  testsuite/regression/gga_xc/gga_xc_kt3.BrOH+.pol.1.bz2
  testsuite/regression/gga_xc/gga_xc_kt3.BrOH+.unpol.0.bz2
  testsuite/regression/gga_xc/gga_xc_kt3.BrOH+.unpol.1.bz2
  testsuite/regression/gga_xc/gga_xc_kt3.BrOH.pol.0.bz2
  testsuite/regression/gga_xc/gga_xc_kt3.BrOH.pol.1.bz2
  testsuite/regression/gga_xc/gga_xc_kt3.BrOH.unpol.0.bz2
  testsuite/regression/gga_xc/gga_xc_kt3.BrOH.unpol.1.bz2
  testsuite/regression/gga_xc/gga_xc_kt3.H.pol.0.bz2
  testsuite/regression/gga_xc/gga_xc_kt3.H.pol.1.bz2
  testsuite/regression/gga_xc/gga_xc_kt3.H.unpol.0.bz2
  testsuite/regression/gga_xc/gga_xc_kt3.H.unpol.1.bz2
  testsuite/regression/gga_xc/gga_xc_kt3.Li.pol.0.bz2
  testsuite/regression/gga_xc/gga_xc_kt3.Li.pol.1.bz2
  testsuite/regression/gga_xc/gga_xc_kt3.Li.unpol.0.bz2
  testsuite/regression/gga_xc/gga_xc_kt3.Li.unpol.1.bz2
Due: cmake, automake

Rename Changelog to tag it as markdown, delete duplicate readme file.
  ChangeLog.md
  README
Due: none

Symlink the markdown versions to the removed copies
  ChangeLog
  README
Due: none

Delete obsolete KNOWN_ISSUES
  ChangeLog
  KNOWN_ISSUES
  Makefile.am
Due: none

TODO migrated to issue tracker.
  Makefile.am
  TODO
Due: none

Looks like autotools require ChangeLog.
  ChangeLog
Due: none

Sanity check insane sanity checks.
  src/work_gga.c
  src/work_mgga.c
Due: cmake, automake

Add sanity check for the positive branch of sigma, too
  src/work_gga.c
  src/work_mgga.c
Due: cmake, automake

Restore the name of the f03 Fortran library.
  CMakeLists.txt
  src/Makefile.am
  src/libxc_master.F90
Due: cmake, automake
