Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

Converted lda_x to the new maple framework
  configure.ac
  maple/util.mpl
  scripts/Makefile.am
  scripts/maple2c_new.pl
  scripts/maple2c_work.pm
  src/Makefile.am
  src/lda_x.c
  src/maple2c/Makefile.am
  src/maple2c/lda_x.c
  src/work_lda_new.c
  testsuite/regression/mgga_k/disabled/mgga_k_pc07.BrOH+.unpol.2.bz2
Due: cmake, automake

Forgot these files
  src/maple2c/lda_exc/Makefile.am
  src/maple2c/lda_exc/lda_x.c
Due: cmake, automake

Changed the python interface. I am not too sure about my changes, let's see what buildbot says.
  pylibxc/functional.py
  pylibxc/structs.py
Due: python

lda_x_rel is nor entirely handled by maple
  maple/lda_x_rel.mpl
  scripts/maple2c_new.pl
  scripts/maple2c_work.pm
  src/functionals.c
  src/lda_x_rel.c
  src/maple2c/Makefile.am
  src/maple2c/lda_exc/Makefile.am
  src/maple2c/lda_exc/lda_x.c
  src/maple2c/lda_exc/lda_x_rel.c
  src/maple2c/lda_x_rel.c
  src/util.h
  testsuite/regression/lda_x/lda_x_rel.BrOH+.pol.2.bz2
  testsuite/regression/lda_x/lda_x_rel.BrOH.pol.2.bz2
  testsuite/regression/lda_x/lda_x_rel.H.pol.1.bz2
  testsuite/regression/lda_x/lda_x_rel.Li.pol.2.bz2
Due: cmake, automake

Implemented rtpss exchange.
  CMakeLists.txt
  ChangeLog
  libxc.bib
  maple/mgga_x_rtpss.mpl
  src/Makefile.am
  src/maple2c/Makefile.am
  src/maple2c/mgga_x_rtpss.c
  src/mgga_x_rtpss.c
  src/references.c
  src/references.h
  testsuite/regression/mgga_x/mgga_x_rtpss.BrOH+.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.BrOH+.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.BrOH+.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.BrOH+.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.BrOH.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.BrOH.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.BrOH.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.BrOH.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.BrOH.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.BrOH.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.H.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.H.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.H.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.H.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.H.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.H.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.Li.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.Li.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.Li.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.Li.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.Li.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_rtpss.Li.unpol.2.bz2
Due: cmake, automake

Compile Fortran interfaces with CMake
  .gitignore
  CMakeLists.txt
  src/xc_funcs_worker.h
Due: cmake, automake

Disabled failing tests
  testsuite/regression/lda_x/disabled/lda_x_rel.BrOH+.pol.2.bz2
  testsuite/regression/lda_x/disabled/lda_x_rel.BrOH.pol.2.bz2
  testsuite/regression/lda_x/disabled/lda_x_rel.Li.pol.2.bz2
Due: none

Compile Fortran interfaces with CMake.
  CMakeLists.txt
Due: none

Fix typo
  CMakeLists.txt
Due: none

Suggestions by Lori Burns.
  CMakeLists.txt
Due: none

Add xcf90 and xcf03 pkgconfig files to gitignore.
  .gitignore
Due: none

Update Changelog with 4.2.1 release.
  ChangeLog
Due: none

Bumping version number to 4.2.1.
  CMakeLists.txt
  NEWS
  PACKAGING
  configure.ac
  setup.py
  testsuite/pytest/test_util.py
Due: none

lda_x_erf converted to new framework
  maple/lda_x_erf.mpl
  scripts/maple2c_work.pm
  src/lda_x_erf.c
  src/maple2c/Makefile.am
  src/maple2c/lda_exc/Makefile.am
  src/maple2c/lda_x_erf.c
Due: cmake, automake

Forgot this file
  src/maple2c/lda_exc/lda_x_erf.c
Due: cmake, automake

Three more LDAs in the new framework.
  maple/lda_c_1d_csc.mpl
  maple/lda_c_1d_loos.mpl
  maple/lda_c_2d_amgb.mpl
  scripts/maple2c_new.pl
  scripts/maple2c_work.pm
  src/lda_c_1d_csc.c
  src/lda_c_1d_loos.c
  src/lda_c_2d_amgb.c
  src/maple2c/Makefile.am
  src/maple2c/lda_c_1d_csc.c
  src/maple2c/lda_c_1d_loos.c
  src/maple2c/lda_c_2d_amgb.c
  src/maple2c/lda_exc/Makefile.am
  src/maple2c/lda_exc/lda_c_1d_csc.c
  src/maple2c/lda_exc/lda_c_1d_loos.c
  src/maple2c/lda_exc/lda_c_2d_amgb.c
  src/maple2c/lda_exc/lda_x_erf.c
Due: cmake, automake

Have to specify that some LDAs are not 3D somewhere. Due to the special handling of the ferromagnetic case, it is not surprising that the values for H have changed (to zero for spin up).
  maple/lda_c_1d_csc.mpl
  maple/lda_c_1d_loos.mpl
  maple/lda_c_2d_amgb.mpl
  maple/util.mpl
  scripts/maple2c_new.pl
  scripts/maple2c_work.pm
  src/maple2c/lda_exc/lda_c_1d_csc.c
  src/maple2c/lda_exc/lda_c_1d_loos.c
  src/maple2c/lda_exc/lda_c_2d_amgb.c
  src/work_lda_new.c
  testsuite/regression/lda_c/lda_c_1d_csc.H.pol.1.bz2
  testsuite/regression/lda_c/lda_c_1d_csc.H.pol.2.bz2
  testsuite/regression/lda_c/lda_c_1d_loos.H.pol.1.bz2
  testsuite/regression/lda_c/lda_c_1d_loos.H.pol.2.bz2
  testsuite/regression/lda_c/lda_c_2d_amgb.H.pol.1.bz2
Due: cmake, automake

lda_c_2d_prm converted
  maple/lda_c_2d_prm.mpl
  src/lda_c_2d_prm.c
  src/maple2c/Makefile.am
  src/maple2c/lda_c_2d_prm.c
  src/maple2c/lda_exc/Makefile.am
  src/maple2c/lda_exc/lda_c_2d_prm.c
  testsuite/regression/lda_c/lda_c_2d_prm.H.pol.1.bz2
  testsuite/regression/lda_c/lda_c_2d_prm.H.pol.2.bz2
Due: cmake, automake

converted lda_c_chachiyo
  maple/lda_c_chachiyo.mpl
  src/lda_c_chachiyo.c
  src/maple2c/Makefile.am
  src/maple2c/lda_c_chachiyo.c
  src/maple2c/lda_exc/Makefile.am
  src/maple2c/lda_exc/lda_c_chachiyo.c
  testsuite/regression/lda_c/lda_c_chachiyo.H.pol.1.bz2
Due: cmake, automake

gombas converted
  maple/lda_c_gombas.mpl
  src/lda_c_gombas.c
  src/maple2c/lda_c_gombas.c
  src/maple2c/lda_exc/lda_c_gombas.c
  testsuite/regression/lda_c/lda_c_gombas.H.pol.1.bz2
  testsuite/regression/lda_c/lda_c_gombas.H.pol.2.bz2
Due: cmake, automake

hl converted
  maple/lda_c_hl.mpl
  src/lda_c_hl.c
  src/maple2c/Makefile.am
  src/maple2c/lda_c_hl.c
  src/maple2c/lda_exc/Makefile.am
  src/maple2c/lda_exc/lda_c_hl.c
  testsuite/regression/lda_c/lda_c_gl.H.pol.1.bz2
  testsuite/regression/lda_c/lda_c_hl.H.pol.1.bz2
  testsuite/regression/lda_c/lda_c_vbh.H.pol.1.bz2
Due: cmake, automake

Script now corrected for lda_exc.
  scripts/maple2c_new.pl
  scripts/maple2c_work.pm
Due: none

Add missing CMakeLists.txt to distribution.
  testsuite/Makefile.am
Due: none

Bumping version number to 4.2.2.
  CMakeLists.txt
  ChangeLog
  NEWS
  PACKAGING
  configure.ac
  setup.py
  testsuite/pytest/test_util.py
Due: none

Let us find Perl before using it.
  CMakeLists.txt
Due: none

try to get xc_funcs.h reliably generating
  CMakeLists.txt
Due: none

Adds pkgconfig files to cmake build, addressing https://gitlab.com/libxc/libxc/issues/60
  CMakeLists.txt
  cmake/libxc.pc.in
Due: none

Add soversion to cmake sharedlib
  CMakeLists.txt
Due: none

Use proper soversion, not project version, for shared libs ABI labeling
  CMakeLists.txt
Due: none

Add missing cmake/libxc.pc.in file from tarball.
  cmake/Makefile.am
Due: none

Add page numbers to three references.
  libxc.bib
  src/lda_xc_ksdt.c
  src/mgga_c_revscan.c
  src/mgga_x_rtpss.c
  src/mgga_x_scan.c
  src/references.c
  src/references.h
Due: cmake, automake

Path conditions:
  python: any of: pylibxc/
  cmake: any of: src/
  automake: any of: src/
