Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

.codecov.yml:

coverage:
  status:
    project:
      default: off
      automake:
        flags: automake
      cmake:
        flags: cmake
      python:
        target: 90%
        flags: python


flags:
  python:
    paths:
      - pylibxc/
  cmake:
    paths:
      - src/
  automake:
    paths:
      - src/

hyb_mgga_xc_lc_tmlyp is an xc not an x functional
  src/hyb_mgga_x_pjs18.c
Due: cmake, automake

tmlyp changelog
  ChangeLog.md
Due: none

Update release date
  ChangeLog.md
Due: none

Final literature reference for r++SCAN and r4SCAN.
  libxc.bib
  src/mgga_c_rppscan.c
  src/mgga_x_r4scan.c
  src/mgga_x_rppscan.c
  src/references.c
  src/references.h
Due: cmake, automake

Mention reLYP in GGA_C_TM_LYP
  src/gga_c_lyp.c
Due: cmake, automake

Drop libxc_docs.txt from repo; it doesn't appear to be used for anything and the content is available from xc-info
  src/libxc_docs.txt
Due: cmake, automake

Add a few missing files into gitignore
  .gitignore
Due: none

Fix #372: the final Maple files didn't get included in !350 for some reason! Also reset tests for cam-s12g which seem to fail
  maple/gga_exc/gga_x_ityh.mpl
  maple/gga_exc/hyb_gga_x_cam_s12.mpl
  src/hyb_gga_x_cam_s12.c
  src/maple2c/gga_exc/hyb_gga_x_cam_s12.c
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.H.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.H.pol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.H.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.H.unpol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.Li.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.Li.pol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_cam_s12g.Li.unpol.1.bz2
Due: cmake, automake

Convert all Perl scripts to Python.
  .gitlab-ci.yml
  Makefile.am
  scripts/Makefile.am
  scripts/get_funcs.pl
  scripts/get_functional_info.py
  scripts/get_references.pl
  scripts/get_references.py
  scripts/maple2c.pl
  scripts/maple2c.py
  scripts/maple2c_derivatives.pm
  scripts/maple2c_lib/gga.py
  scripts/maple2c_lib/lda.py
  scripts/maple2c_lib/mgga.py
  scripts/maple2c_lib/utils.py
  scripts/maple2c_work.pm
  scripts/math_deorbitalize.pl
  scripts/math_deorbitalize.py
  src/Makefile.am
  src/funcs_gga.c
  src/funcs_key.c
  src/funcs_lda.c
  src/funcs_mgga.c
  src/libxc_inc.f90
  src/references.c
  src/references.h
  src/xc_funcs.h
  src/xc_funcs_worker.h
  testsuite/Makefile.am
  testsuite/xc-reference.pl
Due: cmake, automake

Update DOI URLs
  libxc.bib
  maple/util.mpl
  src/genwiki.c
  src/mgga_c_cs.c
  src/references.c
Due: cmake, automake

fix flake8
  pylibxc/functional.py
  scripts/get_functional_info.py
  scripts/get_references.py
  scripts/maple2c.py
  scripts/maple2c_lib/utils.py
Due: python

Add .gitattributes [skip ci]
  .gitattributes
Due: none

Fix infinite loop related to Fortran interface (#374)
  src/libxc_master.F90
Due: cmake, automake

Mark version 5.2.1
  configure.ac
  pylibxc/version.py
Due: python

Fix infinite loop related to Fortran interface (#374)
  src/libxc_master.F90
  src/libxc_master_f90.F90
Due: cmake, automake

Changelog for 5.2.1.
  ChangeLog.md
Due: none

fix ityh for 5.x.x
  maple/gga_exc/gga_x_ityh.mpl
Due: none

fix rs functional Maple files for 5.x.x
  maple/gga_exc/gga_x_lcgau.mpl
  maple/lda_exc/lda_x_erf.mpl
  maple/lda_exc/lda_x_yukawa.mpl
  maple/util.mpl
Due: none

more maple changes
  maple/gga_exc/hyb_gga_x_cam_s12.mpl
  maple/mgga_exc/hyb_mgga_x_js18.mpl
Due: none

5.2.2 versioning
  configure.ac
  pylibxc/version.py
Due: python

Changelog for 5.2.2
  ChangeLog.md
Due: none

Remaple hyb_gga_x_cam_s12
  src/maple2c/gga_exc/hyb_gga_x_cam_s12.c
Due: cmake, automake

Disable polarized Li vxc test for vcml, which appears to be numerically unstable...
  testsuite/regression/mgga_x/disabled/mgga_x_vcml.Li.pol.1.bz2
  testsuite/regression/mgga_xc/disabled/mgga_xc_vcml_rvv10.Li.pol.1.bz2
Due: none

wB97M-V uses set_ext_params instead of hardcoded in maple
  maple/mgga_exc/hyb_mgga_xc_wb97mv.mpl
  maple/mgga_exc/mgga_xc_b97mv.mpl
  src/hyb_mgga_xc_wb97mv.c
  src/maple2c/mgga_exc/hyb_mgga_xc_wb97mv.c
  src/maple2c/mgga_exc/mgga_xc_b97mv.c
  src/mgga_xc_b97mv.c
Due: cmake, automake

Clean up code in util.c
  src/util.c
Due: cmake, automake

get_functional_info didn't check for duplicate ids between families
  scripts/get_functional_info.py
Due: none

cmake updates: rpath, vars, xhost, pkgconfig
  CMakeLists.txt
  cmake/JoinPaths.cmake
  cmake/LibxcConfig.cmake.in
  cmake/Makefile.am
  cmake/libxc.pc.in
  cmake/libxcf03.pc.in
  cmake/xhost.cmake
Due: none

Work on the GGAs
  src/deorbitalize_func.c
  src/xc.h
Due: cmake, automake

Forgot to add this file.
  src/work_lda_inc.c
Due: cmake, automake

Don't break the existing API.
  src/deorbitalize_func.c
  src/lda.c
  src/xc.h
Due: cmake, automake

Add some missing const declarations
  src/work_lda.c
  src/xc.h
Due: cmake, automake

The normal LDAs now seem to work. Can someone please check if thius speeds up the evaluations?
  src/deorbitalize_func.c
  src/maple2c/lda_vxc/lda_xc_tih.c
  src/xc.h
  testsuite/xc-regression.c
Due: cmake, automake

My attempt at fixing CUDA. It might not work, but should be a good starting point.
  src/work_lda_inc.c
Due: cmake, automake

Started work on the mggas
  scripts/maple2c_lib/mgga.py
  src/mgga.c
  src/xc.h
Due: cmake, automake

Workaround "initializer element not constant" compiler error.
  src/work_gga.c
  src/work_lda.c
Due: cmake, automake
