Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

Drop lcgau tests since the functionals were dropped from 5.1.0
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau.H.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau.H.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau.Li.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau.Li.unpol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau_core.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau_core.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau_core.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau_core.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau_core.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau_core.H.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau_core.H.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau_core.H.unpol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau_core.Li.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lcgau_core.Li.unpol.0.bz2
Due: none

Drop lc2gau tests too
  testsuite/regression/hyb_gga_x/hyb_gga_x_lc2gau.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lc2gau.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lc2gau.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lc2gau.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lc2gau.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lc2gau.H.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lc2gau.H.pol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lc2gau.H.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lc2gau.H.unpol.1.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lc2gau.Li.pol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lc2gau.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_x/hyb_gga_x_lc2gau.Li.unpol.1.bz2
Due: none

Restore hybrid families in mix_func
  src/mix_func.c
Due: cmake, automake

Restore hybrid families in xc-regression
  testsuite/xc-regression.c
Due: none

Update changelog
  ChangeLog.md
Due: none

Clarify license in readme.
  README.md
Due: none

Drop mention of BSD license from libxc_master.F90
  src/libxc_master.F90
Due: cmake, automake

This should fix the problem with vsigma not initialized
  src/deorbitalize_func.c
Due: cmake, automake

Restore hyb_ families
  scripts/get_funcs.pl
  src/functionals.c
  src/gga.c
  src/lda.c
  src/mgga.c
Due: cmake, automake

This functional is not in 5.0
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.Li.unpol.1.bz2
Due: none

This should fix the problems in pylibxc
  pylibxc/functional.py
Due: python

Fix license also in the f90 frontend
  src/libxc_master_f90.F90
Due: cmake, automake

Missing hybrid families in pylibxc
  pylibxc/flags.py
Due: python

pylibxc version
  pylibxc/version.py
Due: python

Fix typo in pylibxc error
  pylibxc/functional.py
Due: python

Functionals may have higher derivatives, but they might not be compiled in
  pylibxc/functional.py
  testsuite/pytest/test_functional.py
Due: python

Fix structs
  pylibxc/structs.py
Due: python

pylibxc should now work, too
  pylibxc/functional.py
  testsuite/pytest/test_functional.py
  testsuite/pytest/test_util.py
Due: python

Restore pylibxc tau flags, even though they weren't used
  pylibxc/flags.py
Due: python

Don't increase XC_AGE since this will result in a change of the soversion...
  configure.ac
Due: none

f90 module also needs to be installed
  src/Makefile.am
Due: cmake, automake

Install xcf90 module in CMake
  CMakeLists.txt
Due: none

Clean up parameter setter routines in some deorbitalized functionals
  src/mgga_c_scanl.c
  src/mgga_x_r2scanl.c
  src/mgga_x_scanl.c
Due: cmake, automake

Although one can increment a NULL pointer, it leads to unexpected results ;)
  src/mgga_c_r2scanl.c
  src/mgga_x_r2scanl.c
  src/mgga_x_scanl.c
Due: cmake, automake

Now the deorbitalized functionals should pass the tests again
  src/mgga_c_scanl.c
  src/mgga_x_scanl.c
Due: cmake, automake

Now the deorbitalized functionals should pass the tests again
  src/mgga_c_scanl.c
  src/mgga_x_r2scanl.c
  src/mgga_x_scanl.c
Due: cmake, automake

Implemented lc_bop. I name it "lc" and not "lrc" as long-range corrected seems to be "lc" in libxc...
  libxc.bib
  src/hyb_gga_xc_lc_blyp.c
  src/references.c
  src/references.h
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.H.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.H.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.Li.unpol.1.bz2
Due: cmake, automake

Add parameters and tests for lc-bop
  src/hyb_gga_xc_lc_blyp.c
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.H.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.H.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lc_bop.Li.unpol.1.bz2
Due: cmake, automake

Remove a spurious line
  src/hyb_gga_xc_lc_blyp.c
Due: cmake, automake

Functionals added
  ChangeLog.md
Due: none

I had changed dimensions to be size_t (which is logical), so python interface has to be changed.
  pylibxc/structs.py
Due: python

Fortran library produced by CMake should be soversioned.
  CMakeLists.txt
Due: none

I guess this is the right way to set the soversion
  configure.ac
Due: none

Revert "Merge branch 'fix_gpp' into 'master'"
  pylibxc/structs.py
  src/expint_e1.c
  src/genwiki.c
  src/integrate.c
  src/util.c
  src/util.h
  src/work_gga.c
  src/work_lda.c
  src/work_mgga.c
  src/xc-threshold.c
  src/xc.h
Due: python, cmake, automake

Rename the min() and max() macros to m_min() and m_max()
  src/expint_e1.c
  src/integrate.c
  src/util.c
  src/util.h
  src/work_gga.c
  src/work_lda.c
  src/work_mgga.c
Due: cmake, automake

Path conditions:
  python: any of: pylibxc/
  cmake: any of: src/
  automake: any of: src/
