Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

.codecov.yml:

coverage:
  status:
    project:
      default: off
      automake:
        flags: automake
      cmake:
        flags: cmake
      python:
        target: 90%
        flags: python


flags:
  python:
    paths:
      - pylibxc/
  cmake:
    paths:
      - src/
  automake:
    paths:
      - src/

Rebase with master.
  src/maple2c/gga_exc/gga_c_chachiyo.c
  src/maple2c/gga_exc/gga_c_pbe_erf_gws.c
  src/maple2c/gga_exc/gga_x_pbe_erf_gws.c
  src/maple2c/lda_exc/lda_c_pw_erf.c
Due: cmake, automake

Continuing to simplify the code by using the new interface.
  src/deorbitalize_func.c
  src/gga.c
  src/hgga.c
  src/io_variables.c
  src/lda.c
  src/mgga.c
  src/mix_func.c
  src/util.c
  src/util.h
  src/xc.h
  testsuite/xc-get_data.c
Due: cmake, automake

HGGA can now be mixed. Spring cleaning output_vars stuff.
  CMakeLists.txt
  src/deorbitalize_func.c
  src/gga.c
  src/hgga.c
  src/io_variables.c
  src/lda.c
  src/mgga.c
  src/mix_func.c
  src/util.h
  src/xc.h
  testsuite/xc-get_data.c
Due: cmake, automake

Centralized checking of variables.
  src/deorbitalize_func.c
  src/gga.c
  src/hgga.c
  src/io_variables.c
  src/lda.c
  src/mgga.c
  src/xc.h
Due: cmake, automake

Started fixing the input variables
  src/mgga.c
  src/xc.h
Due: cmake, automake

input_variables seem to work.
  src/deorbitalize_func.c
  src/gga.c
  src/hgga.c
  src/io_variables.c
  src/lda.c
  src/mgga.c
  src/mix_func.c
  src/util.h
  src/xc.h
  testsuite/xc-get_data.c
Due: cmake, automake

Add cutoff to scan_gx which lacks a formal limit and series expansion at x=0
  maple/mgga_exc/mgga_x_scan.mpl
Due: none

Implement a version of PBE exchange with fewer decimals for beta.
  src/funcs_gga.c
  src/funcs_key.c
  src/gga_x_pbe.c
  src/libxc_inc.f90
  src/xc_funcs.h
  testsuite/regression/gga_x/gga_x_pbe_mod.BrOH+.pol.0.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.BrOH+.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.BrOH+.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.BrOH.pol.0.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.BrOH.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.BrOH.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.BrOH.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.H.pol.0.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.H.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.H.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.H.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.Li.pol.0.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.Li.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.Li.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_pbe_mod.Li.unpol.1.bz2
Due: cmake, automake

Simplify gga_x_htbs with my_piecewise5
  maple/gga_exc/gga_x_htbs.mpl
  src/maple2c/gga_exc/gga_x_htbs.c
Due: cmake, automake

Simplify lda_c_gk72 with my_piecewise5
  maple/lda_exc/lda_c_gk72.mpl
  src/maple2c/lda_exc/lda_c_gk72.c
Due: cmake, automake

Better handling of sinc(x) in gga_c_revtca.
  maple/gga_exc/gga_c_revtca.mpl
  src/maple2c/gga_exc/gga_c_revtca.c
Due: cmake, automake

Remaple mgga_xc_b97mv and hyb_mgga_xc_wb97mv (issue 401).
  src/maple2c/mgga_exc/hyb_mgga_xc_wb97mv.c
  src/maple2c/mgga_exc/mgga_xc_b97mv.c
Due: cmake, automake

Added the (old) interface to the HGGAs, and simplified the construction of the interfaces. Removed duplicated CUDA code in the work_XXX_inc.c files.
  src/deorbitalize_func.c
  src/gga.c
  src/hgga.c
  src/lda.c
  src/mgga.c
  src/old_interface.c
  src/work_gga_inc.c
  src/work_hgga_inc.c
  src/work_lda_inc.c
  src/work_mgga_inc.c
  src/xc.h
Due: cmake, automake

Resolved some naming issues
  src/old_interface.c
  src/work_hgga_inc.c
  src/work_mgga_inc.c
Due: cmake, automake

Some issues with prototype and with initializer.
  src/old_interface.c
  src/xc.h
Due: cmake, automake

Fixing distcheck and cuda compilation
  .gitlab-ci.yml
  src/Makefile.am
Due: cmake, automake

Had a sudo too much.
  .gitlab-ci.yml
Due: none

Next attempt: change repo
  .gitlab-ci.yml
Due: none

olda-interfaces.c in the wrong place of the Makefile.am
  src/Makefile.am
Due: cmake, automake

Cuda code did not compile
  src/work_mgga_inc.c
Due: cmake, automake

Forgot to remove one instance of XC_FLAGS_NEEDS_TAU in CUDA version of work_mgga
  src/work_mgga.c
Due: cmake, automake

Release 5.2.3.
  ChangeLog.md
  configure.ac
  pylibxc/version.py
Due: python

Bug in the name of the kxc routine
  src/old_interface.c
Due: cmake, automake

Fix cuda compilation in CI.
  .gitlab-ci.yml
Due: none

Tidy up an entry in the bibliography.
  libxc.bib
  src/references.c
Due: cmake, automake

The literature reference of O3LYP was missing in the source
  libxc.bib
  src/hyb_gga_xc_o3lyp.c
  src/references.c
  src/references.h
Due: cmake, automake

Fix an incorrect year in a reference
  libxc.bib
  src/gga_x_herman.c
  src/references.c
  src/references.h
Due: cmake, automake

Changelog from 5.2.x.
  ChangeLog.md
Due: none

Add note in code about HCTH/147 c5 parameter value
  src/gga_xc_b97.c
Due: cmake, automake

Drop spurious file
  maple/mgga_exc/mgga_c_rmggac_test.mpl
Due: none

Flush output file for each generated variant
  scripts/maple2c_lib/utils.py
Due: none

Clean up bibliography and update VCML with published reference
  libxc.bib
  src/mgga_x_vcml.c
  src/references.c
  src/references.h
Due: cmake, automake

Add functions to access libxc BibTeX reference keys from functionals.
  pylibxc/functional.py
  pylibxc/structs.py
  pylibxc/util.py
  scripts/get_references.py
  src/func_reference.c
  src/libxc_master.F90
  src/references.c
  src/version.c
  src/xc-info.c
  src/xc.h
Due: python, cmake, automake
