Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

Added a cuda build.
  .gitlab-ci.yml
Due: none

Do not use time in cuda image.
  .gitlab-ci.yml
Due: none

Use to builds one with nvcc cuda and another one with nvcc but cuda disabled.
  .gitlab-ci.yml
Due: none

Declare an artifact for the testsuite log.
  .gitlab-ci.yml
Due: none

Do not run make check for the moment.
  .gitlab-ci.yml
Due: none

Increased the timeout time for tests in cmake.
  testsuite/CMakeLists.txt
Due: none

Add cuda support to the cmake build, enabled by -DENABLE_CUDA=ON. Added a gitlab CI build for this.
  .gitlab-ci.yml
  CMakeLists.txt
  config.h.cmake.in
  testsuite/CMakeLists.txt
Due: none

For the tests, allocate data in GPU memory (instead of mamanged memory). This would fail if there is any memory access from the CPU.
  testsuite/xc-regression.c
Due: none

Make the deorthogonalize code work with cuda.
  .gitlab-ci.yml
  CMakeLists.txt
  src/deorbitalize_func.c
Due: cmake, automake

Missing const in function argument.
  src/util.h
Due: cmake, automake

Missing GPU_FUNCTION declaration.
  src/faddeeva.c
Due: cmake, automake

HYB_GGA_XC_LC_BLYP_EA was not tagged as a hybrid
  src/hyb_gga_xc_lc_blyp.c
Due: cmake, automake

Print out hybrids in genwiki
  src/genwiki.c
Due: cmake, automake

5.1.3 changelog
  ChangeLog.md
Due: none

Tag version 5.1.3 in configure and pylibxc
  configure.ac
  pylibxc/version.py
Due: python

Port 5.1.3 entry in configure.ac
  configure.ac
Due: none

Fix build without any derivatives (#304)
  scripts/maple2c_work.pm
  src/maple2c/gga_vxc/gga_x_lb.c
  src/maple2c/lda_vxc/lda_xc_tih.c
  src/maple2c/mgga_vxc/mgga_x_2d_prp10.c
  src/maple2c/mgga_vxc/mgga_x_tb09.c
Due: cmake, automake

Bump version in configure and pylibxc
  configure.ac
  pylibxc/version.py
Due: python

B3LYP3 and MCAM-B3LYP are hybrids, and the latter is a CAM functional
  src/hyb_gga_xc_b3lyp.c
  src/hyb_gga_xc_cam_b3lyp.c
Due: cmake, automake

Fix GPU build
  src/lda_x_1d_exponential.c
Due: cmake, automake

Set auto to int
  src/mix_func.c
  src/work_gga.c
  src/work_lda.c
  src/work_mgga.c
Due: cmake, automake

Fix warnings which are in compilation process for GPU target
  src/lda_x_1d_exponential.c
  src/work_gga.c
  src/work_lda.c
  src/work_mgga.c
Due: cmake, automake

Use C++98 everywhere
  .gitlab-ci.yml
  CMakeLists.txt
  README.md
  src/util.h
Due: cmake, automake

Forgot this file.
  src/gga_xc_vdw_df.c
Due: cmake, automake

Started rewriting/cleaning/extending the hybrid part. Still does not compile.
  maple/gga_exc/gga_x_ityh.mpl
  maple/gga_exc/gga_x_sfat.mpl
  maple/gga_exc/gga_x_sfat_pbe.mpl
  maple/gga_exc/gga_x_wpbeh.mpl
  maple/lda_exc/lda_c_pmgb06.mpl
  maple/lda_exc/lda_x_erf.mpl
  maple/util.mpl
  src/functionals.c
  src/gga_x_hjs.c
  src/gga_x_ityh.c
  src/gga_x_sfat.c
  src/gga_x_sfat_pbe.c
  src/gga_x_wpbeh.c
  src/hybrids.c
  src/lda_c_pmgb06.c
  src/lda_x_erf.c
  src/maple2c/gga_exc/gga_x_hjs.c
  src/maple2c/gga_exc/gga_x_ityh.c
  src/maple2c/gga_exc/gga_x_sfat.c
  src/maple2c/gga_exc/gga_x_sfat_pbe.c
  src/maple2c/gga_exc/gga_x_wpbeh.c
  src/maple2c/lda_exc/lda_c_pmgb06.c
  src/maple2c/lda_exc/lda_x_erf.c
  src/mix_func.c
  src/util.c
  src/util.h
  src/work_gga.c
  src/work_lda.c
  src/work_mgga.c
  src/xc.h
Due: cmake, automake

When LibXC is compiled for Python, as many as possible threads are used
  setup.py
Due: none

Fix mgga_x_2d_prhg07 functional: it is 2D functional
  src/mgga_x_2d_prhg07.c
Due: cmake, automake

Fix hyb_gga_xc_b2plyp and implement hyb_gga_xc_b2gpplyp.
  libxc.bib
  src/hyb_gga_xc_b2plyp.c
  src/references.c
  src/references.h
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2gpplyp.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2gpplyp.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2gpplyp.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2gpplyp.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2gpplyp.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2gpplyp.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2gpplyp.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2gpplyp.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2gpplyp.H.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2gpplyp.H.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2gpplyp.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2gpplyp.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2gpplyp.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2gpplyp.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2gpplyp.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2gpplyp.Li.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.H.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.H.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b2plyp.Li.pol.1.bz2
Due: cmake, automake

Now it compiles. I already fixed a few bugs, but some functionals are still not working.
  maple/mgga_exc/hyb_mgga_x_pjs18.mpl
  src/gga_x_hjs.c
  src/gga_x_ityh_pbe.c
  src/hyb_gga_xc_b2plyp.c
  src/hyb_gga_xc_camy_b3lyp.c
  src/hyb_gga_xc_hse.c
  src/hyb_mgga_x_pjs18.c
  src/maple2c/mgga_exc/hyb_mgga_x_pjs18.c
  src/mgga_c_b94.c
  src/util.c
  src/xc-sanity.c
Due: cmake, automake

Path conditions:
  python: any of: pylibxc/
  cmake: any of: src/
  automake: any of: src/
