Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

.codecov.yml:

coverage:
  status:
    project:
      default: off
      automake:
        flags: automake
      cmake:
        flags: cmake
      python:
        target: 90%
        flags: python


flags:
  python:
    paths:
      - pylibxc/
  cmake:
    paths:
      - src/
  automake:
    paths:
      - src/

Try to fix tests
  src/xc.h
Due: cmake, automake

Add missing files
  src/Makefile.am
Due: cmake, automake

Undo another API breakage
  src/xc.h
Due: cmake, automake

xc-regression needs to call different orders separately
  testsuite/xc-regression.c
Due: none

Fix bug in check; make error message more informative
  src/gga.c
Due: cmake, automake

A couple of bugs corrected.
  src/mgga.c
  src/work_mgga_inc.c
Due: cmake, automake

Fix CUDA code
  src/work_gga_inc.c
  src/work_lda_inc.c
Due: cmake, automake

Allocate out in GPU
  src/work_gga_inc.c
  src/work_lda_inc.c
Due: cmake, automake

Fix MGGA (not tested)
  src/work_mgga_inc.c
Due: cmake, automake

Evaluate splines in GPU
  src/hyb_gga_xc_case21.c
Due: cmake, automake

Mixed functionals should be working. Note that this uses still the old interface, and will likely be changed in 6.0
  src/gga.c
  src/lda.c
  src/mgga.c
  src/mix_func.c
Due: cmake, automake

Add missing file
  src/Makefile.am
Due: cmake, automake

Bug fix: complicated issue with the initialization of the variables. Now the tests should pass.
  src/deorbitalize_func.c
Due: cmake, automake

adopt mgga_x_vcml to new code
  src/mgga_x_vcml.c
Due: cmake, automake

More adaptation of mgga_x_vcml
  src/maple2c/mgga_exc/mgga_x_vcml.c
  src/mgga_x_vcml.c
Due: cmake, automake

mgga_c_b94 should be generated at order 3
  maple/mgga_exc/Makefile.am
Due: none

Remove duplicates from makefile
  maple/lda_exc/Makefile.am
Due: none

Make pointer checks in maple2c consistent
  scripts/maple2c_lib/utils.py
Due: none

Rectify implementation of lda_c_karasiev and lda_c_karasiev_mod.
  maple/lda_exc/lda_c_chachiyo.mpl
  src/lda_c_chachiyo.c
  src/lda_c_chachiyo_mod.c
  src/maple2c/lda_exc/lda_c_chachiyo.c
  src/maple2c/lda_exc/lda_c_chachiyo_mod.c
  testsuite/regression/lda_c/lda_c_karasiev.BrOH+.pol.0.bz2
  testsuite/regression/lda_c/lda_c_karasiev.BrOH+.pol.1.bz2
  testsuite/regression/lda_c/lda_c_karasiev.BrOH+.unpol.0.bz2
  testsuite/regression/lda_c/lda_c_karasiev.BrOH+.unpol.1.bz2
  testsuite/regression/lda_c/lda_c_karasiev.BrOH.pol.0.bz2
  testsuite/regression/lda_c/lda_c_karasiev.BrOH.pol.1.bz2
  testsuite/regression/lda_c/lda_c_karasiev.BrOH.unpol.0.bz2
  testsuite/regression/lda_c/lda_c_karasiev.BrOH.unpol.1.bz2
  testsuite/regression/lda_c/lda_c_karasiev.H.pol.0.bz2
  testsuite/regression/lda_c/lda_c_karasiev.H.pol.1.bz2
  testsuite/regression/lda_c/lda_c_karasiev.H.unpol.0.bz2
  testsuite/regression/lda_c/lda_c_karasiev.H.unpol.1.bz2
  testsuite/regression/lda_c/lda_c_karasiev.Li.pol.0.bz2
  testsuite/regression/lda_c/lda_c_karasiev.Li.pol.1.bz2
  testsuite/regression/lda_c/lda_c_karasiev.Li.unpol.0.bz2
  testsuite/regression/lda_c/lda_c_karasiev.Li.unpol.1.bz2
  testsuite/regression/lda_c/lda_c_karasiev_mod.BrOH+.pol.0.bz2
  testsuite/regression/lda_c/lda_c_karasiev_mod.BrOH+.pol.1.bz2
  testsuite/regression/lda_c/lda_c_karasiev_mod.BrOH+.unpol.0.bz2
  testsuite/regression/lda_c/lda_c_karasiev_mod.BrOH+.unpol.1.bz2
  testsuite/regression/lda_c/lda_c_karasiev_mod.BrOH.pol.0.bz2
  testsuite/regression/lda_c/lda_c_karasiev_mod.BrOH.pol.1.bz2
  testsuite/regression/lda_c/lda_c_karasiev_mod.BrOH.unpol.0.bz2
  testsuite/regression/lda_c/lda_c_karasiev_mod.BrOH.unpol.1.bz2
  testsuite/regression/lda_c/lda_c_karasiev_mod.H.pol.0.bz2
  testsuite/regression/lda_c/lda_c_karasiev_mod.H.pol.1.bz2
  testsuite/regression/lda_c/lda_c_karasiev_mod.H.unpol.0.bz2
  testsuite/regression/lda_c/lda_c_karasiev_mod.H.unpol.1.bz2
  testsuite/regression/lda_c/lda_c_karasiev_mod.Li.pol.0.bz2
  testsuite/regression/lda_c/lda_c_karasiev_mod.Li.pol.1.bz2
  testsuite/regression/lda_c/lda_c_karasiev_mod.Li.unpol.0.bz2
  testsuite/regression/lda_c/lda_c_karasiev_mod.Li.unpol.1.bz2
Due: cmake, automake

Added support to hyper-GGAs in the maple2c script. Also implemented the first one by Jaramillo et al.
  configure.ac
  maple/hgga_exc/Makefile.am
  maple/hgga_exc/hgga_x_jse_b88.mpl
  maple/util.mpl
  scripts/maple2c.py
  scripts/maple2c_lib/hgga.py
  scripts/maple2c_lib/utils.py
  src/maple2c/hgga_exc/Makefile.am
  src/maple2c/hgga_exc/hgga_x_jse_b88.c
Due: cmake, automake

Disable polarized Li vxc test for vcml, which appears to be numerically unstable...
  testsuite/regression/mgga_x/disabled/mgga_x_vcml.Li.pol.1.bz2
  testsuite/regression/mgga_xc/disabled/mgga_xc_vcml_rvv10.Li.pol.1.bz2
Due: none

Clean up code in util.c
  src/util.c
Due: cmake, automake

wB97M-V uses set_ext_params instead of hardcoded in maple
  maple/mgga_exc/hyb_mgga_xc_wb97mv.mpl
  maple/mgga_exc/mgga_xc_b97mv.mpl
  src/hyb_mgga_xc_wb97mv.c
  src/mgga_xc_b97mv.c
Due: cmake, automake

Final literature reference for r++SCAN and r4SCAN.
  libxc.bib
  src/mgga_c_rppscan.c
  src/mgga_x_r4scan.c
  src/mgga_x_rppscan.c
  src/references.c
  src/references.h
Due: cmake, automake

Port hyb_mgga_xc_br89 to the old api
  src/hyb_mgga_xc_br3p86.c
Due: cmake, automake

Convert all Perl scripts to Python.
  Makefile.am
  scripts/Makefile.am
  scripts/get_funcs.pl
  scripts/get_functional_info.py
  scripts/get_references.pl
  scripts/get_references.py
  scripts/maple2c.pl
  scripts/maple2c.py
  scripts/maple2c_derivatives.pm
  scripts/maple2c_lib/gga.py
  scripts/maple2c_lib/lda.py
  scripts/maple2c_lib/mgga.py
  scripts/maple2c_lib/utils.py
  scripts/maple2c_work.pm
  scripts/math_deorbitalize.pl
  scripts/math_deorbitalize.py
  src/Makefile.am
  src/funcs_gga.c
  src/funcs_key.c
  src/funcs_lda.c
  src/funcs_mgga.c
  src/libxc_inc.f90
  src/references.c
  src/references.h
  src/xc_funcs.h
  src/xc_funcs_worker.h
  testsuite/Makefile.am
  testsuite/xc-reference.pl
Due: cmake, automake

Add hyb_gga_xc_b3p86_nwchem
  src/hyb_gga_xc_b3lyp.c
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.H.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.H.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_b3p86_nwchem.Li.unpol.1.bz2
Due: cmake, automake

fix flake8
  pylibxc/functional.py
  scripts/get_functional_info.py
  scripts/get_references.py
  scripts/maple2c.py
  scripts/maple2c_lib/utils.py
Due: python

get_functional_info didn't check for duplicate ids between families
  scripts/get_functional_info.py
Due: none

cmake updates: rpath, vars, xhost, pkgconfig
  CMakeLists.txt
  cmake/JoinPaths.cmake
  cmake/LibxcConfig.cmake.in
  cmake/Makefile.am
  cmake/libxc.pc.in
  cmake/libxcf03.pc.in
  cmake/xhost.cmake
Due: none

XC_FLAGS_NEEDS_TAU doesn't exist in this release
  scripts/maple2c_lib/utils.py
Due: none
