Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

Added mgga_x_edmgga
  CMakeLists.txt
  libxc.bib
  maple/mgga_exc/Makefile.am
  maple/mgga_exc/mgga_x_edmgga.mpl
  src/Makefile.am
  src/maple2c/mgga_exc/Makefile.am
  src/maple2c/mgga_exc/mgga_x_edmgga.c
  src/mgga_x_edmgga.c
  src/references.c
  src/references.h
  testsuite/regression/mgga_x/mgga_x_edmgga.BrOH+.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.BrOH+.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.BrOH+.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.BrOH+.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.BrOH.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.BrOH.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.BrOH.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.BrOH.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.BrOH.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.BrOH.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.H.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.H.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.H.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.H.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.H.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.H.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.Li.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.Li.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.Li.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.Li.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.Li.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_edmgga.Li.unpol.2.bz2
Due: cmake, automake

Disabling failing tests. EdMGGA seems to be a very unstable functional.
  testsuite/regression/mgga_x/disabled/mgga_x_edmgga.BrOH+.pol.0.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_edmgga.BrOH+.pol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_edmgga.BrOH+.unpol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_edmgga.BrOH.pol.0.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_edmgga.BrOH.pol.1.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_edmgga.BrOH.pol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_edmgga.BrOH.unpol.0.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_edmgga.BrOH.unpol.1.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_edmgga.BrOH.unpol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_edmgga.H.pol.0.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_edmgga.H.unpol.0.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_edmgga.Li.pol.0.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_edmgga.Li.pol.1.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_edmgga.Li.pol.2.bz2
Due: none

Implemented 6-311G** refitted variant of B88 exchange.
  libxc.bib
  src/gga_x_b88.c
  src/references.c
  src/references.h
  testsuite/regression/gga_x/gga_x_b88_6311g.BrOH+.pol.0.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.BrOH+.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.BrOH+.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.BrOH+.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.BrOH.pol.0.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.BrOH.pol.1.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.BrOH.pol.2.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.BrOH.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.BrOH.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.BrOH.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.H.pol.0.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.H.pol.1.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.H.pol.2.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.H.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.H.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.H.unpol.2.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.Li.pol.0.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.Li.pol.1.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.Li.pol.2.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.Li.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.Li.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_b88_6311g.Li.unpol.2.bz2
Due: cmake, automake

Disable failing tests
  testsuite/regression/gga_x/disabled/gga_x_b88_6311g.BrOH+.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_b88_6311g.BrOH.pol.2.bz2
  testsuite/regression/gga_x/disabled/gga_x_b88_6311g.Li.pol.2.bz2
Due: none

get/set ext_params now has a more unified interface.
  pylibxc/functional.py
  src/func_info.c
  src/functionals.c
  src/libxc_master.F03
  src/libxc_master.F90
  src/xc.h
Due: python, cmake, automake

Enforce that t-x^2/8 is always larger or equal to zero, as it should be.
  maple/mgga_exc/mgga_c_rscan.mpl
  maple/mgga_exc/mgga_x_rscan.mpl
  src/maple2c/mgga_exc/mgga_c_rscan.c
  src/maple2c/mgga_exc/mgga_x_rscan.c
  testsuite/regression/mgga_c/mgga_c_rscan.H.unpol.2.bz2
  testsuite/regression/mgga_x/mgga_x_rscan.H.pol.2.bz2
  testsuite/regression/mgga_x/mgga_x_rscan.H.unpol.2.bz2
Due: cmake, automake

Changed the cutoff of the density to 1e-11 to avoid NaNs.
  src/mgga_x_rscan.c
Due: cmake, automake

Usual disabling of the failing tests...
  testsuite/regression/mgga_x/disabled/mgga_x_gdme_0.BrOH+.pol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_gdme_0.BrOH.pol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_gdme_0.Li.pol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_gdme_kos.BrOH+.pol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_gdme_kos.BrOH.pol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_gdme_kos.Li.pol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_gdme_vt.BrOH+.pol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_gdme_vt.BrOH.pol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_gdme_vt.Li.pol.2.bz2
Due: none

merge lta and tlda into single file.
  CMakeLists.txt
  maple/mgga_exc/Makefile.am
  maple/mgga_exc/mgga_x_lta.mpl
  maple/mgga_exc/mgga_x_tlda.mpl
  src/Makefile.am
  src/maple2c/mgga_exc/Makefile.am
  src/maple2c/mgga_exc/mgga_x_lta.c
  src/maple2c/mgga_exc/mgga_x_tlda.c
  src/mgga_x_gdme.c
  src/mgga_x_lta.c
  src/mgga_x_tlda.c
Due: cmake, automake

remove mk00 from cmake
  CMakeLists.txt
Due: none

Added lda_x_sloc
  CMakeLists.txt
  libxc.bib
  maple/lda_exc/Makefile.am
  maple/lda_exc/lda_x_sloc.mpl
  src/Makefile.am
  src/lda_x_sloc.c
  src/maple2c/lda_exc/Makefile.am
  src/maple2c/lda_exc/lda_x_sloc.c
  src/references.c
  src/references.h
  testsuite/regression/lda_x/lda_x_sloc.BrOH+.pol.0.bz2
  testsuite/regression/lda_x/lda_x_sloc.BrOH+.pol.1.bz2
  testsuite/regression/lda_x/lda_x_sloc.BrOH+.pol.2.bz2
  testsuite/regression/lda_x/lda_x_sloc.BrOH+.unpol.0.bz2
  testsuite/regression/lda_x/lda_x_sloc.BrOH+.unpol.1.bz2
  testsuite/regression/lda_x/lda_x_sloc.BrOH+.unpol.2.bz2
  testsuite/regression/lda_x/lda_x_sloc.BrOH.pol.0.bz2
  testsuite/regression/lda_x/lda_x_sloc.BrOH.pol.1.bz2
  testsuite/regression/lda_x/lda_x_sloc.BrOH.pol.2.bz2
  testsuite/regression/lda_x/lda_x_sloc.BrOH.unpol.0.bz2
  testsuite/regression/lda_x/lda_x_sloc.BrOH.unpol.1.bz2
  testsuite/regression/lda_x/lda_x_sloc.BrOH.unpol.2.bz2
  testsuite/regression/lda_x/lda_x_sloc.H.pol.0.bz2
  testsuite/regression/lda_x/lda_x_sloc.H.pol.1.bz2
  testsuite/regression/lda_x/lda_x_sloc.H.pol.2.bz2
  testsuite/regression/lda_x/lda_x_sloc.H.unpol.0.bz2
  testsuite/regression/lda_x/lda_x_sloc.H.unpol.1.bz2
  testsuite/regression/lda_x/lda_x_sloc.H.unpol.2.bz2
  testsuite/regression/lda_x/lda_x_sloc.Li.pol.0.bz2
  testsuite/regression/lda_x/lda_x_sloc.Li.pol.1.bz2
  testsuite/regression/lda_x/lda_x_sloc.Li.pol.2.bz2
  testsuite/regression/lda_x/lda_x_sloc.Li.unpol.0.bz2
  testsuite/regression/lda_x/lda_x_sloc.Li.unpol.1.bz2
  testsuite/regression/lda_x/lda_x_sloc.Li.unpol.2.bz2
Due: cmake, automake

Further fixes to xcinfo.f90.
  examples/xcinfo.f90
Due: none

Number references starting from 1
  examples/xcinfo.f90
Due: none

Accept parameters for lda_x_sloc
  maple/lda_exc/lda_x_sloc.mpl
  src/lda_x_sloc.c
  src/maple2c/lda_exc/lda_x_sloc.c
Due: cmake, automake

Implemented QTP17 functional.
  libxc.bib
  src/hyb_gga_xc_b3lyp.c
  src/references.c
  src/references.h
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.BrOH+.pol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.BrOH+.unpol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.BrOH.pol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.BrOH.unpol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.H.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.H.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.H.pol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.H.unpol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.Li.pol.2.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.Li.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_qtp17.Li.unpol.2.bz2
Due: cmake, automake

Disable failing test
  testsuite/regression/hyb_gga_xc/disabled/hyb_gga_xc_qtp17.Li.pol.2.bz2
Due: none

External parameters for gga_x_ev93.
  maple/gga_exc/gga_x_ev93.mpl
  src/gga_x_ev93.c
  src/maple2c/gga_exc/gga_x_ev93.c
Due: cmake, automake

Another attempt at rlda
  maple/mgga_exc/mgga_x_rlda.mpl
  src/maple2c/mgga_exc/mgga_x_rlda.c
  src/mgga_x_rlda.c
Due: cmake, automake

Disabling tests
  testsuite/regression/mgga_c/disabled/mgga_c_revtm.BrOH+.unpol.2.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_revtm.BrOH.unpol.2.bz2
  testsuite/regression/mgga_c/disabled/mgga_c_revtm.Li.pol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_revtm.BrOH+.pol.2.bz2
  testsuite/regression/mgga_x/disabled/mgga_x_revtm.Li.pol.2.bz2
Due: none

Still one test failing
  testsuite/regression/mgga_x/disabled/mgga_x_revtm.BrOH.pol.2.bz2
Due: none

pylibxc should use intc not int32.
  pylibxc/util.py
Due: python

External parameters for ft97 exchange.
  src/gga_x_ft97.c
Due: cmake, automake

External parameters for gga_x_ol2.
  src/gga_x_ol2.c
Due: cmake, automake

Mark XC_FLAGS_HYB_LC and XC_FLAGS_HYB_LCY as deprecated.
  src/hyb_gga_xc_lcy_blyp.c
  src/hyb_gga_xc_lcy_pbe.c
  src/xc-info.c
  src/xc-sanity.c
  src/xc.h
Due: cmake, automake

Ctypes load error
  pylibxc/core.py
Due: python

Put explicitly the values of the constants in ol2.
  src/gga_x_ol2.c
Due: cmake, automake

Add higher derivative flags to several mix functionals.
  src/hyb_gga_xc_cam_qtp.c
  src/hyb_gga_xc_camy_b3lyp.c
  src/hyb_gga_xc_camy_blyp.c
  src/hyb_gga_xc_lcy_blyp.c
  src/hyb_gga_xc_lcy_pbe.c
  src/hyb_mgga_xc_b88b95.c
  src/hyb_mgga_xc_kcis.c
  src/hyb_mgga_xc_tpssh.c
  src/mgga_xc_hle17.c
  src/mgga_xc_otpss_d.c
Due: cmake, automake

More sanity checks for mixed functionals.
  src/mix_func.c
Due: cmake, automake

Add one more consistency check
  src/mix_func.c
Due: cmake, automake

The check code works, just need to make sure derivatives have also been compiled!
  src/mix_func.c
Due: cmake, automake

Better check for consistency of Laplacian flag.
  src/mix_func.c
Due: cmake, automake

Path conditions:
  python: any of: pylibxc/
  cmake: any of: src/
  automake: any of: src/
