Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

Add hyb_gga_xc_wb2plyp and hyb_gga_xc_wb2gpplyp.
  libxc.bib
  src/hyb_gga_xc_b2plyp.c
  src/references.c
  src/references.h
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2gpplyp.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2gpplyp.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2gpplyp.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2gpplyp.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2gpplyp.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2gpplyp.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2gpplyp.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2gpplyp.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2gpplyp.H.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2gpplyp.H.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2gpplyp.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2gpplyp.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2gpplyp.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2gpplyp.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2gpplyp.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2gpplyp.Li.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2plyp.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2plyp.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2plyp.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2plyp.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2plyp.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2plyp.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2plyp.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2plyp.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2plyp.H.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2plyp.H.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2plyp.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2plyp.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2plyp.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2plyp.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2plyp.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_wb2plyp.Li.unpol.1.bz2
Due: cmake, automake

Now the code compiles and all tests are green.
  src/gga_x_n12.c
  src/hyb_gga_xc_cam_b3lyp.c
  src/hyb_gga_xc_wb97.c
  src/hyb_mgga_x_js18.c
  src/hyb_mgga_x_pjs18.c
  src/util.c
  src/xc-threshold.c
Due: cmake, automake

Putting the hybrid parameters in an union makes the code much easier to follow
  src/functionals.c
  src/gga_x_lcgau.c
  src/gga_x_n12.c
  src/gga_x_s12.c
  src/gga_xc_vdw_df.c
  src/gga_xc_vv10.c
  src/hyb_gga_xc_b1wc.c
  src/hyb_gga_xc_b2plyp.c
  src/hyb_gga_xc_b3lyp.c
  src/hyb_gga_xc_cam_b3lyp.c
  src/hyb_gga_xc_cam_o3lyp.c
  src/hyb_gga_xc_camy_b3lyp.c
  src/hyb_gga_xc_hse.c
  src/hyb_gga_xc_lc_blyp.c
  src/hyb_gga_xc_o3lyp.c
  src/hyb_gga_xc_pbeh.c
  src/hyb_gga_xc_src1_blyp.c
  src/hyb_gga_xc_wb97.c
  src/hyb_mgga_x_js18.c
  src/hyb_mgga_x_pjs18.c
  src/hyb_mgga_xc_wb97mv.c
  src/hybrids.c
  src/mgga_c_b94.c
  src/mgga_x_m11.c
  src/mgga_x_scan.c
  src/util.c
  src/xc-info.c
  src/xc-threshold.c
  src/xc.h
Due: cmake, automake

Added one parameters toi the vdw functionals (a mixing parameter) and added the infrastructure for Grimme's vdw functionals.
  src/functionals.c
  src/gga_c_lyp.c
  src/gga_c_zvpbeloc.c
  src/gga_x_cap.c
  src/gga_x_s12.c
  src/gga_x_sogga11.c
  src/gga_xc_b97.c
  src/gga_xc_vdw_df.c
  src/gga_xc_vv10.c
  src/hyb_gga_xc_b1wc.c
  src/hyb_gga_xc_b3lyp.c
  src/hyb_gga_xc_edf2.c
  src/hyb_gga_xc_o3lyp.c
  src/hyb_gga_xc_pbeh.c
  src/hyb_mgga_x_dldf.c
  src/hyb_mgga_x_m05.c
  src/hyb_mgga_x_mvsh.c
  src/hyb_mgga_xc_b88b95.c
  src/hyb_mgga_xc_kcis.c
  src/hyb_mgga_xc_tpssh.c
  src/hybrids.c
  src/lda_x.c
  src/mgga_c_b94.c
  src/mgga_c_kcis.c
  src/mgga_c_revscan.c
  src/mgga_c_scan.c
  src/mgga_c_scanl.c
  src/mgga_x_edmgga.c
  src/mgga_x_m06l.c
  src/mgga_x_m08.c
  src/mgga_x_mn12.c
  src/mgga_x_ms.c
  src/mgga_x_scan.c
  src/mgga_x_tau_hcth.c
  src/mgga_xc_b97mv.c
  src/mgga_xc_b98.c
  src/util.h
  src/xc-sanity.c
  src/xc.h
Due: cmake, automake

Added the hybrid part to Grimme functionals. This should, of course, be tested.
  src/gga_x_ssb_sw.c
  src/gga_xc_b97.c
  src/gga_xc_oblyp_d.c
  src/hyb_gga_xc_wb97.c
  src/hybrids.c
  src/mgga_xc_otpss_d.c
Due: cmake, automake

implemented mtask
  libxc.bib
  maple/mgga_exc/mgga_x_task.mpl
  src/maple2c/mgga_exc/mgga_x_task.c
  src/mgga_x_task.c
  src/references.c
  src/references.h
  testsuite/regression/mgga_x/mgga_x_mtask.BrOH+.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mtask.BrOH+.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mtask.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mtask.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mtask.BrOH.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mtask.BrOH.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mtask.BrOH.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mtask.BrOH.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mtask.H.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mtask.H.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mtask.H.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mtask.H.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mtask.Li.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mtask.Li.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mtask.Li.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mtask.Li.unpol.1.bz2
Due: cmake, automake

Fix the description for the TASK external parameters
  src/mgga_x_task.c
Due: cmake, automake

Added the parameters of the D1, D2, and WB97 vdW form (I did not even know about this last one). Still missing are the D3 and D4 functionals (also did not know about D4).
  libxc.bib
  src/gga_x_ssb_sw.c
  src/gga_xc_b97.c
  src/gga_xc_oblyp_d.c
  src/hyb_gga_xc_wb97.c
  src/hybrids.c
  src/mgga_xc_otpss_d.c
  src/references.c
  src/references.h
  src/util.h
  src/xc.h
Due: cmake, automake

Fix CAP0 functional
  src/gga_x_cap.c
Due: cmake, automake

Improve pylibxc installation if CMake is used
  CMakeLists.txt
Due: none

Version was wrong in configure.ac
  configure.ac
Due: none

pylibxc can be installed directly by CMake (cd sourecdfnew/)
  CMakeLists.txt
Due: none

Fix pylibxc.get_core_path() for main branch of try()
  pylibxc/core.py
Due: python

Fix hyb_mgga_x_js18 which was broken in 5.1.2 and 5.1.3 due to an incorrect sed of the Maple source of the master branch.
  src/maple2c/mgga_exc/hyb_mgga_x_js18.c
Due: cmake, automake

Fix GGA_XC_LB07: it is supposed to be a range-separated hybrid, XC_HYB_GGA_XC_LB07.
  src/gga_xc_edf1.c
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lb07.BrOH+.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lb07.BrOH+.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lb07.BrOH+.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lb07.BrOH+.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lb07.BrOH.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lb07.BrOH.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lb07.BrOH.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lb07.BrOH.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lb07.H.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lb07.H.unpol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lb07.Li.pol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lb07.Li.pol.1.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lb07.Li.unpol.0.bz2
  testsuite/regression/hyb_gga_xc/hyb_gga_xc_lb07.Li.unpol.1.bz2
Due: cmake, automake

5.x.x edits to lb07
  src/gga_xc_edf1.c
Due: cmake, automake

Update changelog for 5.1.4 release
  ChangeLog.md
Due: none

Import library versioning info from 5.1.4
  configure.ac
Due: none

Fix LDA_XC_BN05: it is supposed to be a range-separated hybrid, XC_HYB_LDA_XC_BN05.
  CMakeLists.txt
  maple/lda_exc/Makefile.am
  maple/lda_exc/hyb_lda_xc_bn05.mpl
  src/Makefile.am
  src/hyb_lda_xc_bn05.c
  src/lda_xc_bn05.c
  src/maple2c/lda_exc/Makefile.am
  src/maple2c/lda_exc/hyb_lda_xc_bn05.c
  src/maple2c/lda_exc/lda_xc_bn05.c
Due: cmake, automake

Remaple gga_x_lb, lda_xc_tih, mgga_x_task, mgga_x_2d_prp10 and mgga_x_tb09.
  src/maple2c/gga_vxc/gga_x_lb.c
  src/maple2c/lda_vxc/lda_xc_tih.c
  src/maple2c/mgga_exc/mgga_x_task.c
  src/maple2c/mgga_vxc/mgga_x_2d_prp10.c
  src/maple2c/mgga_vxc/mgga_x_tb09.c
Due: cmake, automake

Get check_attenuation.mpl to run again since some of the Maple code was moved around
  maple/check_attenuation.mpl
Due: none

Fix initialization of XC_MICRO_VERSION in CMake
  CMakeLists.txt
Due: none

version is 5.1.5
  configure.ac
  pylibxc/version.py
Due: python

lda_x_yukawa and hyb_lda_xc_bn05 adaptation to 5.1.x series
  src/hyb_lda_xc_bn05.c
  src/lda_x_yukawa.c
  src/maple2c/lda_exc/hyb_lda_xc_bn05.c
  src/maple2c/lda_exc/lda_x_yukawa.c
Due: cmake, automake

Changelog for 5.1.5
  ChangeLog.md
Due: none

Implemented mgga_c_rregtm.
  CMakeLists.txt
  libxc.bib
  maple/mgga_exc/Makefile.am
  maple/mgga_exc/mgga_c_rregtm.mpl
  src/Makefile.am
  src/maple2c/mgga_exc/Makefile.am
  src/maple2c/mgga_exc/mgga_c_rregtm.c
  src/mgga_c_rregtm.c
  src/references.c
  src/references.h
  testsuite/regression/mgga_c/mgga_c_rregtm.BrOH+.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.BrOH+.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.BrOH.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.BrOH.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.BrOH.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.BrOH.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.H.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.H.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.H.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.H.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.Li.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.Li.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.Li.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_rregtm.Li.unpol.1.bz2
Due: cmake, automake

Convert these changes to new framework.
  maple/lda_exc/hyb_lda_xc_bn05.mpl
  maple/lda_exc/lda_x_yukawa.mpl
  src/gga_xc_edf1.c
  src/gga_xc_vdw_df.c
  src/hyb_gga_xc_pbe_dh.c
  src/hyb_lda_xc_bn05.c
  src/lda_x_yukawa.c
  src/maple2c/lda_exc/hyb_lda_xc_bn05.c
  src/maple2c/lda_exc/lda_x_yukawa.c
Due: cmake, automake

Path conditions:
  python: any of: pylibxc/
  cmake: any of: src/
  automake: any of: src/
