Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

.codecov.yml:

coverage:
  status:
    project:
      default: off
      automake:
        flags: automake
      cmake:
        flags: cmake
      python:
        target: 90%
        flags: python


flags:
  python:
    paths:
      - pylibxc/
  cmake:
    paths:
      - src/
  automake:
    paths:
      - src/

Finished initial implementation of gas22
  libxc.bib
  maple/b97mv.mpl
  maple/mgga_exc/Makefile.am
  maple/mgga_exc/hyb_mgga_xc_gas22.mpl
  maple/mgga_exc/hyb_mgga_xc_wb97mv.mpl
  maple/mgga_exc/mgga_xc_b97mv.mpl
  src/hyb_mgga_xc_gas22.c
  src/maple2c/mgga_exc/Makefile.am
  src/maple2c/mgga_exc/hyb_mgga_xc_gas22.c
  src/references.c
  src/references.h
Due: cmake, automake

Update funcs
  libxc.bib
  src/funcs_key.c
  src/funcs_mgga.c
  src/libxc_inc.f90
  src/references.c
  src/xc_funcs.h
Due: cmake, automake

os form was wrong
  maple/mgga_exc/hyb_mgga_xc_gas22.mpl
Due: none

Revert "os form was wrong"
  maple/mgga_exc/hyb_mgga_xc_gas22.mpl
Due: none

It seems the parameters were not being overwritten
  maple/mgga_exc/hyb_mgga_xc_gas22.mpl
Due: none

Implement vdW-DF-ahcx and vdW-DF2-ahbr based on a patch sent by Per Hyldgaard
  libxc.bib
  src/Makefile.am
  src/funcs_gga.c
  src/funcs_key.c
  src/gga_x_hjs.c
  src/hyb_gga_xc_vdw_ah.c
  src/libxc_inc.f90
  src/references.c
  src/references.h
  src/xc_funcs.h
Due: cmake, automake

Changes from @hyldgaar
  src/funcs_gga.c
  src/funcs_key.c
  src/gga_x_hjs.c
  src/hyb_gga_xc_vdw_ah.c
  src/libxc_inc.f90
  src/xc_funcs.h
Due: cmake, automake

Add the vdw_ah to CMakeLists
  CMakeLists.txt
Due: none

work_mgga_inc had not been fully ported from master branch
  src/work_mgga_inc.c
Due: cmake, automake

Fix memory allocation in xc-regression.c
  testsuite/xc-regression.c
Due: none

Make input_variables and output_variables more symmetric
  src/deorbitalize_func.c
  src/io_variables.c
  src/mix_func.c
  src/old_interface.c
  src/xc.h
  testsuite/xc-get_data.c
Due: cmake, automake

Added XC_FLAGS_NEEDS_TAU to Fortran interface
  src/libxc_master.F90
Due: cmake, automake

Revert "Added XC_FLAGS_NEEDS_TAU to Fortran interface"
  src/libxc_master.F90
Due: cmake, automake

Deleted two etsts that were giving small issues with g++.
  testsuite/regression/gga_x/gga_x_pbepow.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pbepow.BrOH+.unpol.1.bz2
Due: none

Resolve "gga_pow compilation with g++ is failing 2 tests"
  testsuite/regression/gga_x/gga_x_pbepow.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_pbepow.BrOH+.unpol.1.bz2
Due: none

Fix the incorrect implementation of mgga_c_revscan. This implementation is in excellent agreement with the original authors' reference implementation.
  maple/mgga_exc/mgga_c_revscan.mpl
  src/maple2c/mgga_exc/mgga_c_revscan.c
  testsuite/regression/mgga_c/disabled/mgga_c_revscan.H.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_revscan.BrOH+.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_revscan.BrOH+.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_revscan.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_revscan.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_revscan.BrOH.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_revscan.BrOH.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_revscan.BrOH.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_revscan.BrOH.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_revscan.H.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_revscan.H.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_revscan.H.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_revscan.Li.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_revscan.Li.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_revscan.Li.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_revscan.Li.unpol.1.bz2
Due: cmake, automake

Add XC_FLAGS_NEEDS_TAU to Fortran wrapper
  src/libxc_master.F90
Due: cmake, automake

Corrected Herman's functional
  CMakeLists.txt
  maple/gga_exc/gga_x_herman.mpl
  maple/mgga_exc/mgga_x_herman.mpl
  src/Makefile.am
  src/maple2c/gga_exc/Makefile.am
  src/maple2c/gga_exc/gga_x_herman.c
  src/maple2c/mgga_exc/Makefile.am
  src/maple2c/mgga_exc/mgga_x_herman.c
  src/mgga_x_herman.c
Due: cmake, automake

Use mgga not gga worker function
  src/mgga_x_herman.c
Due: cmake, automake

Update funcs
  src/funcs_gga.c
  src/funcs_key.c
  src/funcs_mgga.c
  src/libxc_inc.f90
  src/xc_funcs.h
Due: cmake, automake

Drop gga_x_herman
  maple/gga_exc/Makefile.am
Due: none

Add mgga_x_herman
  maple/mgga_exc/Makefile.am
Due: none

Extend comment
  maple/mgga_exc/mgga_x_herman.mpl
Due: none

Try out with added term
  maple/mgga_exc/mgga_x_herman.mpl
Due: none

Drop spurious file
  maple/mgga_exc/mgga_c_rmggac_test.mpl
Due: none

Flags missing
  src/mgga_x_herman.c
Due: cmake, automake

Sanity check external parameter name and description arrays
  src/functionals.c
Due: cmake, automake

Missing comma in mgga_xc_b97mv
  src/mgga_xc_b97mv.c
Due: cmake, automake

Fraction of exact exchange is now tunable in TPSSh, TPSS0 and revTPSSh.
  src/hyb_mgga_xc_tpssh.c
Due: cmake, automake

Drop gga_x_herman: the real functional described by Herman is a meta-GGA, it's real form is unclear, and the real functional seems pathologically unstable.
  CMakeLists.txt
  maple/gga_exc/Makefile.am
  maple/gga_exc/gga_x_herman.mpl
  src/Makefile.am
  src/funcs_gga.c
  src/funcs_key.c
  src/gga_x_herman.c
  src/libxc_inc.f90
  src/xc_funcs.h
  src/xc_funcs_removed.h
  testsuite/regression/gga_x/gga_x_herman.BrOH+.pol.0.bz2
  testsuite/regression/gga_x/gga_x_herman.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_herman.BrOH+.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_herman.BrOH+.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_herman.BrOH.pol.0.bz2
  testsuite/regression/gga_x/gga_x_herman.BrOH.pol.1.bz2
  testsuite/regression/gga_x/gga_x_herman.BrOH.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_herman.BrOH.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_herman.H.pol.0.bz2
  testsuite/regression/gga_x/gga_x_herman.H.pol.1.bz2
  testsuite/regression/gga_x/gga_x_herman.H.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_herman.H.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_herman.Li.pol.0.bz2
  testsuite/regression/gga_x/gga_x_herman.Li.pol.1.bz2
  testsuite/regression/gga_x/gga_x_herman.Li.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_herman.Li.unpol.1.bz2
Due: cmake, automake

Change version tag to 6.1.0.
  configure.ac
  pylibxc/version.py
Due: python

Changelog for 6.1.0
  ChangeLog.md
Due: none
