Repository ElectronicStructureLibrary/libxc: changes, and which Codecov flags are due for each by the changed paths.
All: python, cmake, automake

.codecov.yml:

coverage:
  status:
    project:
      default: off
      automake:
        flags: automake
      cmake:
        flags: cmake
      python:
        target: 90%
        flags: python


flags:
  python:
    paths:
      - pylibxc/
  cmake:
    paths:
      - src/
  automake:
    paths:
      - src/

Remove the "hybrid types" in favor of a simple bit-wise OR
  pylibxc/flags.py
  src/hybrids.c
  src/xc.h
Due: python, cmake, automake

Fix consistent typo
  pylibxc/functional.py
Due: python

More changes
  pylibxc/functional.py
  pylibxc/structs.py
  src/xc.h
Due: python, cmake, automake

Remove erroneous statement from pylibxc frontend
  pylibxc/functional.py
Due: python

Add project name into tests
  testsuite/CMakeLists.txt
Due: none

ext_params pointer
  pylibxc/structs.py
Due: python

Let's also check whether any flag occurred twice in xc_hyb_type and return the result through an integer pointer.
  src/hybrids.c
  src/xc.h
Due: cmake, automake

Fix vdw_wb97 flag (not sure why it exists)
  src/xc.h
Due: cmake, automake

It's probably better to have another function since passing pointers to C ints is annoying
  src/hybrids.c
  src/xc.h
Due: cmake, automake

More vdw flags
  pylibxc/flags.py
Due: python

Remove trailing whitespace
  pylibxc/structs.py
Due: python

Ensure that all elements of xc_dimensions are properly initialized
  src/functionals.c
Due: cmake, automake

Add debug output in Python frontend to try and solve segfault
  pylibxc/functional.py
Due: python

VV10 only has b and C
  src/gga_xc_vv10.c
  src/hyb_gga_xc_wb97.c
  src/hybrids.c
  src/mgga_c_revscan.c
  src/mgga_c_scan.c
  src/mgga_c_scanl.c
  src/mgga_xc_b97mv.c
  src/util.h
  src/xc.h
Due: cmake, automake

Use proper ctypes union for the hybrid params type
  pylibxc/structs.py
Due: python

This seems to work!
  pylibxc/structs.py
Due: python

Remove debug printout
  pylibxc/functional.py
Due: python

Fix compilation
  src/xc-sanity.c
Due: cmake, automake

Now the Fortran examples compile and run. Also, I took the opportunity to remove the LCA (don't even remember what that was) and the OEP families, as they have nothing to do with libxc.
  examples/basic.f90
  examples/xcinfo.f90
  src/libxc_master.F90
  src/util.c
  src/xc.h
Due: cmake, automake

There is no longer a function to get the vv10 coefficients.
  pylibxc/functional.py
Due: python

Added the missing routines in the fortran interface.
  src/libxc_master.F90
Due: cmake, automake

Deleted some vv10 calls in the python tests. The interface has anyway to be changed to the new way of handing hybrids.
  pylibxc/functional.py
  testsuite/pytest/test_functional.py
Due: python

Fix install directory of CMake file (#339).
  CMakeLists.txt
Due: none

Make eta an adjustable parameter in mgga_c_r2scan and add a new variant, mgga_c_r2scan01, requested by ABINIT developers
  maple/mgga_exc/mgga_c_r2scan.mpl
  src/maple2c/mgga_exc/mgga_c_r2scan.c
  src/mgga_c_r2scan.c
  testsuite/regression/mgga_c/mgga_c_r2scan01.BrOH+.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_r2scan01.BrOH+.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_r2scan01.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_r2scan01.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_r2scan01.BrOH.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_r2scan01.BrOH.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_r2scan01.BrOH.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_r2scan01.BrOH.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_r2scan01.H.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_r2scan01.H.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_r2scan01.H.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_r2scan01.H.unpol.1.bz2
  testsuite/regression/mgga_c/mgga_c_r2scan01.Li.pol.0.bz2
  testsuite/regression/mgga_c/mgga_c_r2scan01.Li.pol.1.bz2
  testsuite/regression/mgga_c/mgga_c_r2scan01.Li.unpol.0.bz2
  testsuite/regression/mgga_c/mgga_c_r2scan01.Li.unpol.1.bz2
Due: cmake, automake

Implement mgga_x_mcml.
  CMakeLists.txt
  libxc.bib
  maple/mgga_exc/Makefile.am
  maple/mgga_exc/mgga_x_mcml.mpl
  src/Makefile.am
  src/maple2c/mgga_exc/Makefile.am
  src/maple2c/mgga_exc/mgga_x_mcml.c
  src/mgga_x_mcml.c
  src/references.c
  src/references.h
  testsuite/regression/mgga_x/mgga_x_mcml.BrOH+.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.BrOH+.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.BrOH+.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.BrOH+.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.BrOH.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.BrOH.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.BrOH.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.BrOH.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.H.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.H.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.H.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.H.unpol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.Li.pol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.Li.pol.1.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.Li.unpol.0.bz2
  testsuite/regression/mgga_x/mgga_x_mcml.Li.unpol.1.bz2
Due: cmake, automake

Implementation of gga_x_q1d. The enhancement factor looks exactly like Fig. 7 in the paper, so I assume libxc is correct.
  CMakeLists.txt
  libxc.bib
  maple/gga_exc/Makefile.am
  maple/gga_exc/gga_x_q1d.mpl
  src/Makefile.am
  src/gga_x_q1d.c
  src/maple2c/gga_exc/Makefile.am
  src/maple2c/gga_exc/gga_x_q1d.c
  src/references.c
  src/references.h
  testsuite/regression/gga_x/gga_x_q1d.BrOH+.pol.0.bz2
  testsuite/regression/gga_x/gga_x_q1d.BrOH+.pol.1.bz2
  testsuite/regression/gga_x/gga_x_q1d.BrOH+.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_q1d.BrOH+.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_q1d.BrOH.pol.0.bz2
  testsuite/regression/gga_x/gga_x_q1d.BrOH.pol.1.bz2
  testsuite/regression/gga_x/gga_x_q1d.BrOH.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_q1d.BrOH.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_q1d.H.pol.0.bz2
  testsuite/regression/gga_x/gga_x_q1d.H.pol.1.bz2
  testsuite/regression/gga_x/gga_x_q1d.H.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_q1d.H.unpol.1.bz2
  testsuite/regression/gga_x/gga_x_q1d.Li.pol.0.bz2
  testsuite/regression/gga_x/gga_x_q1d.Li.pol.1.bz2
  testsuite/regression/gga_x/gga_x_q1d.Li.unpol.0.bz2
  testsuite/regression/gga_x/gga_x_q1d.Li.unpol.1.bz2
Due: cmake, automake

Fixed flags in python interface
  pylibxc/flags.py
  pylibxc/functional.py
  testsuite/pytest/test_functional.py
Due: python

Tau checks for mixed funcs
  src/mix_func.c
Due: cmake, automake

Actually need to handle tau, lapl, tau&lapl separately
  src/mix_func.c
Due: cmake, automake

Adjust mgga.c
  src/mgga.c
Due: cmake, automake

Adjust xc_regression for tau flag
  testsuite/xc-regression.c
Due: none

Fix faulty logic
  src/mgga.c
  src/mix_func.c
Due: cmake, automake

Add missing tau flags to mixed functionals
  src/hyb_mgga_x_mvsh.c
  src/hyb_mgga_xc_b88b95.c
  src/hyb_mgga_xc_kcis.c
  src/hyb_mgga_xc_tpssh.c
  src/mgga_xc_hle17.c
  src/mgga_xc_otpss_d.c
Due: cmake, automake
